{"openapi":"3.0.1","info":{"title":"MDM API V4","description":"Workspace ONE UEM MDM REST API V4","contact":{"name":"Workspace ONE UEM"},"version":"4"},"servers":[{"url":"https://as2596.awmdm.com/api/mdm"}],"paths":{"/profiles/{profileId}":{"get":{"tags":["ProfilesV4"],"summary":"New - Retrive profile details from Profile Id.","description":"Returns the full profile details, including all payloads associated with the profile.\r\nThe only payloads supported by this API are the Linux Wi-Fi, Credentials, and Custom Configuration payloads.","operationId":"ProfilesV4_GetDeviceProfileDetailsAsync","parameters":[{"name":"profileId","in":"path","description":"Profile Id(Required)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=4":{"schema":{"$ref":"#/components/schemas/DeviceProfileV4Entity"}},"application/xml;version=4":{"schema":{"$ref":"#/components/schemas/DeviceProfileV4Entity"}}}},"400":{"description":"1. {Invalid request} ","content":{"application/json;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. {Insufficient rights to read profile} ","content":{"application/json;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {Profile not found for this request.} ","content":{"application/json;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=4":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}}},"components":{"schemas":{"DeviceBulkActionRequestV4Model":{"required":["filter","action_name"],"type":"object","properties":{"filter":{"$ref":"#/components/schemas/DeviceActionSearchRequestModelV4"},"action_name":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28],"type":"integer","description":"Name of the action.","format":"int32","xml":{"name":"ActionName"}},"additional_input":{"$ref":"#/components/schemas/AdditionalInputModelV4"}},"description":"Model for bulk device action request.","example":{"filter":{"organization_group_uuid":"bf0184a8-100f-4602-ab73-66ca12aa20f4","user_group_uuids":["13a1309d-365c-41d5-878c-ff2b3f42321a"],"management_type":"UNKNOWN","ownerships":["CORPORATE_DEDICATED"],"compromised":"UNKNOWN","encrypted":"UNKNOWN","passcode_present":"UNKNOWN","enrollment_status":"UNKNOWN","compliance_status":"UNKNOWN","enrollment_history":"UNKNOWN","last_seen_days":{"minimum_value":1,"maximum_value":1},"smart_group_uuids":["b316753d-9a0f-475f-99e0-aa184bf2b13d"],"lost_mode_enabled":true,"ip_range":{"start":"127.0.0.1","end":"127.0.0.10"},"search_text":"user123","device_uuids":["36271d6d-543a-4560-aad5-3c2472f5aa2a"],"device_reassignment_supported":true,"device_reassignment_enabled":true,"android_enrollment_modes":["UNKNOWN"],"tag_uuids":["2cf93dbf-91ec-4989-8073-02d3ee8d00d1"],"content_compliance":"UNKNOWN","cpu_architecture_filters":["UNKNOWN"],"battery_level":{},"external_storage_mega_bytes":{},"internal_storage_mega_bytes":{},"platform":[{"device_type":0,"device_model":{"device_models":["Text value"],"versions":["Text value"]}}]},"action_name":"UNKNOWN","additional_input":{"change_ownership":{"ownership_type":"CORPORATE_DEDICATED"},"lock":{"reason":"Text value","message":"Text value","phone_number":"Text value","unlock_pin":"Text value","unlock_note":"Text value"},"manage_tags":{"assign_tags":[{"tag_avatar":"Text value","tag_name":"Text value","tag_type":1,"organization_uuid":"14934070-2b4b-47a0-9adf-9f26e909c74e","tag_uuid":"44de8fdf-d764-449a-a0cc-c647c3dba229"}],"unassign_tags":[{"tag_type":0,"organization_uuid":"00000000-0000-0000-0000-000000000000","tag_uuid":"00000000-0000-0000-0000-000000000000"}]},"send_message":{"message_type":"NONE","message_body":"Text value","subject":"Text value","is_html":true,"phone_number":"Text value","email_address":"Text value","application_uuid":"f3b6dfea-6f37-418f-8340-70b4beeeebcb","is_send_message_for_application":true},"enterprise_wipe":{"reason":"Text value","prevent_renenrollment":true,"disable_activation_lock":true,"end_user_wipe_message":"Text value","chromeos_enterprise_wipe_reason":"Text value"},"delete":{"reason":"Text value","disable_activation_lock":true,"release_device":true},"change_organization_group":{"organization_group_uuid":"2174ba1d-9762-498f-b99e-8e83ad78b30b"},"enable_lost_mode":{"phone_number":"Text value","message":"Text value","footnote":"Text value"},"device_wipe":{"reason":"Text value","notes_description":"Text value"},"remote_management":{"remote_management_step":0,"remote_management_feature":0,"remote_session_correlation_id":"Text value","register_device":true},"custom_mdm_command":{"command_xml":"Text value"},"override_job_log_level":{"override_job_log_level_type":"RESET_TO_DEFAULT","warning_message":"Text value"},"schedule_os_update":{"install_action":"DEFAULT"},"poweroff":{"reason":"Text value","clear_passcode":true}}}},"DeviceActionSearchRequestModelV4":{"required":["organization_group_uuid"],"type":"object","properties":{"organization_group_uuid":{"type":"string","description":"Organization group membership filter.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"user_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"A List of User group uuids.","xml":{"name":"UserGroupUuids"}},"management_type":{"enum":[0,1,2,3,4,5,6],"type":"integer","description":"Device model management type filter. e.g. 'APP_LEVEL', 'CATALOG', 'CONTAINER','MDM', etc.","format":"int32","xml":{"name":"ManagementType"}},"ownerships":{"type":"array","items":{"enum":[1,2,3,4],"type":"integer","format":"int32"},"description":"An array of ownership type values. e.g. 'CORPORATE_DEDICATED', 'CORPORATE_SHARED', 'EMPLOYEE_OWNED', etc.","xml":{"name":"Ownerships"}},"compromised":{"enum":[0,1,2],"type":"integer","description":"Specifies the compromised state of the device.","format":"int32","xml":{"name":"Compromised"}},"encrypted":{"enum":[0,1,2],"type":"integer","description":"Specifies the encryption state of the device.","format":"int32","xml":{"name":"Encrypted"}},"passcode_present":{"enum":[0,1,2],"type":"integer","description":"Specifies the existence of a passcode on the device.","format":"int32","xml":{"name":"PasscodePresent"}},"enrollment_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],"type":"integer","description":"Specifies the set of possible device enrollment states. e.g. 'ENROLLED','UNENROLLED', etc.","format":"int32","xml":{"name":"EnrollmentStatus"}},"compliance_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11],"type":"integer","description":"Specifies the set of possible compliance states for a device. e.g. 'COMPLIANT','NON_COMPLIANT', etc.","format":"int32","xml":{"name":"ComplianceStatus"}},"enrollment_history":{"enum":[0,1,2,3],"type":"integer","description":"Specifies the valid enrollment history filter options. e.g. 'PAST_DAY','PAST_WEEK','PAST_MONTH', etc.","format":"int32","xml":{"name":"EnrollmentHistory"}},"last_seen_days":{"$ref":"#/components/schemas/MinimumMaximumRangeModel"},"smart_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"List of smart group uuids.","xml":{"name":"SmartGroupUuids"}},"lost_mode_enabled":{"type":"boolean","description":"Device's lost mode value.","xml":{"name":"LostModeEnabled"}},"ip_range":{"$ref":"#/components/schemas/IpRangeModel"},"search_text":{"type":"string","description":"A string value by which devices are to be filtered by matching against device properties like 'friendly name', enrollment_user_name' etc.","xml":{"name":"SearchText"}},"device_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"An array containing device uuids.","xml":{"name":"DeviceUuids"}},"device_reassignment_supported":{"type":"boolean","description":"Device reassignment is supported or not.","xml":{"name":"DeviceReassignmentSupported"}},"device_reassignment_enabled":{"type":"boolean","description":"Device reassignment is enabled or not.","xml":{"name":"DeviceReassignmentEnabled"}},"android_enrollment_modes":{"type":"array","items":{"enum":[0,1,2,3,4],"type":"integer","format":"int32"},"description":"Enrollment mode for android devices.","xml":{"name":"AndroidEnrollmentModes"}},"tag_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"An array of device tag unique identifier.","xml":{"name":"TagUuids"}},"content_compliance":{"enum":[0,1,2],"type":"integer","description":"A string value by which devices to be filtered by matching against content compliance status.","format":"int32","xml":{"name":"ContentCompliance"}},"cpu_architecture_filters":{"type":"array","items":{"enum":[0,1,2,3,4,5,6],"type":"integer","format":"int32"},"description":"CPU architecture for Windows Desktop &amp; Mac OS Devices.","xml":{"name":"CpuArchitectureFilters"}},"battery_level":{"$ref":"#/components/schemas/MinimumMaximumRangeModel"},"external_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeModel"},"internal_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeModel"},"platform":{"type":"array","items":{"$ref":"#/components/schemas/PlatformFilterModelV4"},"description":"Platform filter model.","xml":{"name":"Platform"}}},"description":"Contains filters for device search."},"AdditionalInputModelV4":{"type":"object","properties":{"change_ownership":{"$ref":"#/components/schemas/ChangeOwnershipRequestModelV4"},"lock":{"$ref":"#/components/schemas/LockRequestModelV4"},"manage_tags":{"$ref":"#/components/schemas/ManageTagsRequestModelV4"},"send_message":{"$ref":"#/components/schemas/SendMessageRequestModelV4"},"enterprise_wipe":{"$ref":"#/components/schemas/EnterpriseWipeRequestModelV4"},"delete":{"$ref":"#/components/schemas/DeleteDeviceRequestModelV4"},"change_organization_group":{"$ref":"#/components/schemas/ChangeOrganizationGroupV4"},"enable_lost_mode":{"$ref":"#/components/schemas/EnableLostModeRequestModelV4"},"device_wipe":{"$ref":"#/components/schemas/DeviceWipeRequestModelV4"},"remote_management":{"$ref":"#/components/schemas/RemoteManagementRequestModelV4"},"custom_mdm_command":{"$ref":"#/components/schemas/CustomMdmCommandRequestModelV4"},"override_job_log_level":{"$ref":"#/components/schemas/OverrideJobLogLevelRequestModelV4"},"schedule_os_update":{"$ref":"#/components/schemas/ScheduleOsUpdateModelV4"},"poweroff":{"$ref":"#/components/schemas/PoweroffV4"}},"description":"Model for additional input required to perform an action."},"MinimumMaximumRangeModel":{"type":"object","properties":{"minimum_value":{"type":"integer","description":"Minimum value of the property.","format":"int32","xml":{"name":"MinimumValue"}},"maximum_value":{"type":"integer","description":"Maximum value of the property.","format":"int32","xml":{"name":"MaximumValue"}}},"description":"Minimum and Maximum range of the property values."},"IpRangeModel":{"required":["start","end"],"type":"object","properties":{"start":{"type":"string","description":"IP address range start value.","xml":{"name":"Start"}},"end":{"type":"string","description":"IP address range end value.","xml":{"name":"End"}}},"description":"IP address range criteria."},"PlatformFilterModelV4":{"type":"object","properties":{"device_type":{"enum":[0,1,2,3,4,5,6,7,8,9,10],"type":"integer","description":"Device type.","format":"int32","xml":{"name":"DeviceType"}},"device_model":{"$ref":"#/components/schemas/DeviceModelFilterV4"}},"description":"Platform filter model."},"ChangeOwnershipRequestModelV4":{"required":["ownership_type"],"type":"object","properties":{"ownership_type":{"enum":[1,2,3,4],"type":"integer","description":"Ownership type.","format":"int32","xml":{"name":"OwnershipType"}}},"description":"Model for change ownership request model."},"LockRequestModelV4":{"type":"object","properties":{"reason":{"type":"string","description":"Lock reason.","xml":{"name":"Reason"}},"message":{"type":"string","description":"Message to be send.","xml":{"name":"Message"}},"phone_number":{"type":"string","description":"Phone number.","xml":{"name":"PhoneNumber"}},"unlock_pin":{"type":"string","description":"UnlockPin is the pin that will be used to unlock the device after it has been locked.","xml":{"name":"UnlockPin"}},"unlock_note":{"type":"string","description":"UnlockNote is the note that will be displayed to the user when they unlock the device.","xml":{"name":"UnlockNote"}}},"description":"Model for lock request model."},"ManageTagsRequestModelV4":{"type":"object","properties":{"assign_tags":{"type":"array","items":{"$ref":"#/components/schemas/TagV2RequestModel"},"description":"Tags to be Assigned.","xml":{"name":"AssignTags"}},"unassign_tags":{"type":"array","items":{"$ref":"#/components/schemas/TagV2RequestModel"},"description":"Tags to be Un-Assigned.","xml":{"name":"UnassignTags"}}},"description":"Manage Tags Request."},"SendMessageRequestModelV4":{"required":["message_type","message_body"],"type":"object","properties":{"message_type":{"enum":[0,1,2,3],"type":"integer","description":"Message type.","format":"int32","xml":{"name":"MessageType"}},"message_body":{"type":"string","description":"Body text of the message.","xml":{"name":"MessageBody"}},"subject":{"type":"string","description":"Subject text of the message.","xml":{"name":"Subject"}},"is_html":{"type":"boolean","description":"A value indicating whether the message is html, only for Emails.","xml":{"name":"IsHtml"}},"phone_number":{"type":"string","description":"Phone number.","xml":{"name":"PhoneNumber"}},"email_address":{"type":"string","description":"Email address.","xml":{"name":"EmailAddress"}},"application_uuid":{"type":"string","description":"The unique identifier of the application.","format":"uuid","xml":{"name":"ApplicationUuid"},"example":"00000000-0000-0000-0000-000000000000"},"is_send_message_for_application":{"type":"boolean","description":"A value indicating whether this object is send message for application.","xml":{"name":"IsSendMessageForApplication"}}},"description":"Model for send message request model."},"EnterpriseWipeRequestModelV4":{"type":"object","properties":{"reason":{"type":"string","description":"Gets or sets reason.","xml":{"name":"Reason"}},"prevent_renenrollment":{"type":"boolean","description":"Gets or sets a value indicating whether prevent ReEnrollment.","xml":{"name":"PreventReEnrollment"}},"disable_activation_lock":{"type":"boolean","description":"Gets or sets a value indicating whether disabling Activation Lock is requested.","xml":{"name":"DisableActivationLock"}},"end_user_wipe_message":{"type":"string","description":"Gets or sets end user device enterprise wipe message.","xml":{"name":"EndUserWipeMessage"}},"chromeos_enterprise_wipe_reason":{"type":"string","description":"Gets or sets end user device enterprise wipe message for ChromeOs.","xml":{"name":"ChromeEndUserWipeMessage"}}},"description":"Request model to initiate enterprise wipe action."},"DeleteDeviceRequestModelV4":{"required":["reason"],"type":"object","properties":{"reason":{"type":"string","description":"Delete reason.","xml":{"name":"Reason"}},"disable_activation_lock":{"type":"boolean","description":"Disable activation lock.","xml":{"name":"DisableActivationLock"}},"release_device":{"type":"boolean","description":"Release device.","xml":{"name":"ReleaseDevice"}}},"description":"Model for delete device request model."},"ChangeOrganizationGroupV4":{"required":["organization_group_uuid"],"type":"object","properties":{"organization_group_uuid":{"type":"string","description":"Organization group uuid.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Model for change organization group."},"EnableLostModeRequestModelV4":{"type":"object","properties":{"phone_number":{"type":"string","description":"Gets or sets phone number.","xml":{"name":"PhoneNumber"}},"message":{"type":"string","description":"Gets or sets message.","xml":{"name":"Message"}},"footnote":{"type":"string","description":"Gets or sets footnote.","xml":{"name":"Footnote"}}},"description":"Model for enabling lost mode request model."},"DeviceWipeRequestModelV4":{"type":"object","properties":{"reason":{"type":"string","description":"Device wipe reason.","xml":{"name":"Reason"}},"notes_description":{"type":"string","description":"Description of the notes.","xml":{"name":"NotesDescription"}}},"description":"Model for device wipe request model."},"RemoteManagementRequestModelV4":{"required":["remote_management_step","remote_management_feature"],"type":"object","properties":{"remote_management_step":{"enum":[0,1,2],"type":"integer","description":"Remote management step.","format":"int32","xml":{"name":"RemoteManagementStep"}},"remote_management_feature":{"enum":[0,1,2,8,32,64,128,256,512,32768,65536,16777216,1073741824,"2147483648"],"type":"integer","description":"Specifies the set of supported remote management features.","format":"int32","xml":{"name":"RemoteManagementFeature"}},"remote_session_correlation_id":{"type":"string","description":"Gets or sets a TraceCorrelationId value of a remote session.","xml":{"name":"TraceCorrelationId"}},"register_device":{"type":"boolean","description":"Boolean value indicating if device has to be registered with remote management server.","xml":{"name":"RegisterDevice"}}},"description":"Model for remote management actions."},"CustomMdmCommandRequestModelV4":{"required":["command_xml"],"type":"object","properties":{"command_xml":{"type":"string","description":"The command xml.","xml":{"name":"CommandXml"}}},"description":"Model for custom mdm command action."},"OverrideJobLogLevelRequestModelV4":{"required":["override_job_log_level_type"],"type":"object","properties":{"override_job_log_level_type":{"enum":[0,1,2,3,4],"type":"integer","description":"The type of the job log level.","format":"int32","xml":{"name":"OverrideJobLogLevelType"}},"warning_message":{"type":"string","description":"Message describing the warning.","xml":{"name":"WarningMessage"}}},"description":"Model for override job log level action."},"ScheduleOsUpdateModelV4":{"required":["install_action"],"type":"object","properties":{"install_action":{"enum":[0,1,2,3,4,5],"type":"integer","description":"InstallAction type for DEP Devices.","format":"int32","xml":{"name":"InstallAction"}}},"description":"Model for device schedule os update."},"PoweroffV4":{"type":"object","properties":{"reason":{"type":"string","description":"Device poweroff reason.","xml":{"name":"Reason"}},"clear_passcode":{"type":"boolean","description":"Device clear passcode.","xml":{"name":"ClearPasscode"}}},"description":"Model for device reboot or shutdown request."},"DeviceModelFilterV4":{"type":"object","properties":{"device_models":{"type":"array","items":{"type":"string"},"description":"Device model filter. An array of device model names.","xml":{"name":"DeviceModels"}},"versions":{"type":"array","items":{"type":"string"},"description":"An array of OS version.","xml":{"name":"Versions"}}},"description":"Defines platform model."},"TagV2RequestModel":{"type":"object","properties":{"tag_avatar":{"type":"string","description":"Gets or sets the Tag Avatar.","xml":{"name":"TagAvatar"}},"tag_name":{"type":"string","description":"Gets or sets the Tag Name.","xml":{"name":"TagName"}},"tag_type":{"enum":[1,2],"type":"integer","description":"Gets or sets the Tag Type.","format":"int32","xml":{"name":"TagType"}},"organization_uuid":{"type":"string","description":"Gets or sets the Location Group Id.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"tag_uuid":{"type":"string","description":"Gets or sets the Tag Uuid.","format":"uuid","xml":{"name":"TagUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"New tag request model."},"IActionResult":{"type":"object","properties":{"RequestQuery":{"$ref":"#/components/schemas/IRequestQuery"},"RequestMessage":{"type":"object","description":"Gets or sets the RequestMessage.","xml":{"name":"RequestMessage"}},"HttpStatusCode":{"enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer","description":"Gets or sets HttpStatusCode.","format":"int32","xml":{"name":"HttpStatusCode"}},"RetryAfter":{"type":"string","description":"Gets or sets retry-after value.","xml":{"name":"RetryAfter"}},"Model":{"type":"object","description":"Gets or sets Model.","xml":{"name":"Model"}},"Stream":{"$ref":"#/components/schemas/Stream"},"PartialContentRange":{"$ref":"#/components/schemas/RangeHeaderValue"},"ByteArray":{"type":"string","description":"Gets or sets ByteArray.","format":"byte","xml":{"name":"ByteArray"}},"FileName":{"type":"string","description":"Gets or sets FileName {Will be set in the content-disposition header}.","xml":{"name":"FileName"}},"MediaType":{"type":"string","description":"Gets or sets MediaType.","xml":{"name":"MediaType"}},"OnStreamAvailable":{"$ref":"#/components/schemas/Action`3"},"ETagHeaderValue":{"$ref":"#/components/schemas/EntityTagHeaderValue"},"AcceptsByteRanges":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets a value which indicates whether a range byte request for a stream is accepted or not.","xml":{"name":"AcceptsByteRanges"}},"SendETagHeaderValue":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets the option to include ETagHeaderValue.","xml":{"name":"SendETagHeaderValue"}},"LocationHeaderValue":{"type":"string","description":"Gets or sets LocationHeaderValue.","xml":{"name":"LocationHeaderValue"}},"CacheControlValue":{"$ref":"#/components/schemas/CacheControlHeaderValue"},"ContentLength":{"type":"integer","description":"Gets or sets ContentLength.","format":"int64","xml":{"name":"ContentLength"}},"ResponseDateTimeFormat":{"type":"string","description":"Gets or sets dateTime format for response.","xml":{"name":"ResponseDateTimeFormat"}},"HttpResponseMessage":{"type":"object","description":"Gets or sets HttpResponseMessage.","xml":{"name":"HttpResponseMessage"}},"ResponseHeaders":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets Headers.","xml":{"name":"ResponseHeaders"}}},"description":"interface for HttpActionResult."},"IRequestQuery":{"type":"object","properties":{"QueryParams":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","xml":{"name":"QueryParams"}},"TenantContext":{"$ref":"#/components/schemas/ITenantContext"},"RequestMethod":{"$ref":"#/components/schemas/HttpMethod"},"ActionName":{"type":"string","description":"Gets or sets ActionName.","xml":{"name":"ActionName"}},"AllowedUriQueryChars":{"type":"array","items":{"type":"string"},"description":"Gets or sets allowed Characters in Query String.","xml":{"name":"AllowedUriQueryChars"}}},"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request and will be filled from ModelBinder."},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"RangeHeaderValue":{"type":"object","properties":{"Unit":{"type":"string","xml":{"name":"Unit"}},"Ranges":{"type":"array","items":{"$ref":"#/components/schemas/RangeItemHeaderValue"},"readOnly":true,"xml":{"name":"Ranges"}}}},"Action`3":{"type":"object","properties":{"Method":{"$ref":"#/components/schemas/MethodInfo"},"Target":{"type":"object","readOnly":true,"xml":{"name":"Target"}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true,"xml":{"name":"Tag"}},"IsWeak":{"type":"boolean","readOnly":true,"xml":{"name":"IsWeak"}}}},"CacheControlHeaderValue":{"type":"object","properties":{"NoCache":{"type":"boolean","xml":{"name":"NoCache"}},"NoCacheHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"NoCacheHeaders"}},"NoStore":{"type":"boolean","xml":{"name":"NoStore"}},"MaxAge":{"type":"string","xml":{"name":"MaxAge"}},"SharedMaxAge":{"type":"string","xml":{"name":"SharedMaxAge"}},"MaxStale":{"type":"boolean","xml":{"name":"MaxStale"}},"MaxStaleLimit":{"type":"string","xml":{"name":"MaxStaleLimit"}},"MinFresh":{"type":"string","xml":{"name":"MinFresh"}},"NoTransform":{"type":"boolean","xml":{"name":"NoTransform"}},"OnlyIfCached":{"type":"boolean","xml":{"name":"OnlyIfCached"}},"Public":{"type":"boolean","xml":{"name":"Public"}},"Private":{"type":"boolean","xml":{"name":"Private"}},"PrivateHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"PrivateHeaders"}},"MustRevalidate":{"type":"boolean","xml":{"name":"MustRevalidate"}},"ProxyRevalidate":{"type":"boolean","xml":{"name":"ProxyRevalidate"}},"Extensions":{"type":"array","items":{"$ref":"#/components/schemas/NameValueHeaderValue"},"readOnly":true,"xml":{"name":"Extensions"}}}},"ITenantContext":{"type":"object","properties":{"TenantCode":{"type":"string","description":"Gets or sets TenantCode. Uniquely identify the tenant for the request.","xml":{"name":"TenantCode"}},"OrganizationgroupId":{"$ref":"#/components/schemas/EntityId"}},"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method."},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true,"xml":{"name":"Method"}}}},"RangeItemHeaderValue":{"type":"object","properties":{"From":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"From"}},"To":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"To"}}}},"MethodInfo":{"type":"object"},"NameValueHeaderValue":{"type":"object","properties":{"Name":{"type":"string","readOnly":true,"xml":{"name":"Name"}},"Value":{"type":"string","xml":{"name":"Value"}}}},"EntityId":{"type":"object","properties":{"Value":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"Value"}}}},"DeviceActionResponseV4Model":{"type":"object","properties":{"total_count":{"type":"integer","description":"The total count of actions.","format":"int32","xml":{"name":"TotalCount"}},"accepted_count":{"type":"integer","description":"The count of actions accepted for processing.","format":"int32","xml":{"name":"AcceptedCount"}},"failed_count":{"type":"integer","description":"The count of actions failed.","format":"int32","xml":{"name":"FailedCount"}},"faults":{"type":"array","items":{"$ref":"#/components/schemas/DeviceActionFaultModelV4"},"description":"The details of the actions failed.","xml":{"name":"Faults"}},"custom_response":{"$ref":"#/components/schemas/AdditionalResponseModel"}},"description":"Defines the response for device bulk actions.","example":{"total_count":1,"accepted_count":2,"failed_count":3,"faults":[{"request_item":{},"message":"Text value"}]}},"DeviceActionFaultModelV4":{"type":"object","properties":{"request_item":{"type":"object","description":"The identifier of the failed action.","xml":{"name":"RequestItem"}},"message":{"type":"string","description":"The error message for the failure of action.","xml":{"name":"Message"}}},"description":"Defines the fault response for failed actions."},"AdditionalResponseModel":{"type":"object","properties":{"is_success":{"type":"boolean","description":"Gets or sets a value indicating whether this instance is success.","xml":{"name":"IsSuccess"}}},"description":"Defines response model to group all additional responses of device actions."},"BaseExceptionModel":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Gets or sets application error code.","format":"int32","xml":{"name":"ErrorCode"}},"message":{"type":"object","description":"Gets or sets friendly error message.","xml":{"name":"Message"}},"activityId":{"type":"string","description":"Gets or sets transactionId of the request.","format":"uuid","xml":{"name":"ActivityId"},"example":"00000000-0000-0000-0000-000000000000"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"},"description":"Gets or sets list of hypermedia link.","xml":{"name":"Links","wrapped":true}}},"description":"Base model for exception.","xml":{"name":"AirWatchFaultContract","namespace":"http://www.air-watch.com/"}},"Link":{"type":"object","properties":{"Rel":{"type":"string","description":"Gets or sets relational links.","xml":{"name":"Rel"}},"Href":{"type":"string","description":"Gets or sets hyper text reference.","xml":{"name":"Href"}},"Title":{"type":"string","description":"Gets or sets title of the link.","xml":{"name":"Title"}}},"description":"The link.","xml":{"name":"Link","namespace":"http://www.air-watch.com/webapi/resources"}},"DeviceActionRequestV4Model":{"required":["action_name"],"type":"object","properties":{"action_name":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28],"type":"integer","description":"Name of the action.","format":"int32","xml":{"name":"ActionName"}},"additional_input":{"$ref":"#/components/schemas/AdditionalInputModelV4"}},"description":"Model for device action request.","example":{"action_name":"UNKNOWN","additional_input":{"change_ownership":{"ownership_type":"CORPORATE_DEDICATED"},"lock":{"reason":"Text value","message":"Text value","phone_number":"Text value","unlock_pin":"Text value","unlock_note":"Text value"},"manage_tags":{"assign_tags":[{"tag_avatar":"Text value","tag_name":"Text value","tag_type":1,"organization_uuid":"fc711b7e-ca8c-4213-b78b-5e2c8443bc1e","tag_uuid":"bdc66edc-b1a7-4539-9cb9-96c4de7b94b5"}],"unassign_tags":[{"tag_type":0,"organization_uuid":"00000000-0000-0000-0000-000000000000","tag_uuid":"00000000-0000-0000-0000-000000000000"}]},"send_message":{"message_type":"NONE","message_body":"Text value","subject":"Text value","is_html":true,"phone_number":"Text value","email_address":"Text value","application_uuid":"700d523e-1c1d-4a1c-9304-afc5d6f5b411","is_send_message_for_application":true},"enterprise_wipe":{"reason":"Text value","prevent_renenrollment":true,"disable_activation_lock":true,"end_user_wipe_message":"Text value","chromeos_enterprise_wipe_reason":"Text value"},"delete":{"reason":"Text value","disable_activation_lock":true,"release_device":true},"change_organization_group":{"organization_group_uuid":"48fd897a-9b06-401a-87b6-257c6733ea9e"},"enable_lost_mode":{"phone_number":"Text value","message":"Text value","footnote":"Text value"},"device_wipe":{"reason":"Text value","notes_description":"Text value"},"remote_management":{"remote_management_step":0,"remote_management_feature":0,"remote_session_correlation_id":"Text value","register_device":true},"custom_mdm_command":{"command_xml":"Text value"},"override_job_log_level":{"override_job_log_level_type":"RESET_TO_DEFAULT","warning_message":"Text value"},"schedule_os_update":{"install_action":"DEFAULT"},"poweroff":{"reason":"Text value","clear_passcode":true}}}},"EnrollmentTokenV4Model":{"required":["organization_group_uuid","enrollment_user_uuid"],"type":"object","properties":{"organization_group_uuid":{"type":"string","description":"Organization Group UUID","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"enrollment_user_uuid":{"type":"string","description":"UUID of enrollment user.","format":"uuid","xml":{"name":"EnrollmentUserUuid"},"example":"00000000-0000-0000-0000-000000000000"},"friendly_name":{"type":"string","description":"Device friendly name","xml":{"name":"FriendlyName"}},"ownership_type":{"enum":["CORPORATE_DEDICATED","EMPLOYEE_OWNED","CORPORATE_SHARED","NONE"],"type":"string","description":"Device ownership type","xml":{"name":"OwnershipType"}},"device_type":{"enum":[0,1,2,5,9,10,12,14,15,16,18,21],"type":"integer","description":"Platform type","format":"int32","xml":{"name":"DeviceType"}},"model_id":{"type":"integer","description":"Device model identifier","format":"int32","xml":{"name":"ModelId"}},"operating_system_id":{"type":"integer","description":"Device operating system identifier","format":"int32","xml":{"name":"OperatingSystemId"}},"device_udid":{"type":"string","description":"UDID of the device","xml":{"name":"DeviceUdid"}},"serial_number":{"type":"string","description":"Device serial number","xml":{"name":"SerialNumber"}},"model_number":{"type":"string","description":"Device model number","xml":{"name":"ModelNumber"}},"imei":{"type":"string","description":"Device IMEI number","xml":{"name":"Imei"}},"asset_number":{"type":"string","description":"Device asset number","xml":{"name":"AssetNumber"}},"sid":{"type":"string","description":"Device security identifier.","xml":{"name":"Sid"}},"message_template_uuid":{"type":"string","description":"Message template identifier","format":"uuid","xml":{"name":"MessageTemplateUuid"},"example":"00000000-0000-0000-0000-000000000000"},"sim":{"type":"string","description":"SIM details","xml":{"name":"Sim"}},"to_email_address":{"type":"string","description":"User's email address","xml":{"name":"ToEmailAddress"}},"to_phone_number":{"type":"string","description":"User's phone number","xml":{"name":"ToPhoneNumber"}},"is_migration":{"type":"boolean","description":"Value indicating whether this instance is migration","xml":{"name":"IsMigration"}},"message_type":{"enum":[0,1,2,-1],"type":"integer","description":"The message type for device enrollment as NONE, EMAIL, SMS, QR_CODE","format":"int32","xml":{"name":"MessageType"}},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagV2Model"},"description":"Tags for the device","xml":{"name":"Tags"}},"custom_attributes":{"type":"array","items":{"$ref":"#/components/schemas/CustomAttributeNameValueApplicationV2Model"},"description":"Custom attributes for the device","xml":{"name":"CustomAttributes"}},"add_replace_new_device":{"type":"boolean","description":"Add New device.","xml":{"name":"AddReplaceNewDevice"}}},"description":"Request model to represent the device registration record","example":{"organization_group_uuid":"963c4b74-8cfc-4c4e-97cc-089485abd209","enrollment_user_uuid":"df7d5a0f-9de8-44f1-a337-af5815125d0f","friendly_name":"BLCXY445TH","ownership_type":"CORPORATE_DEDICATED","device_type":"UNKNOWN","model_id":2,"operating_system_id":3,"device_udid":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","serial_number":"BLCA34786H","model_number":"BLCA34786H","imei":"351822059334112","asset_number":"AQOPJ76G","sid":"Text value","message_template_uuid":"b8c66b1b-1351-4e86-98f4-95c44b10c720","sim":"SIM Details","to_email_address":"support@airwatch.com","to_phone_number":"919898989898","is_migration":true,"message_type":"Email","tags":[{"name":"TagOne"}],"custom_attributes":[{"name":"identity.deviceModel","value":"TC25","application":"com.airwatch.agent.identity.xml"}],"add_replace_new_device":true}},"TagV2Model":{"type":"object","properties":{"name":{"type":"string","description":"Tag name","xml":{"name":"Name"}}},"description":"Device tag model"},"CustomAttributeNameValueApplicationV2Model":{"type":"object","properties":{"name":{"type":"string","description":"Custom attribute name","xml":{"name":"Name"}},"value":{"type":"string","description":"Custom attribute application value","xml":{"name":"Value"}},"application":{"type":"string","description":"Custom attribute application group","xml":{"name":"Application"}}},"description":"The device registration type"},"EnrollmentTokenResponseV3Model":{"type":"object","properties":{"enrollment_token_uuid":{"type":"string","description":"Enrollment token UUID.","format":"uuid","xml":{"name":"EnrollmentTokenUuid"},"example":"00000000-0000-0000-0000-000000000000"},"device_friendly_name":{"type":"string","description":"Device friendly name","xml":{"name":"DeviceFriendlyName"}},"is_an_existing_token":{"type":"boolean","description":"Is an existing token.","xml":{"name":"IsAnExistingToken"}}},"description":"Enrollment token detail.","example":{"enrollment_token_uuid":"7b87b8a7-0380-4dd2-a008-eca0b9bc6846","device_friendly_name":"BLCXY445TH","is_an_existing_token":true}},"DeviceProfileV4Entity":{"type":"object","properties":{"general":{"$ref":"#/components/schemas/GeneralPayloadV4Entity"}},"description":"Base entity of the device profile for each platform.","example":{"general":{"ProfileId":1,"AfwOemSettingsEnabled":true,"AfwOemType":0,"Name":"Text value","Description":"Text value","ProfileScope":"Production","Version":6,"CreateNewVersion":true,"AssignmentType":"Auto","ProfileContext":"Text value","EnableProvisioning":true,"IsActive":true,"IsManaged":true,"Password":"Text value","AllowRemoval":"WithAuthorization","AssignedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ExcludedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ManagedLocationGroupID":21,"AssignedGeofenceArea":[1],"AssignedSchedule":[1],"ExpirationDate":"2026-03-24T00:00:00.0000000+01:00","ProfileUuid":"0abc61ad-da61-4515-9da5-2c33d0106319","IsProvisionedForOobe":true,"id":1234,"uuid":"034dae0e-cb09-4faa-a355-683c82a8f03d"}}},"GeneralPayloadV4Entity":{"type":"object","properties":{"ProfileId":{"type":"integer","description":"Gets or sets profileId.","format":"int32","xml":{"name":"ProfileId"}},"AfwOemSettingsEnabled":{"type":"boolean","description":"Gets or sets tracks if AFW OEM settings are enabled.","xml":{"name":"AfwOemSettingsEnabled"}},"AfwOemType":{"enum":[0,1],"type":"integer","description":"Gets or sets tracks what OEM settings have been included.","format":"int32","xml":{"name":"AfwOemType"}},"Name":{"type":"string","description":"Gets or sets name.","xml":{"name":"Name"}},"Description":{"type":"string","description":"Gets or sets description.","xml":{"name":"Description"}},"ProfileScope":{"type":"string","description":"Gets or sets device Profile Scope.","xml":{"name":"ProfileScope"}},"Version":{"type":"integer","description":"Gets or sets version.","format":"int32","xml":{"name":"Version"}},"CreateNewVersion":{"type":"boolean","description":"Gets or sets a value indicating whether add New Version.","xml":{"name":"CreateNewVersion"}},"AssignmentType":{"type":"string","description":"Gets or sets assignment Type.","xml":{"name":"Assignment"}},"ProfileContext":{"type":"string","description":"Gets or sets the profile context.","xml":{"name":"ProfileContext"}},"EnableProvisioning":{"type":"boolean","description":"Gets or sets a value indicating whether flag to indicate Profile will be used for Product Provisioning. Valid values: true, false.","xml":{"name":"ProvisioningEnabled"}},"IsActive":{"type":"boolean","description":"Gets or sets a value indicating whether flag to indicate Profile Status.","xml":{"name":"IsActive"}},"IsManaged":{"type":"boolean","description":"Gets or sets a value indicating whether is Managed.","xml":{"name":"IsManaged"}},"Password":{"type":"string","description":"Gets or sets unlock Password.","xml":{"name":"UnlockPassword"}},"AllowRemoval":{"type":"string","description":"Gets or sets the allow removal.","xml":{"name":"AllowRemoval"}},"AssignedSmartGroups":{"type":"array","items":{"$ref":"#/components/schemas/SmartGroupEntity1"},"description":"Gets or sets the smart groups.","xml":{"name":"SmartGroups"}},"ExcludedSmartGroups":{"type":"array","items":{"$ref":"#/components/schemas/SmartGroupEntity1"},"description":"Gets or sets the excluded groups.","xml":{"name":"ExcludedGroups"}},"ManagedLocationGroupID":{"type":"integer","description":"Gets or sets the ID of the RootLocationGroup.","format":"int32","xml":{"name":"RootLocationGroupId"}},"AssignedGeofenceArea":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Gets or sets the area ids.","xml":{"name":"AreaIds"}},"AssignedSchedule":{"type":"array","items":{"type":"integer","format":"int32"},"description":"Gets or sets the scheduled ids.","xml":{"name":"ScheduledIds"}},"ExpirationDate":{"type":"string","description":"Gets or sets expiration Date of the Profile [Applicable for Apple Profiles].","xml":{"name":"RemovalDate"}},"ProfileUuid":{"type":"string","description":"Gets or sets the Profile Unique Identifier.","format":"uuid","xml":{"name":"ProfileUuid"},"example":"00000000-0000-0000-0000-000000000000"},"IsProvisionedForOobe":{"type":"boolean","description":"Gets or sets a value indicating whether is profile to be included for oobe provisioning.","xml":{"name":"IsProvisionedForOobe"}},"id":{"type":"integer","description":"Gets or sets identifier.","format":"int32","xml":{"name":"Id"}},"uuid":{"type":"string","description":"Gets or sets current objects UUID.","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Contains general payload information about the profile."},"SmartGroupEntity1":{"type":"object","properties":{"SmartGroupId":{"type":"integer","description":"Gets or sets the smart group identifier.","format":"int32","xml":{"name":"SmartGroupId"}},"Name":{"type":"string","description":"Gets or sets the name.","xml":{"name":"Name"}}},"description":"Smart Group Entity."},"LinuxDeviceProfileEntity1":{"type":"object","properties":{"Wifis":{"type":"array","items":{"$ref":"#/components/schemas/LinuxWifiPayloadEntity"}},"Credentials":{"type":"array","items":{"$ref":"#/components/schemas/LinuxCredentialsPayloadEntity"}},"CustomConfigurations":{"type":"array","items":{"$ref":"#/components/schemas/LinuxCustomConfigurationPayloadEntity"}},"general":{"$ref":"#/components/schemas/GeneralPayloadV4Entity"}},"description":"An entity representing the linux device profile.","example":{"CustomConfigurations":[{"Name":"Text value","DependencySelected":true,"EnforceManifest":true,"ConfigDependencies":"Text value","InstallManifest":"Text value","RemoveManifest":"Text value"}],"general":{"ProfileId":1,"AfwOemSettingsEnabled":true,"AfwOemType":0,"Name":"Text value","Description":"Text value","ProfileScope":"Production","Version":6,"CreateNewVersion":true,"AssignmentType":"Auto","ProfileContext":"Text value","EnableProvisioning":true,"IsActive":true,"IsManaged":true,"Password":"Text value","AllowRemoval":"WithAuthorization","AssignedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ExcludedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ManagedLocationGroupID":21,"AssignedGeofenceArea":[1],"AssignedSchedule":[1],"ExpirationDate":"2026-03-24T00:00:00.0000000+01:00","ProfileUuid":"c9438462-e252-41ec-bca5-b4d920fbf3bd","IsProvisionedForOobe":true,"id":1234,"uuid":"b061b1b1-2911-430f-8739-498995f48a22"}}},"LinuxWifiPayloadEntity":{"type":"object","properties":{"ServiceSetIdentifier":{"type":"string","description":"Gets or sets SSID_STR.","xml":{"name":"SSID_STR"}},"SecurityType":{"type":"string","description":"Gets or sets EncryptionType.","xml":{"name":"EncryptionType"}},"Password":{"type":"string","description":"Gets or sets Password.","xml":{"name":"Password"}},"SetAsActiveNetwork":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets MakeActive.","xml":{"name":"MakeActive"}},"HiddenNetwork":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets IsHidden.","xml":{"name":"IsHidden"}},"UseTwoFactorAuthentication":{"type":"boolean","description":"Gets or sets UseTwoFactorAuthentication.","xml":{"name":"UseTwoFactorAuthentication"}},"SFAType":{"type":"string","description":"Gets or sets EAP.","xml":{"name":"EAP"}},"TFAType":{"type":"string","description":"Gets or sets SecondPhaseAuth.","xml":{"name":"SecondPhaseAuth"}},"Identity":{"type":"string","description":"Gets or sets Identity.","xml":{"name":"Identity"}},"AnonymousIdentity":{"type":"string","description":"Gets or sets AnonymousIdentity.","xml":{"name":"AnonymousIdentity"}},"EnterpriseUsername":{"type":"string","description":"Gets or sets EnterpriseUsername.","xml":{"name":"EnterpriseUsername"}},"EnterprisePassword":{"type":"string","description":"Gets or sets EnterprisePassword.","xml":{"name":"EnterprisePassword"}},"PayloadCertificateName":{"type":"string","description":"Gets or sets payloadCertificateName is used to find corresponding certificate in the LinuxCredentials payload.","xml":{"name":"PayloadCertificateName"}},"CAPayloadCertificateName":{"type":"string","description":"Gets or sets cAPayloadCertificateName is used to find corresponding certificate in the LinuxCredentials payload.\r\nThat is used to store CAPayloadCertificateUUID in the DB.","xml":{"name":"CAPayloadCertificateName"}},"ProxyPacUrl":{"type":"string","description":"Gets or sets ProxyPacUrl.","xml":{"name":"ProxyPacUrl"}},"ProxyAddress":{"type":"string","description":"Gets or sets ProxyServer.","xml":{"name":"ProxyAddress"}},"ProxyPort":{"type":"integer","description":"Gets or sets ProxyMode.","format":"int32","xml":{"name":"ProxyPort"}},"ProxyBypass":{"type":"array","items":{"type":"string"},"description":"Gets or sets ProxyBypass List.","xml":{"name":"ProxyBypass"}},"id":{"type":"integer","description":"Gets or sets identifier.","format":"int32","xml":{"name":"Id"}},"uuid":{"type":"string","description":"Gets or sets current objects UUID.","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"An entity representing wifi profile payload."},"LinuxCredentialsPayloadEntity":{"type":"object","properties":{"CredentialSource":{"type":"string","description":"Gets or sets the certificate source.","xml":{"name":"CertificateSource"}},"CredentialName":{"type":"string","description":"Gets or sets the name of the certificate.","xml":{"name":"CertificateName"}},"CertificateData":{"type":"string","description":"Gets or sets the certificate data.","xml":{"name":"CertificateData"}},"CertificateID":{"type":"integer","description":"Gets or sets the certificate identifier.","format":"int32","xml":{"name":"CertificateID"}},"CertificatePassword":{"type":"string","description":"Gets or sets the certificate password.","xml":{"name":"CertificatePassword"}},"CertificateThumbprint":{"type":"string","description":"Gets or sets the certificate thumbprint.","xml":{"name":"CertificateThumbprint"}},"CertificateType":{"type":"string","description":"Gets or sets the type of the certificate.","xml":{"name":"CertificateType"}},"UUID":{"type":"string","description":"Gets or sets the UUID.","xml":{"name":"UUID"}},"CertificateAuthority":{"type":"integer","description":"Gets or sets the certificate authority identifier.","format":"int32","xml":{"name":"CertificateAuthorityId"}},"CertificateTemplate":{"type":"integer","description":"Gets or sets the certificate template identifier.","format":"int32","xml":{"name":"CertificateTemplateId"}},"Smime":{"type":"string","description":"Gets or sets the smime.","xml":{"name":"Smime"}},"Name":{"type":"string","description":"Gets or sets the name.","xml":{"name":"Name"}},"KeyUsage":{"type":"string","description":"Gets or sets the key usage.","xml":{"name":"KeyUsage"}},"CertificateMetadata":{"$ref":"#/components/schemas/CertificateMetadataModel1"}},"description":"An entity representing credentials profile payload."},"LinuxCustomConfigurationPayloadEntity":{"type":"object","properties":{"Name":{"type":"string","description":"Gets or sets the Name settings.","xml":{"name":"Name"}},"DependencySelected":{"type":"boolean","description":"Gets or sets a value indicating whether the DependencySelected.","xml":{"name":"DependencySelected"}},"EnforceManifest":{"type":"boolean","description":"Gets or sets a value indicating whether the EnforceManifest.","xml":{"name":"EnforceManifest"}},"ConfigDependencies":{"type":"string","description":"Gets or sets the custom dependency.","xml":{"name":"ConfigDependencies"}},"InstallManifest":{"type":"string","description":"Gets or sets the InstallManifest.","xml":{"name":"InstallManifest"}},"RemoveManifest":{"type":"string","description":"Gets or sets the RemoveManifest.","xml":{"name":"RemoveManifest"}}},"description":"An entity representing Custom Configuration payload."},"CertificateMetadataModel1":{"type":"object","properties":{"Thumbprint":{"type":"string","description":"Gets or sets certificate Thumbprint.","xml":{"name":"Thumbprint"}},"SubjectName":{"type":"string","description":"Gets or sets subject Name of the certificate.","xml":{"name":"SubjectName"}},"IssuerName":{"type":"string","description":"Gets or sets issuer Name.","xml":{"name":"IssuerName"}},"IssueSerialNumber":{"type":"integer","description":"Gets or sets issue Serial Number.","format":"int64","xml":{"name":"IssueSerialNumber"}},"ValidFrom":{"type":"string","description":"Gets or sets valid From Date.","format":"date-time","xml":{"name":"ValidFrom"}},"ValidTo":{"type":"string","description":"Gets or sets valid To Date.","format":"date-time","xml":{"name":"ValidTo"}},"CertificateUuid":{"type":"string","description":"Gets or sets certificate Unique Identifier.","format":"uuid","xml":{"name":"CertificateUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Certificate Metadata Model."}},"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"},"ApiKeyAuth":{"type":"apiKey","description":"API Key","name":"aw-tenant-code","in":"header"},"GroupIdAuth":{"type":"apiKey","description":"Group ID","name":"aw-groupid","in":"header"},"CmsAuth":{"type":"apiKey","description":"CMS Authentication","name":"Authorization","in":"header"}}}}