{"openapi":"3.0.1","info":{"title":"MDM API V3","description":"Workspace ONE UEM MDM REST API V3","contact":{"name":"Workspace ONE UEM"},"version":"3"},"servers":[{"url":"https://as2596.awmdm.com/api/mdm"}],"paths":{"/devices/commands/{commandName}/device/{searchBy}/{id}":{"post":{"tags":["CommandsV3"],"summary":"New - Executes a command for device by alternate identifier.","description":"Executes a command for the specified device alternate identifier. Supported commands are SetRecoveryLock (macOS only), DeviceWipe (macOS only).","operationId":"CommandsV3_ExecuteByAlternateIdAsync","parameters":[{"name":"commandName","in":"path","description":"The name of the command to execute. Supported command types [SetRecoveryLock, DeviceWipe].(Required).","required":true,"schema":{"type":"string"}},{"name":"searchBy","in":"path","description":"Search by Alternate Id type [MacAddress, Udid, SerialNumber, ImeiNumber, EasId].(Required).","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The Alternate Id.(Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request with command specific options.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommandsV3Model"}}},"required":true,"x-bodyName":"commandsModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=3":{}}},"400":{"description":"1. {6213: Device is not enrolled.} 2. {5101: Command not found for the input device and command type.} 3. {5102: Command is not supported.} 4. {5287: Either the command request or the password policy is empty for SetRecoveryLock. } 5. {5291: Invalid obliteration behavior value.} 6. {5292: PIN for macOS device must be 6 digits long.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5002: Device not found for specified alternate id: id and type: searchBy} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {5003: Invalid searchby parameter.} 2. {1012: The value of set_recovery_lock.password_policy.length must be between 8 and 64.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/commands/{commandName}":{"post":{"tags":["CommandsV3"],"summary":"New - Executes a command for a device by the device uuid.","description":"Executes a command for a device by device uuid. Supported commands are SetRecoveryLock (macOS only), DeviceWipe (macOS only), CustomMdmCommand (macOS only).","operationId":"CommandsV3_ExecuteAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The Device unique identifier.\r\n            Accepted format is **guid**\r\n            E.g. 0258902A-9E0C-4DC5-A997-9E079559F75E(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commandName","in":"path","description":"The name of the command to execute. Supported command types [SetRecoveryLock, DeviceWipe, CustomMdmCommand].(Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request containing the command options.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommandsV3Model"}}},"required":true,"x-bodyName":"commandsModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=3":{}}},"400":{"description":"1. {6213: Device is not enrolled.} 2. {5101: Command not found for the input device and command type.} 3. {5102: Command is not supported.} 4. {5287: Either the command request or the password policy is empty for SetRecoveryLock. } 5. {5291: Invalid obliteration behavior value.} 6. {5292: PIN for macOS device must be 6 digits long.} 7. {5104: Command XML cannot be null or empty.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {5002: Device not found for specified uuid: deviceUuid.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: The value of set_recovery_lock.password_policy.length must be between 8 and 64.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/action":{"post":{"tags":["DeviceActionsV3"],"summary":"New - Execute actions on devices.","description":"This API is for executing actions on give set of devices.","operationId":"DeviceActionsV3_ExecuteBulkDeviceActionAsync","requestBody":{"description":"Model for bulk device actions.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceBulkActionRequestV3Model"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DeviceBulkActionRequestV3Model"}}},"required":true,"x-bodyName":"request"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/DeviceActionResponseV3Model"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/DeviceActionResponseV3Model"}}}},"400":{"description":"1. {5138: Feature is currently turned off}  3. {5139: Admin action cannot be performed on more than {0} number of devices in one go.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 4. { 8168: Admin action is not allowed for {0} Devices under the organization group {0}. } ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{6608: {0} device not found.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"UnprocessableEntity 1.{6070 : Required parameters for actions are missing.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/search":{"get":{"tags":["DevicesV3"],"summary":"New - Searches the device using the query information provided.","description":"Get basic information about the device with maximum pagesize limit of 500. If page size is greater than the maximum limit, it will return the first 500 records.","operationId":"DevicesV3_SearchAsync","parameters":[{"name":"user","in":"query","description":"Username the device enrolled under.","schema":{"type":"string","default":""}},{"name":"model_identifier","in":"query","description":"Partial search by device model. Search by MD20 would return device with model MD200LL.","schema":{"type":"string","default":""}},{"name":"device_type","in":"query","description":"Device platform type, i.e. Apple, Android, WindowsPC, etc.","schema":{"type":"string","default":""}},{"name":"last_seen","in":"query","description":"Last seen date string.","schema":{"type":"string","format":"date-time","default":""}},{"name":"ownership","in":"query","description":"Device ownership.","schema":{"type":"string","default":""}},{"name":"organization_group_uuid","in":"query","description":"Organization Group to be searched. User's OG is considered if not specified.","schema":{"type":"string","default":""}},{"name":"compliance_status","in":"query","description":"Compliance status.","schema":{"type":"string","default":""}},{"name":"seen_since","in":"query","description":"Specifies the date filter for device search, which retrieves the devices that are seen after this date.","schema":{"type":"string","format":"date-time","default":""}},{"name":"friendly_name","in":"query","description":"Friendly name of the device to be searched.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"Maximum records per page. Default 500.","schema":{"type":"integer","default":""}},{"name":"order_by","in":"query","description":"Order by column name.","schema":{"type":"string","default":""}},{"name":"sort_order","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/DeviceSearchResultExtendedV2"}}}},"400":{"description":"1. {1036: InvalidRequest} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {6: Organization Group with id :{} not found or Admin user does not have access to it} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid RequestQuery.QueryParams} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{uuid}":{"get":{"tags":["DevicesV3"],"summary":"New - Get basic details about the device.","description":"Get basic information about the device based on the unique identifier passed in the path. The response contains hypermedia links, which can be followed to get more information about the device.","operationId":"DevicesV3_GetByUuidAsync","parameters":[{"name":"uuid","in":"path","description":"Device unique identifier.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/DeviceResponseV3Model"}}}},"404":{"description":"1. {5061: Device not found} 2. {5177: Organization group not found.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles":{"post":{"tags":["ProfilesV3"],"summary":"New - Create a new profile","description":"1. Create a new profile for the provided platform with the specified payloads.\r\n2. For Version 2004, only Windows Defender Payload is supported.","operationId":"ProfilesV3_CreateDeviceProfileAsync","requestBody":{"description":"An entity containing the attributes for creating a profile for the windows desktop platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileV3Entity"}}},"x-bodyName":"profileEntity"},"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/ProfileV3Entity"}}}},"400":{"description":"1. {Profile name is invalid or User does not have access to update it.} \r\n2. {5208: Smart Group not found or not accessible .} \r\n3. {5246: TimeSchedule with Schedule Id not found.} \r\n4. {GeoFencing Area with AreaId not found.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. {5905: Resource organization group not found or user does not have access to organization group. }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {5906: For Compliance Assignment Type, All Devices Smartgroup must be assigned.\r\n2. {5907: Invalid Managed Organization Group. } \r\n3. {5908: At least one payload, in addition to General, must be configured. } \r\n4. {5909: At least one Assigned Group is required to do Exclusions.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/{profileUuid}":{"get":{"tags":["ProfilesV3"],"summary":"New - Retrieve details of a specific profile","description":"1. Returns the full profile details, including all payloads associated with the profile.\r\n2. Only the Windows Defender payload is supported.","operationId":"ProfilesV3_GetDeviceProfileDetailsAsync","parameters":[{"name":"profileUuid","in":"path","description":"Unique identifier of the profile","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/ProfileV3Entity"}}}},"400":{"description":"1. { Invalid Request }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. { 5027: Not allowed to access organization group } \r\n2. { 5910: Insufficient rights to read profile. } ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5112: Profile not found for this request.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["ProfilesV3"],"summary":"New - Updates Device Profile.","description":"1. If the add_version attribute is empty or false a new Profile version will not be created but AssignedSmartGroups RootLocationGroup AssignedGeofenceArea and AssignedSchedule will be saved and published. \r\n2. If it is true new version of the profile will be created and published.\r\n3. For Version 2004, only Windows Defender Payload is supported.","operationId":"ProfilesV3_UpdateDeviceProfile","parameters":[{"name":"profileUuid","in":"path","description":"Unique identifier of the device profile.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"An entity containing the attributes for creating a profile for the windows desktop platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileV3Entity"}}},"x-bodyName":"profileEntity"},"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/ProfileV3Entity"}}}},"400":{"description":"1. {Profile name is invalid or User does not have access to update it.} \r\n2. {5208: Smart Group not found or not accessible .} \r\n3. {5246: TimeSchedule with Schedule Id not found.} \r\n4. {GeoFencing Area with AreaId not found.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. {5905: Resource organization group not found or user does not have access to organization group. }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {5906: For Compliance Assignment Type, All Devices Smartgroup must be assigned.\r\n2. {5907: Invalid Managed Organization Group. } \r\n3. {5908: At least one payload, in addition to General, must be configured. } \r\n4. {5909: At least one Assigned Group is required to do Exclusions.} \r\n5. {5911: Insufficient rights to assign/exclude smart groups.} \r\n6. {5912: Unable to update Compliance to Non-Compliance or Non-Compliance to Compliance assignment type.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]}]},"delete":{"tags":["ProfilesV3"],"summary":"New - Delete a Profile","description":"Deletes the specified profile.","operationId":"ProfilesV3_DeleteDeviceProfileAsync","parameters":[{"name":"profileUuid","in":"path","description":"Unique identifier of the device profile","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=3":{},"application/xml;version=3":{}}},"400":{"description":"1. {6010: Invalid Schedule.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. {Not allowed to access the organization group} \r\n2. {5027: No organization group found for the given organization group UUID.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {5901: Cannot delete this Profile because it is currently being used in the following Staging Definition(s).} \r\n2. {5902: Cannot delete this Profile because it is currently being used in the following Product(s).} \r\n3. {5903: Cannot delete this Profile because it is currently linked to other entities.} \r\n4. {5904: Insufficient rights to delete profile.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5112: Profile not found for this request.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/profiles":{"get":{"tags":["ProfilesV3"],"summary":"Get all device profiles as per search filter","operationId":"ProfilesV3_GetDeviceProfiles","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for organization group","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"platform","in":"query","description":"Platform name","schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Profile status (Active or Inactive)","schema":{"type":"string","default":""}},{"name":"searchtext","in":"query","description":"search text","schema":{"type":"string","default":""}},{"name":"orderby","in":"query","description":"Orderby parameter name","schema":{"type":"string","default":""}},{"name":"sortorder","in":"query","description":"Sorting order, Values ASC or DESC, Defaults to ASC","schema":{"type":"string","default":""}},{"name":"offset","in":"query","description":"to skip number of records","schema":{"type":"integer","default":""}},{"name":"limit","in":"query","description":"Maximum results which should be returned in each request","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=3":{},"application/xml;version=3":{}}},"204":{"description":"No Content","content":{"application/json;version=3":{},"application/xml;version=3":{}}},"400":{"description":"{ 1020: Cannot convert {0} value: {1} to type {2}. }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/profiles/{profileUuid}":{"post":{"tags":["ProfilesV3"],"summary":"Uploads a completed (already built for device) profile","description":"For an existing profile in pending state, upload the completed profile for a given device","operationId":"ProfilesV3_UploadProfilePayload","parameters":[{"name":"deviceUuid","in":"path","description":"Unique identifier for the device","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"profileUuid","in":"path","description":"Unique identifier for the profile","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"format","in":"query","description":"Specifies the type of payload wrapped in the CMS body","required":true,"schema":{"enum":[0,1],"type":"integer","format":"int32"}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=3":{}}},"400":{"description":"1. { ????: Invalid request }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. { ????: Invalid authentication token }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. { ????: Not allowed to access device }2. { ????: Not allowed to access profile }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. { ????: The specified profile was not found for the requested device }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]}]}},"/profiles/search":{"post":{"tags":["ProfilesV3"],"summary":"New - Search API to Retrieve a list of profiles.","description":"Returns a list of profiles based on the search criteria.","operationId":"ProfilesV3_SearchAsync","requestBody":{"description":"Model for profile search request.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSearchRequestV3Model"}}},"required":true,"x-bodyName":"profileSearchRequestV3Model"},"responses":{"200":{"description":"OK","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/ProfilesSearchResultV3Model"}}}},"400":{"description":"{ 5005: Platform name cannot be null when payload name is given.}","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"{ 5054: No organization group found for the given organization group UUID. }","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Page size must be between 1 to 50.\r\n2. {1012: Page number must be greater than 1. } \r\n3. {1012: Search text should not exceeds 256 character. } \r\n4. {1012: Invalid sort by valid value is PROFILE_NAME.} \r\n5. {1012: Invalid status, valid status are ACTIVE, INACTIVE.} \r\n6. {1012: Invalid sort order, supported value is ASC and DESC.} ","content":{"application/json;version=3":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}}},"components":{"schemas":{"RequestQuery":{"type":"object","description":"Implementation for RequestQuery."},"IActionResult":{"type":"object","properties":{"RequestQuery":{"$ref":"#/components/schemas/IRequestQuery"},"RequestMessage":{"type":"object","description":"Gets or sets the RequestMessage.","xml":{"name":"RequestMessage"}},"HttpStatusCode":{"enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer","description":"Gets or sets HttpStatusCode.","format":"int32","xml":{"name":"HttpStatusCode"}},"RetryAfter":{"type":"string","description":"Gets or sets retry-after value.","xml":{"name":"RetryAfter"}},"Model":{"type":"object","description":"Gets or sets Model.","xml":{"name":"Model"}},"Stream":{"$ref":"#/components/schemas/Stream"},"PartialContentRange":{"$ref":"#/components/schemas/RangeHeaderValue"},"ByteArray":{"type":"string","description":"Gets or sets ByteArray.","format":"byte","xml":{"name":"ByteArray"}},"FileName":{"type":"string","description":"Gets or sets FileName {Will be set in the content-disposition header}.","xml":{"name":"FileName"}},"MediaType":{"type":"string","description":"Gets or sets MediaType.","xml":{"name":"MediaType"}},"OnStreamAvailable":{"$ref":"#/components/schemas/Action`3"},"ETagHeaderValue":{"$ref":"#/components/schemas/EntityTagHeaderValue"},"AcceptsByteRanges":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets a value which indicates whether a range byte request for a stream is accepted or not.","xml":{"name":"AcceptsByteRanges"}},"SendETagHeaderValue":{"type":"boolean","description":"Gets or sets a value indicating whether gets or sets the option to include ETagHeaderValue.","xml":{"name":"SendETagHeaderValue"}},"LocationHeaderValue":{"type":"string","description":"Gets or sets LocationHeaderValue.","xml":{"name":"LocationHeaderValue"}},"CacheControlValue":{"$ref":"#/components/schemas/CacheControlHeaderValue"},"ContentLength":{"type":"integer","description":"Gets or sets ContentLength.","format":"int64","xml":{"name":"ContentLength"}},"ResponseDateTimeFormat":{"type":"string","description":"Gets or sets dateTime format for response.","xml":{"name":"ResponseDateTimeFormat"}},"HttpResponseMessage":{"type":"object","description":"Gets or sets HttpResponseMessage.","xml":{"name":"HttpResponseMessage"}},"ResponseHeaders":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets Headers.","xml":{"name":"ResponseHeaders"}}},"description":"interface for HttpActionResult."},"IRequestQuery":{"type":"object","properties":{"QueryParams":{"type":"object","additionalProperties":{"type":"string"},"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","xml":{"name":"QueryParams"}},"TenantContext":{"$ref":"#/components/schemas/ITenantContext"},"RequestMethod":{"$ref":"#/components/schemas/HttpMethod"},"ActionName":{"type":"string","description":"Gets or sets ActionName.","xml":{"name":"ActionName"}},"AllowedUriQueryChars":{"type":"array","items":{"type":"string"},"description":"Gets or sets allowed Characters in Query String.","xml":{"name":"AllowedUriQueryChars"}}},"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request and will be filled from ModelBinder."},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"RangeHeaderValue":{"type":"object","properties":{"Unit":{"type":"string","xml":{"name":"Unit"}},"Ranges":{"type":"array","items":{"$ref":"#/components/schemas/RangeItemHeaderValue"},"readOnly":true,"xml":{"name":"Ranges"}}}},"Action`3":{"type":"object","properties":{"Method":{"$ref":"#/components/schemas/MethodInfo"},"Target":{"type":"object","readOnly":true,"xml":{"name":"Target"}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true,"xml":{"name":"Tag"}},"IsWeak":{"type":"boolean","readOnly":true,"xml":{"name":"IsWeak"}}}},"CacheControlHeaderValue":{"type":"object","properties":{"NoCache":{"type":"boolean","xml":{"name":"NoCache"}},"NoCacheHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"NoCacheHeaders"}},"NoStore":{"type":"boolean","xml":{"name":"NoStore"}},"MaxAge":{"type":"string","xml":{"name":"MaxAge"}},"SharedMaxAge":{"type":"string","xml":{"name":"SharedMaxAge"}},"MaxStale":{"type":"boolean","xml":{"name":"MaxStale"}},"MaxStaleLimit":{"type":"string","xml":{"name":"MaxStaleLimit"}},"MinFresh":{"type":"string","xml":{"name":"MinFresh"}},"NoTransform":{"type":"boolean","xml":{"name":"NoTransform"}},"OnlyIfCached":{"type":"boolean","xml":{"name":"OnlyIfCached"}},"Public":{"type":"boolean","xml":{"name":"Public"}},"Private":{"type":"boolean","xml":{"name":"Private"}},"PrivateHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"PrivateHeaders"}},"MustRevalidate":{"type":"boolean","xml":{"name":"MustRevalidate"}},"ProxyRevalidate":{"type":"boolean","xml":{"name":"ProxyRevalidate"}},"Extensions":{"type":"array","items":{"$ref":"#/components/schemas/NameValueHeaderValue"},"readOnly":true,"xml":{"name":"Extensions"}}}},"ITenantContext":{"type":"object","properties":{"TenantCode":{"type":"string","description":"Gets or sets TenantCode. Uniquely identify the tenant for the request.","xml":{"name":"TenantCode"}},"OrganizationgroupId":{"$ref":"#/components/schemas/EntityId"}},"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method."},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true,"xml":{"name":"Method"}}}},"RangeItemHeaderValue":{"type":"object","properties":{"From":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"From"}},"To":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"To"}}}},"MethodInfo":{"type":"object"},"NameValueHeaderValue":{"type":"object","properties":{"Name":{"type":"string","readOnly":true,"xml":{"name":"Name"}},"Value":{"type":"string","xml":{"name":"Value"}}}},"EntityId":{"type":"object","properties":{"Value":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"Value"}}}},"AssignmentGroupsPagedResultsModelV2":{"type":"object","properties":{"page":{"type":"integer","description":"The current page.","format":"int32","xml":{"name":"Page"}},"page_size":{"type":"integer","description":"The current page size.","format":"int32","xml":{"name":"PageSize"}},"total":{"type":"integer","description":"The total number of results.","format":"int32","xml":{"name":"Total"}},"assignment_groups":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentGroupsV3Model"},"description":"The list of assignment groups.","xml":{"name":"AssignmentGroups"}}},"description":"The model containining the list of assignment groups from the specific organization group that satisfy the given search criteria.","example":{"page":1,"page_size":50,"total":100,"assignment_groups":[{"name":"AllDevices","uuid":"00e84d73-50c8-4440-be52-59d6750b6830","type":"All","managed_by_organization_group_uuid":"2524c8a9-6f05-422b-90cb-de6422aac452","managed_by_organization_group_name":"Customer","assignment_count":1,"exclusion_count":1,"last_modified_on":"2026-03-24T08:56:50.2637114-07:00","smart_group_uuid":"408138ba-c5f2-4164-aece-e7033161cf02"}]}},"AssignmentGroupsV3Model":{"type":"object","properties":{"name":{"type":"string","description":"Name of the assignment group.","xml":{"name":"Name"}},"uuid":{"type":"string","description":"The unique identifier for the assignment group.","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"},"type":{"enum":[0,1,2,3],"type":"integer","description":"Denotes the assignment group type.","format":"int32","xml":{"name":"Type"}},"managed_by_organization_group_uuid":{"type":"string","description":"The unique identifier for managed by organization group.","format":"uuid","xml":{"name":"ManagedByOrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"managed_by_organization_group_name":{"type":"string","description":"Name of the managed by organization group.","xml":{"name":"ManagedByOrganizationGroupName"}},"assignment_count":{"type":"integer","description":"Number of assignments.","format":"int32","xml":{"name":"AssignmentCount"}},"exclusion_count":{"type":"integer","description":"Number of exclusions.","format":"int32","xml":{"name":"ExclusionCount"}},"last_modified_on":{"type":"string","description":"The time stamp when the assignment group was last modified or created in the case where modifiedOn is not present.","format":"date-time","xml":{"name":"LastModifiedOn"}},"smart_group_uuid":{"type":"string","description":"The unique identifier for the smart group.\r\nFor type-&gt; 'UserGroups' and 'OrganizationGroups', this corresponds to their associated/mapped smart group UUID (if any).\r\nFor type-&gt; 'SmartGroups', this field would be the same as 'uuid' field of this response model.","format":"uuid","xml":{"name":"SmartGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Assignment group model."},"BaseExceptionModel":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Gets or sets application error code.","format":"int32","xml":{"name":"ErrorCode"}},"message":{"type":"object","description":"Gets or sets friendly error message.","xml":{"name":"Message"}},"activityId":{"type":"string","description":"Gets or sets transactionId of the request.","format":"uuid","xml":{"name":"ActivityId"},"example":"00000000-0000-0000-0000-000000000000"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"},"description":"Gets or sets list of hypermedia link.","xml":{"name":"Links","wrapped":true}}},"description":"Base model for exception.","xml":{"name":"AirWatchFaultContract","namespace":"http://www.air-watch.com/"}},"Link":{"type":"object","properties":{"Rel":{"type":"string","description":"Gets or sets relational links.","xml":{"name":"Rel"}},"Href":{"type":"string","description":"Gets or sets hyper text reference.","xml":{"name":"Href"}},"Title":{"type":"string","description":"Gets or sets title of the link.","xml":{"name":"Title"}}},"description":"The link.","xml":{"name":"Link","namespace":"http://www.air-watch.com/webapi/resources"}},"CommandsV3Model":{"type":"object","properties":{"set_recovery_lock":{"$ref":"#/components/schemas/SetRecoveryLockCommandV3Model"},"device_wipe":{"$ref":"#/components/schemas/DeviceWipeCommandV3Model"},"custom_mdm_command":{"$ref":"#/components/schemas/CustomCommandModel"}},"description":"Request containing Command specific options.","example":{"set_recovery_lock":{"current_password":"Kt4SDc*y","clear_password":false,"password_policy":{"length":10,"include_numbers":true,"include_letters":true,"include_special_characters":true}},"device_wipe":{"wipe_pin":123789,"obliteration_behavior":"DEFAULT"},"custom_mdm_command":{"CommandXml":"Text value"}}},"SetRecoveryLockCommandV3Model":{"type":"object","properties":{"current_password":{"type":"string","description":"The current recovery lock password set on the device. If provided, will be used for issuing the command to set a new password or clear the existing password. If not provided, the last Applied Password via Workspace ONE UEM will be used.","xml":{"name":"CurrentPassword"}},"clear_password":{"type":"boolean","description":"If true, ignores the password policy in the request and clears the password set on the device.","xml":{"name":"ClearPassword"}},"password_policy":{"$ref":"#/components/schemas/DeviceRecoveryLockPasswordPolicyV3Model"}},"description":"The SetRecoveryLock command options. Must be specified for the request to be accepted for the SetRecoveryLock command. This command is applicable only for macOS 11.5+ and available with Apple Silicon."},"DeviceWipeCommandV3Model":{"type":"object","properties":{"wipe_pin":{"type":"integer","description":"The six-character PIN code required for DeviceWipe command.","format":"int32","xml":{"name":"WipePin"}},"obliteration_behavior":{"enum":[0,1,2],"type":"integer","description":"Defines the fallback behavior for erasing a macOS device.","format":"int32","xml":{"name":"ObliterationBehavior"}}},"description":"The DeviceWipe command options. This command is applicable only for macOS devices."},"CustomCommandModel":{"type":"object","properties":{"CommandXml":{"type":"string","description":"Gets or sets the command xml.","xml":{"name":"CommandXml"}}},"description":"The custom command model."},"DeviceRecoveryLockPasswordPolicyV3Model":{"type":"object","properties":{"length":{"maximum":64,"minimum":8,"type":"integer","description":"The length of the password that will be generated. The minimum and the maximum length of the password are 8 and 64 respectively.","format":"int32","xml":{"name":"Length"}},"include_numbers":{"type":"boolean","description":"If true, the generated password can contain numbers.","xml":{"name":"IncludeNumbers"}},"include_letters":{"type":"boolean","description":"If true, the generated password can contain letters.","xml":{"name":"IncludeLetters"}},"include_special_characters":{"type":"boolean","description":"If true, the generated password can contain special characters.","xml":{"name":"IncludeSpecialCharacters"}}},"description":"Specifies the complexity of the Recovery Lock password generated and sent to the device as part of the SetRecoveryLock command. If all of include_numbers, include_letters and include_special_characters are false, then the password can contain all the characters."},"DeviceBulkActionRequestV3Model":{"required":["filter","action_name"],"type":"object","properties":{"filter":{"$ref":"#/components/schemas/DeviceActionSearchRequestModelV3"},"action_name":{"enum":[0,1,2],"type":"integer","description":"Name of the action.","format":"int32","xml":{"name":"ActionName"}}},"description":"Model for bulk device action request.","example":{"filter":{"organization_group_uuid":"3c9e81ef-709a-4a31-b67f-aa8346396a5e","device_uuids":["d4a938fd-aa9e-46b5-9478-970aebfadb47"]},"action_name":"MIGRATE_TO_MULTIUSER"}},"DeviceActionSearchRequestModelV3":{"required":["organization_group_uuid"],"type":"object","properties":{"organization_group_uuid":{"type":"string","description":"Organization group membership filter.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"device_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"An array containing device uuids.","xml":{"name":"DeviceUuids"}}},"description":"Contains filters for device search."},"DeviceActionResponseV3Model":{"type":"object","properties":{"total_count":{"type":"integer","description":"The total count of actions.","format":"int32","xml":{"name":"TotalCount"}},"accepted_count":{"type":"integer","description":"The count of actions accepted for processing.","format":"int32","xml":{"name":"AcceptedCount"}},"failed_count":{"type":"integer","description":"The count of actions failed.","format":"int32","xml":{"name":"FailedCount"}},"faults":{"type":"array","items":{"$ref":"#/components/schemas/DeviceActionFaultModelV3"},"description":"The details of the actions failed.","xml":{"name":"Faults"}}},"description":"Defines the response for device bulk actions.","example":{"total_count":1,"accepted_count":2,"failed_count":3,"faults":[{"request_item":{},"message":"Text value"}]}},"DeviceActionFaultModelV3":{"type":"object","properties":{"request_item":{"type":"object","description":"The identifier of the failed action.","xml":{"name":"RequestItem"}},"message":{"type":"string","description":"The error message for the failure of action.","xml":{"name":"Message"}}},"description":"Defines the fault response for failed actions."},"DeviceSearchResultExtendedV2":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/DeviceExtendedV2"},"description":"List of device details retrieved from the search operation.","xml":{"name":"Devices"}},"orphan_devices_details":{"$ref":"#/components/schemas/OrphanDevicesListModel1"},"page":{"type":"integer","description":"The result set page index.","format":"int32","xml":{"name":"Page"}},"page_size":{"type":"integer","description":"Maximum records per page.","format":"int32","xml":{"name":"PageSize"}},"total":{"type":"integer","description":"Total number of results.","format":"int32","xml":{"name":"Total"}}},"description":"Holds the details of response for device search.","example":{"devices":[{"udid":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","serial_number":"R51G844T90R","mac_address":"485A3F880798","imei":"356766060039613","eas_ids":{"EasId":["Text value"]},"asset_number":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","device_friendly_name":"users iPhone iOS 10.3.2","device_reported_name":"R51G844T90R - My iPhone iOS 10.3.2","organization_group_uuid":"07d8863e-66da-4df7-8196-05e169eb73b4","organization_group_name":"locationgroup1","enrollment_user_name":"user1","enrollment_user_uuid":"88983c00-c671-4bd1-a8b6-7fe7ca852ea6","enrollment_user_email_address":"user1@airwatch.com","ownership":"CORPORATE","platform_name":"iOS","device_type":"UNKNOWN","model_identifier":"MD200LL","model":"iPhone 5s (CDMA/GSM/LTE) (16 GB Silver)","operating_system":"2002-10-03T00:00:00.0000000+02:00","last_seen":"2026-03-24T08:56:50.6881861-07:00","enrollment_status":"UNKNOWN","compliance_status":"UNKNOWN","compromised_status":true,"last_enrolled_on":"2026-03-24T08:56:50.6881861-07:00","last_compliance_check_on":"2026-03-24T08:56:50.6881861-07:00","last_compromised_check_on":"2026-03-24T08:56:50.6881861-07:00","is_supervised":true,"is_remote_management_enabled":"abcd","data_encryption_yn":"Y","ac_line_status":-1,"virtual_memory":1000,"oem_info":"Apple","device_capacity":10,"available_device_capacity":2,"last_system_sample_time":"2026-03-24T08:56:50.6881861-07:00","is_device_dnd_enabled":true,"is_device_locator_enabled":true,"is_cloud_backup_enabled":true,"is_activation_lock_enabled":true,"is_network_tethered":true,"battery_level":"79 %","last_network_lan_sample_time":"2026-03-24T08:56:50.6881861-07:00","last_bluetooth_sample_time":"2026-03-24T08:56:50.6881861-07:00","managed_by":"UNKNOWN","data_protection_status":5,"processor_architecture":5,"os_build_version":"17G65","wifi_ssid":"Example Wi-Fi Name","device_cellular_network_info":[{"carrier_name":"Verizon","card_id":"89914500020257333087","device_mmc":{"sim_mcc":"311","current_mcc":"310"},"phone_number":"4045550100","is_roaming":true}],"device_network_info":[{"connection_type":"Ethernet","ip_address":"127.0.0.1","mac_address":"485A3F880798","name":"en0","vendor":"AirWatch"}],"time_zone":"America/New_York","compliance_summary":{"compliance_policy_results":[{"uuid":"aed6ca14-50f1-46ef-a713-a78ec59d9a00","compliance_status":"COMPLIANT","policy_name":"Application list compliance policy","policy_description":"Compliance policy for device compromised status including application list contains rule","last_compliance_check":"2026-03-24T08:56:50.6982702-07:00","next_compliance_check":"2026-03-24T08:56:50.6982702-07:00","actions_taken":[{"action_type":0}]}],"overall_compliance_status":"UNKNOWN","page":1,"page_size":500,"total":10},"tenant_uuid":"9f77cde0-b251-43e8-b566-2fb142069cd4","customer_uuid":"617a29b8-6e7a-4b4a-a249-315fa6fed2db","model_id":{"Name":"Text value","Uuid":"45fa8b9c-462d-456f-aa5d-6f1abe514198"},"Id":{"Value":1},"Uuid":"ffedccd9-bec1-4531-a5f5-583459e5a474"}],"orphan_devices_details":{"devices":[{"error_code":1,"device_uuid":"Text value","error_message":"Text value"}],"count":1},"page":1,"page_size":500,"total":10}},"EntityId ":{"type":"object","properties":{"Value":{"type":"integer","format":"int64","readOnly":true,"xml":{"name":"Value"}}},"xml":{"name":"Id"}},"DeviceExtendedV2":{"type":"object","properties":{"udid":{"type":"string","description":"UDID of the device.","xml":{"name":"Udid"}},"serial_number":{"type":"string","description":"Serial number of the device.","xml":{"name":"SerialNumber"}},"mac_address":{"type":"string","description":"Gets or sets macaddress of the device.","xml":{"name":"MacAddress"}},"imei":{"type":"string","description":"IMEI hardware identifier.","xml":{"name":"Imei"}},"eas_ids":{"$ref":"#/components/schemas/EasIds"},"asset_number":{"type":"string","description":"Asset number of the device.","xml":{"name":"AssetNumber"}},"device_friendly_name":{"type":"string","description":"Device friendly name.","xml":{"name":"DeviceFriendlyName"}},"device_reported_name":{"type":"string","description":"Device reported name.","xml":{"name":"DeviceReportedName"}},"organization_group_uuid":{"type":"string","description":"UUID of the organization group.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"organization_group_name":{"type":"string","description":"Organization group name the device is enrolled to.","xml":{"name":"OrganizationGroupName"}},"enrollment_user_name":{"type":"string","description":"Name of the user the device is enrolled under.","xml":{"name":"EnrollmentUserName"}},"enrollment_user_uuid":{"type":"string","description":"UUID of the user the device is enrolled under.","format":"uuid","xml":{"name":"EnrollmentUserUuid"},"example":"00000000-0000-0000-0000-000000000000"},"enrollment_user_email_address":{"type":"string","description":"E-mail address of the user the device is enrolled under.","xml":{"name":"EnrollmentUserEmailAddress"}},"ownership":{"enum":[1,2,3,4],"type":"integer","description":"Ownership type of the device.","format":"int32","xml":{"name":"Ownership"}},"platform_name":{"type":"string","description":"Name of the platform.","xml":{"name":"PlatformName"}},"device_type":{"enum":[0,1,2,5,6,7,8,9,10,11,12,14,15,16,18,19,20,21,22,100,101,102,103,104,105,200,201],"type":"integer","description":"Type of the device.","format":"int32","xml":{"name":"DeviceType"}},"model_identifier":{"type":"string","description":"Device model identifier.","xml":{"name":"ModelIdentifier"}},"model":{"type":"string","description":"Model name of the device.","xml":{"name":"Model"}},"operating_system":{"type":"string","description":"Operating system of the device.","xml":{"name":"OperatingSystem"}},"last_seen":{"type":"string","description":"Time the device last reported any status.","format":"date-time","xml":{"name":"LastSeen"}},"enrollment_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16],"type":"integer","description":"Enrollment status of the device.","format":"int32","xml":{"name":"EnrollmentStatus"}},"compliance_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11],"type":"integer","description":"Compliance status of the device.","format":"int32","xml":{"name":"ComplianceStatus"}},"compromised_status":{"type":"boolean","description":"Compromised status of the device.","xml":{"name":"CompromisedStatus"}},"last_enrolled_on":{"type":"string","description":"This gives the Date-Time of last enrollment date.","format":"date-time","xml":{"name":"LastEnrolledOn"}},"last_compliance_check_on":{"type":"string","description":"This gives the Date-time of when the last compliance check was performed.","format":"date-time","xml":{"name":"LastComplianceCheckOn"}},"last_compromised_check_on":{"type":"string","description":"This gives the Date-time of when the last compromised data was received.","format":"date-time","xml":{"name":"LastCompromisedCheckOn"}},"is_supervised":{"type":"boolean","description":"Supervised status of the device.","xml":{"name":"IsSupervised"}},"is_remote_management_enabled":{"type":"string","description":"Remote management enabled status of the device.","xml":{"name":"IsRemoteManagementEnabled"}},"data_encryption_yn":{"type":"string","description":"Data encryption status of the device.","xml":{"name":"DataEncryptionYn"}},"ac_line_status":{"type":"integer","description":"AC line status of the device.","format":"int32","xml":{"name":"AcLineStatus"}},"virtual_memory":{"type":"integer","description":"Virtual memory of the device.","format":"int32","xml":{"name":"VirtualMemory"}},"oem_info":{"type":"string","description":"Name of the device manufacturer.","xml":{"name":"OemInfo"}},"device_capacity":{"type":"integer","description":"Device capacity.","format":"int32","xml":{"name":"DeviceCapacity"}},"available_device_capacity":{"type":"integer","description":"Available device capacity.","format":"int32","xml":{"name":"AvailableDeviceCapacity"}},"last_system_sample_time":{"type":"string","description":"Last System Sample time of the device.","format":"date-time","xml":{"name":"LastSystemSampleTime"}},"is_device_dnd_enabled":{"type":"boolean","description":"This gives information about whether the device is in do not disturb mode or not.","xml":{"name":"IsDeviceDndEnabled"}},"is_device_locator_enabled":{"type":"boolean","description":"This gives information about whether the device locator is enabled or not.","xml":{"name":"IsDeviceLocatorEnabled"}},"is_cloud_backup_enabled":{"type":"boolean","description":"This gives information about whether the device cloud backup is enabled or not.","xml":{"name":"IsCloudBackupEnabled"}},"is_activation_lock_enabled":{"type":"boolean","description":"This gives information about whether the device activation lock is enabled or not.","xml":{"name":"IsActivationLockEnabled"}},"is_network_tethered":{"type":"boolean","description":"This gives information about whether the iOS device is network tethered or not.","xml":{"name":"IsNetworkTethered"}},"battery_level":{"type":"string","description":"This gives information about the battery level of the iOS device.","xml":{"name":"BatteryLevel"}},"last_network_lan_sample_time":{"type":"string","description":"Last Network LAN Sample time of the device.","format":"date-time","xml":{"name":"LastNetworkLanSampleTime"}},"last_bluetooth_sample_time":{"type":"string","description":"Last Bluetooth Sample time of the device.","format":"date-time","xml":{"name":"LastBluetoothSampleTime"}},"managed_by":{"enum":[0,1,2,3,4,5,6],"type":"integer","description":"Device managed by.","format":"int32","xml":{"name":"ManagedBy"}},"data_protection_status":{"type":"integer","description":"Data protection status of the user the device belongs to.","format":"int32","xml":{"name":"DataProtectionStatus"}},"processor_architecture":{"type":"integer","description":"Information about the processor Architecture reported by the device.","format":"int32","xml":{"name":"ProcessorArchitecture"}},"os_build_version":{"type":"string","description":"OS build version of the device.","xml":{"name":"OsBuildVersion"}},"wifi_ssid":{"type":"string","description":"WiFi SSID the device is connected to.","xml":{"name":"WifiSsid"}},"device_cellular_network_info":{"type":"array","items":{"$ref":"#/components/schemas/DeviceCellularInfoModelV2"},"description":"Device cellular network information.","xml":{"name":"DeviceCellularNetworkInfo"}},"device_network_info":{"type":"array","items":{"$ref":"#/components/schemas/DeviceNetworkInfoV2"},"description":"Network information of the device.","xml":{"name":"DeviceNetworkInfo"}},"time_zone":{"type":"string","description":"Time Zone in Internet Assigned Numbers Authority (IANA) data base name format.","xml":{"name":"TimeZone"}},"compliance_summary":{"$ref":"#/components/schemas/DeviceComplianceSearchResultV2Model"},"tenant_uuid":{"type":"string","description":"Gets or sets the Tenant uuid.","format":"uuid","xml":{"name":"TenantUuid"},"example":"00000000-0000-0000-0000-000000000000"},"customer_uuid":{"type":"string","description":"Gets or sets the Customer uuid.","format":"uuid","xml":{"name":"CustomerUuid"},"example":"00000000-0000-0000-0000-000000000000"},"model_id":{"$ref":"#/components/schemas/EntityReference"},"Id":{"$ref":"#/components/schemas/EntityId "},"Uuid":{"type":"string","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Device model that contains all the details for the device"},"OrphanDevicesListModel1":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/components/schemas/OrphanDeviceModel1"},"xml":{"name":"Devices"}},"count":{"type":"integer","format":"int32","xml":{"name":"Count"}}}},"EasIds":{"type":"object","properties":{"EasId":{"type":"array","items":{"type":"string"},"xml":{"name":"EasId"}}}},"DeviceCellularInfoModelV2":{"type":"object","properties":{"carrier_name":{"type":"string","description":"Operator / Carrier name.","xml":{"name":"CarrierName"}},"card_id":{"type":"string","description":"Circuit card identifier.","xml":{"name":"CardId"}},"device_mmc":{"$ref":"#/components/schemas/DeviceMccV2"},"phone_number":{"type":"string","description":"Phone number of the device.","xml":{"name":"PhoneNumber"}},"is_roaming":{"type":"boolean","description":"This gives information about the roaming status of the device.","xml":{"name":"IsRoaming"}}},"description":"Device cellular network information."},"DeviceNetworkInfoV2":{"type":"object","properties":{"connection_type":{"type":"string","description":"Device network connection type.","xml":{"name":"ConnectionType"}},"ip_address":{"type":"string","description":"IP address of the device.","xml":{"name":"IpAddress"}},"mac_address":{"type":"string","description":"MAC address of the device.","xml":{"name":"MacAddress"}},"name":{"type":"string","description":"Interface name.","xml":{"name":"Name"}},"vendor":{"type":"string","description":"Vendor name.","xml":{"name":"Vendor"}}},"description":"Network information of the device."},"DeviceComplianceSearchResultV2Model":{"type":"object","properties":{"compliance_policy_results":{"type":"array","items":{"$ref":"#/components/schemas/CompliancePolicyResultModel"},"description":"A list of device compliance policy details and results.","xml":{"name":"CompliancePolicyResults"}},"overall_compliance_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11],"type":"integer","description":"Overall compliance status of the device.","format":"int32","xml":{"name":"OverallComplianceStatus"}},"page":{"type":"integer","description":"The result set page index.","format":"int32","xml":{"name":"Page"}},"page_size":{"type":"integer","description":"Maximum records per page.","format":"int32","xml":{"name":"PageSize"}},"total":{"type":"integer","description":"Total number of results.","format":"int32","xml":{"name":"Total"}}},"description":"Compliance details of the device given the device ID"},"EntityReference":{"type":"object","properties":{"Id":{"$ref":"#/components/schemas/EntityId"},"Name":{"type":"string","xml":{"name":"Name"}},"Uuid":{"type":"string","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"}},"xml":{"name":"EntityReference","namespace":"http://www.air-watch.com/servicemodel/resources"}},"OrphanDeviceModel1":{"type":"object","properties":{"error_code":{"type":"integer","format":"int32","xml":{"name":"ErrorCode"}},"device_uuid":{"type":"string","xml":{"name":"DeviceUUID"}},"error_message":{"type":"string","xml":{"name":"ErrorMessage"}}}},"DeviceMccV2":{"type":"object","properties":{"sim_mcc":{"type":"string","description":"SIM Mobile Country Code.","xml":{"name":"SimMcc"}},"current_mcc":{"type":"string","description":"Device Current Mobile Country Code.","xml":{"name":"CurrentMcc"}}},"description":"Information about Device Mobile Country Code."},"CompliancePolicyResultModel":{"type":"object","properties":{"uuid":{"type":"string","description":"The policy's universally unique identifier (UUID).","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"},"compliance_status":{"enum":[0,1,2],"type":"integer","description":"The compliance evaluation of the policy.","format":"int32","xml":{"name":"ComplianceStatus"}},"policy_name":{"type":"string","description":"The name of the compliance policy for the device.","xml":{"name":"PolicyName"}},"policy_description":{"type":"string","description":"The description of the compliance policy.","xml":{"name":"PolicyDescription"}},"last_compliance_check":{"type":"string","description":"The date and time of the last compliance check in UTC.","format":"date-time","xml":{"name":"LastComplianceCheck"}},"next_compliance_check":{"type":"string","description":"The date and time of the next compliance check in UTC.","format":"date-time","xml":{"name":"NextComplianceCheck"}},"actions_taken":{"type":"array","items":{"$ref":"#/components/schemas/ComplianceActionTakenModel1"},"description":"The compliance actions taken on the device due to non-compliance policy evaluation.","xml":{"name":"ActionsTaken"}}},"description":"Detailed MDM compliance policy details and results."},"ComplianceActionTakenModel1":{"type":"object","properties":{"action_type":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,19,20,21],"type":"integer","description":"An enum representing the compliance action.","format":"int32","xml":{"name":"ActionType"}}},"description":"Details of the device compliance action taken on the device."},"DeviceSearchPaginatedRequestV3Model":{"required":["organization_group_uuid"],"type":"object","properties":{"page_size":{"type":"integer","description":"An integer that indicates the maximum number of records per page. It is limited to 500.","format":"int32","xml":{"name":"PageSize"}},"page":{"type":"integer","description":"An integer describing the starting position in the result set.","format":"int32","xml":{"name":"Page"}},"sort_order":{"enum":[0,1],"type":"integer","description":"Specifies the sort order for the result set.","format":"int32","xml":{"name":"SortOrder"}},"sort_by":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19],"type":"integer","description":"Sort results based on given input.","format":"int32","xml":{"name":"SortBy"}},"android_enrollment_mode":{"type":"array","items":{"enum":[0,1,2,3],"type":"integer","format":"int32"},"description":"Android enrollment mode.","xml":{"name":"AndroidEnrollmentMode"}},"battery_level":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"child_organization_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Filter by an array of organization group uuids.","xml":{"name":"ChildOrganizationGroupUuids"}},"compliance_status":{"enum":[0,1,2,3,4],"type":"integer","description":"Device compliance status.","format":"int32","xml":{"name":"ComplianceStatus"}},"compromised_status":{"enum":[0,1,2],"type":"integer","description":"Device compromised status.","format":"int32","xml":{"name":"CompromisedStatus"}},"content_compliance":{"enum":[0,1],"type":"integer","description":"Device content compliance status.","format":"int32","xml":{"name":"ContentCompliance"}},"cpu_architecture":{"type":"array","items":{"enum":[0,1,2,3,4,5],"type":"integer","format":"int32"},"description":"CPU architecture for Windows Desktop and Mac OS Devices.","xml":{"name":"CpuArchitecture"}},"device_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Device uuids.","xml":{"name":"DeviceUuids"}},"encryption_status":{"enum":[0,1,2],"type":"integer","description":"Device encryption status.","format":"int32","xml":{"name":"EncryptionStatus"}},"enrollment_history":{"enum":[0,1,2],"type":"integer","description":"Device enrollment history.","format":"int32","xml":{"name":"EnrollmentHistory"}},"enrollment_status":{"enum":[0,1,2,3],"type":"integer","description":"Device enrollment status.","format":"int32","xml":{"name":"EnrollmentStatus"}},"external_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"internal_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"ip_range":{"$ref":"#/components/schemas/IpRangeV3Model"},"last_seen_days_range":{"$ref":"#/components/schemas/LastSeenDaysRangeV3Model"},"lost_mode_enabled":{"type":"boolean","description":"Filter by lost mode enabled/disabled.","xml":{"name":"LostModeEnabled"}},"mac_address":{"type":"string","description":"The Mac address.","xml":{"name":"MacAddress"}},"management_type":{"enum":[0,1,2,3,4],"type":"integer","description":"Device management type.","format":"int32","xml":{"name":"ManagementType"}},"organization_group_uuid":{"type":"string","description":"Organization group uuid.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"ownerships":{"type":"array","items":{"enum":[0,1,2,3],"type":"integer","format":"int32"},"description":"Device ownership type.","xml":{"name":"Ownerships"}},"passcode_present":{"enum":[0,1,2],"type":"integer","description":"Device passcode presence.","format":"int32","xml":{"name":"PasscodePresent"}},"platform":{"type":"array","items":{"$ref":"#/components/schemas/PlatformFilterV3Model"},"description":"Device platform filter model.","xml":{"name":"Platform"}},"search_text":{"type":"string","description":"A string value by which devices are to be filtered by matching against device properties like Udid,Friendly Name, Model Name,Phone Number,Serial Number,Device Type,Asset Number,Username,First Name,Middle Name,Last Name and Email Address.","xml":{"name":"SearchText"}},"smart_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Smart group uuids.","xml":{"name":"SmartGroupUuids"}},"tag_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Device tag uuids.","xml":{"name":"TagUuids"}},"user_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"User group uuids.","xml":{"name":"UserGroupUuids"}},"user_modes":{"type":"array","items":{"enum":[0,1,2,3,4],"type":"integer","format":"int32"},"description":"User mode filter.","xml":{"name":"UserModes"}}},"description":"Contains filters for device search.","example":{"page_size":500,"page":1,"sort_order":"ASC","sort_by":"COMPLIANCE_STATUS","android_enrollment_mode":[0],"battery_level":{"minimum_value":1,"maximum_value":1},"child_organization_group_uuids":["08831553-5959-46fa-a12c-28d77cccc95b"],"compliance_status":"UNKNOWN","compromised_status":"UNKNOWN","content_compliance":"MISSING_REQUIRED_DOCUMENTS","cpu_architecture":[0],"device_uuids":["dc20c5a5-7d50-496c-98b4-ef283bf33dde"],"encryption_status":"UNKNOWN","enrollment_history":"PAST_DAY","enrollment_status":"ENROLLED","external_storage_mega_bytes":{},"internal_storage_mega_bytes":{},"ip_range":{"start":"127.0.0.1","end":"127.0.0.10"},"last_seen_days_range":{"start":1,"end":1},"lost_mode_enabled":true,"mac_address":"00:A0:C9:14:C8:29","management_type":"UNKNOWN","organization_group_uuid":"261bc431-2905-454a-aef4-3c4ed422ffaf","ownerships":[0],"passcode_present":"UNKNOWN","platform":[{"device_type":0,"device_model":{"device_models":["Text value"],"versions":["Text value"]}}],"search_text":"Android, user123","smart_group_uuids":["fc6d6c68-db0d-498a-86a5-80fb068cd403"],"tag_uuids":["f6c32c37-0110-4a80-abef-719888c4f9e3"],"user_group_uuids":["f28f293c-b139-4589-968a-7f11190ab855"],"user_modes":[0]}},"MinimumMaximumRangeV3Model":{"type":"object","properties":{"minimum_value":{"type":"integer","description":"Minimum value of the property.","format":"int32","xml":{"name":"MinimumValue"}},"maximum_value":{"type":"integer","description":"Maximum value of the property.","format":"int32","xml":{"name":"MaximumValue"}}},"description":"Minimum and Maximum range of the property values."},"IpRangeV3Model":{"required":["start","end"],"type":"object","properties":{"start":{"type":"string","description":"IP address range start value.","xml":{"name":"Start"}},"end":{"type":"string","description":"IP address range end value.","xml":{"name":"End"}}},"description":"IP address range criteria."},"LastSeenDaysRangeV3Model":{"type":"object","properties":{"start":{"type":"integer","description":"Start value of the property.","format":"int32","xml":{"name":"Start"}},"end":{"type":"integer","description":"End value of the property.","format":"int32","xml":{"name":"End"}}},"description":"Start and end range of the property values."},"PlatformFilterV3Model":{"required":["device_type"],"type":"object","properties":{"device_type":{"enum":[0,1,2,3,4,5,6,7,8,9,10],"type":"integer","description":"Device type.","format":"int32","xml":{"name":"DeviceType"}},"device_model":{"$ref":"#/components/schemas/DeviceModelFilterV3Model"}},"description":"Platform filter model."},"DeviceModelFilterV3Model":{"type":"object","properties":{"device_models":{"type":"array","items":{"type":"string"},"description":"Device model filter. An array of device model names.","xml":{"name":"DeviceModels"}},"versions":{"type":"array","items":{"type":"string"},"description":"An array of OS version.","xml":{"name":"Versions"}}},"description":"Defines platform model."},"DeviceSearchResponseV3Model":{"type":"object","properties":{"total_results":{"type":"integer","description":"An integer describing the total number of search results available","format":"int32","xml":{"name":"TotalResults"}},"page":{"type":"integer","description":"A value indicating page number.","format":"int32","xml":{"name":"Page"}},"page_size":{"type":"integer","description":"Maximum records per page.","format":"int32","xml":{"name":"PageSize"}},"results":{"type":"array","items":{"$ref":"#/components/schemas/DeviceV3Model"},"description":"An array of devices containing the search results.","xml":{"name":"Results"}}},"description":"","example":{"total_results":1,"page":2,"page_size":3,"results":[{"android_work_enrollment_mode":"NONE","asset_number":"Text value","build_version":"16H22","compliance_status":"UNKNOWN","compromised":"UNKNOWN","current_carrier":"Text value","customer_code":"Text value","device_capability_details":{"enterprise_api_version":1,"is_enterprise_reset_supported":true,"is_android_for_work":true,"is_device_owner":true,"is_third_party_remote_management_enabled":true,"is_device_reassignment_supported":true,"is_device_reassignment_enabled":true,"is_Relinquish_Ownership_For_Cope_Supported":true},"device_compliance_violation_details":[{"policy_name":"Text value","last_compliance_check_on":"2026-03-24T08:56:51.1126801-07:00","device_uuid":"b2e755ff-d41f-4182-9338-170272c31c4b"}],"device_custom_attribute_details":[{"custom_attribute_name":"Text value","custom_attribute_value":"Text value"}],"device_group":"Text value","device_managed_by":"UNKNOWN","device_type":"UNKNOWN","device_up":true,"device_uuid":"172eb8b0-0671-4fcf-9b29-1dc2ca48a6a2","display_model":"RP2","display_name":"Android Device","dm_last_seen_time":"Text value","dm_last_seen_time_at":"2026-03-24T08:56:51.1126801-07:00","email_address":"Text value","enrollment_category":"UNKNOWN","enrollment_date":"2026-03-24T08:56:51.1126801-07:00","enrollment_status":"UNKNOWN","enrollment_user_uuid":"95854862-b452-4f0f-8b5b-d3d9a94adb67","first_name":"Text value","friendly_name":"Text value","has_notes":true,"home_carrier":"Text value","imei":"012262004935526","last_name":"wick","last_seen":"Text value","last_seen_at":"2026-03-24T08:56:51.1126801-07:00","management_type":"UNKNOWN","model_name":"Text value","organization_group_name":"Text value","organization_group_uuid":"957ed410-f945-4a95-a665-fdc1e02cf110","os_supp_version":"Text value","os_version":"Text value","ownership":"UNKNOWN","phone_number":"Text value","public_ip_address":"Text value","serial_number":"Text value","tag_details":[{"tag_name":"Text value","tag_uuid":"26924027-2de9-4232-a292-bd4fece76171"}],"user_enrolled":true,"user_mode":"MULTI_USER_MODE","username":"Text value","wifi_ip_address":"127.0.0.1","wifi_mac_address":"00:A0:C9:14:C8:29","wifi_ssid":"airwatchlab","wns_status":true,"is_lost_mode_enabled":true,"cpu_processor_architecture":"Text value","is_supervised":true,"apple_device_enrollment_type":"UNKNOWN","windows_model_family":"UNKNOWN","is_bios_profile_type_managed":true,"is_winmo_passcode_profile_exist":true,"android_device_enrollment_target":"NONE","linux_hub_app_version":"Text value","is_device_active":true,"is_device_reassignment_paused":true,"security_patch_applied_at":"2026-03-24T08:56:51.1126801-07:00","intel_cloud_capabilities":["UNKNOWN"]}]}},"DeviceV3Model":{"type":"object","properties":{"android_work_enrollment_mode":{"enum":[0,1,2,3,4,5,6,7],"type":"integer","description":"The android work enrollment mode.","format":"int32","xml":{"name":"AndroidWorkEnrollmentMode"}},"asset_number":{"type":"string","description":"Asset number of the device.","xml":{"name":"AssetNumber"}},"build_version":{"type":"string","description":"Build version of the device OS.","xml":{"name":"BuildVersion"}},"compliance_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11],"type":"integer","description":"The Compliance Status of the device.","format":"int32","xml":{"name":"ComplianceStatus"}},"compromised":{"enum":[0,1,2],"type":"integer","description":"A value indicating the compromised status of the device.","format":"int32","xml":{"name":"Compromised"}},"current_carrier":{"type":"string","description":"CurrentCarrier name of the device.","xml":{"name":"CurrentCarrier"}},"customer_code":{"type":"string","description":"A unique customer code of organization group to which device has enrolled.","xml":{"name":"CustomerCode"}},"device_capability_details":{"$ref":"#/components/schemas/DeviceCapabilityDetailsV3Model"},"device_compliance_violation_details":{"type":"array","items":{"$ref":"#/components/schemas/DeviceComplianceVoilationsDetailsV3Model"},"description":"The Device compliance violations details.","xml":{"name":"DeviceComplianceViolationDetails"}},"device_custom_attribute_details":{"type":"array","items":{"$ref":"#/components/schemas/DeviceCustomAttributeEntityV3Model"},"description":"The Device Custom attribute details.","xml":{"name":"DeviceCustomAttributeDetails"}},"device_group":{"type":"string","description":"The device group.","xml":{"name":"DeviceGroup"}},"device_managed_by":{"enum":[0,1,2,3,4,5,6,7],"type":"integer","description":"Device managed by.","format":"int32","xml":{"name":"DeviceManagedBy"}},"device_type":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"type":"integer","description":"The device platform.","format":"int32","xml":{"name":"DeviceType"}},"device_up":{"type":"boolean","description":"A value indicating whether the device has checked in within the device timeout period.","xml":{"name":"DeviceUp"}},"device_uuid":{"type":"string","description":"Device unique identifier for each device.","format":"uuid","xml":{"name":"DeviceUuid"},"example":"00000000-0000-0000-0000-000000000000"},"display_model":{"type":"string","description":"Display model of the device.","xml":{"name":"DisplayModel"}},"display_name":{"type":"string","description":"Display name of the device.","xml":{"name":"DisplayName"}},"dm_last_seen_time":{"type":"string","description":"The DM last seen time as string.","xml":{"name":"DmLastSeenTime"}},"dm_last_seen_time_at":{"type":"string","description":"The DM last seen time.","format":"date-time","xml":{"name":"DmLastSeenTimeAt"}},"email_address":{"type":"string","description":"Email address of the device owner.","xml":{"name":"EmailAddress"}},"enrollment_category":{"enum":[0,1,2,3,4],"type":"integer","description":"Enrollment category.","format":"int32","xml":{"name":"EnrollmentCategory"}},"enrollment_date":{"type":"string","description":"Enrollment date of the device.","format":"date-time","xml":{"name":"EnrollmentDate"}},"enrollment_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],"type":"integer","description":"The Enrollment Status of the device.","format":"int32","xml":{"name":"EnrollmentStatus"}},"enrollment_user_uuid":{"type":"string","description":"Enrollment user uuid associated with device.","format":"uuid","xml":{"name":"EnrollmentUserUuid"},"example":"00000000-0000-0000-0000-000000000000"},"first_name":{"type":"string","description":"First name of the device owner.","xml":{"name":"FirstName"}},"friendly_name":{"type":"string","description":"Friendly name of Device.","xml":{"name":"FriendlyName"}},"has_notes":{"type":"boolean","description":"A value indicating whether the device has notes or not.","xml":{"name":"HasNotes"}},"home_carrier":{"type":"string","description":"HomeCarrier name of the device to which the device is enrolled.","xml":{"name":"HomeCarrier"}},"imei":{"type":"string","description":"IMEI of the device.","xml":{"name":"Imei"}},"last_name":{"type":"string","description":"Last name of the device owner.","xml":{"name":"LastName"}},"last_seen":{"type":"string","description":"Last seen date diff with UTC.Now.","xml":{"name":"LastSeen"}},"last_seen_at":{"type":"string","description":"Last seen active time.","format":"date-time","xml":{"name":"LastSeenAt"}},"management_type":{"enum":[0,1,2,3,4,5,6,7,8,9],"type":"integer","description":"Device management type.","format":"int32","xml":{"name":"ManagementType"}},"model_name":{"type":"string","description":"Model name of the device.","xml":{"name":"ModelName"}},"organization_group_name":{"type":"string","description":"Organization group name in which the device exists.","xml":{"name":"OrganizationGroupName"}},"organization_group_uuid":{"type":"string","description":"Organization group uuid in which the device exists.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"os_supp_version":{"type":"string","description":"OS supplement version of the device.","xml":{"name":"OsSuppVersion"}},"os_version":{"type":"string","description":"OS version of the device.","xml":{"name":"OsVersion"}},"ownership":{"enum":[0,1,2,3],"type":"integer","description":"Defines the device ownership status.","format":"int32","xml":{"name":"Ownership"}},"phone_number":{"type":"string","description":"Primary phone number of the device.","xml":{"name":"PhoneNumber"}},"public_ip_address":{"type":"string","description":"Public ip address of the device.","xml":{"name":"PublicIpAddress"}},"serial_number":{"type":"string","description":"Serial number of the device.","xml":{"name":"SerialNumber"}},"tag_details":{"type":"array","items":{"$ref":"#/components/schemas/DeviceTagEntityV3Model"},"description":"An array of tag details of the device.","xml":{"name":"TagDetails"}},"user_enrolled":{"type":"boolean","description":"A value indicating whether the user is enrolled or not.","xml":{"name":"UserEnrolled"}},"user_mode":{"enum":[0,1,2,3,4],"type":"integer","description":"Device user mode.","format":"int32","xml":{"name":"UserMode"}},"username":{"type":"string","description":"Username of the owner reported by the device.","xml":{"name":"Username"}},"wifi_ip_address":{"type":"string","description":"The Wifi Ip address.","xml":{"name":"WifiIpAddress"}},"wifi_mac_address":{"type":"string","description":"The Wifi Mac address.","xml":{"name":"WifiMacAddress"}},"wifi_ssid":{"type":"string","description":"The wifi ssid.","xml":{"name":"WifiSsid"}},"wns_status":{"type":"boolean","description":"A value indicating whether the WNS status is set.","xml":{"name":"WnsStatus"}},"is_lost_mode_enabled":{"type":"boolean","description":"A value indicating whether the lost mode is enabled.","xml":{"name":"IsLostModeEnabled"}},"cpu_processor_architecture":{"type":"string","description":"A value indicating Cpu Processor architecture.","xml":{"name":"CpuProcessorArchitecture"}},"is_supervised":{"type":"boolean","description":"A value indicating whether device is supervised or not.","xml":{"name":"IsSupervised"}},"apple_device_enrollment_type":{"enum":[0,1,2,3,4],"type":"integer","description":"A value indicating apple device enrollment type.","format":"int32","xml":{"name":"enrollment_type"}},"windows_model_family":{"enum":[1,20,21,22,23,24,25,26,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49],"type":"integer","description":"A value indicating apple device enrollment type.","format":"int32","xml":{"name":"windows_model_family"}},"is_bios_profile_type_managed":{"type":"boolean","description":"A value indicating if bios profile type is managed.","xml":{"name":"IsBiosProfileTypeManaged"}},"is_winmo_passcode_profile_exist":{"type":"boolean","description":"A value indicating if Winmo Passcode profile exist or not.","xml":{"name":"IsWinMoPasscodeProfileExist"}},"android_device_enrollment_target":{"enum":[0,1,2,3,4],"type":"integer","description":"A value indicating if Winmo Passcode profile exist or not.","format":"int32","xml":{"name":"AndroidDeviceEnrollmentTarget"}},"linux_hub_app_version":{"type":"string","description":"A value indicating if Winmo Passcode profile exist or not.","xml":{"name":"LinuxHubAppVersion"}},"is_device_active":{"type":"boolean","description":"A value indicating if device is active.","xml":{"name":"IsDeviceActive"}},"is_device_reassignment_paused":{"type":"boolean","description":"A value indicating whether device reassignment is paused or not","xml":{"name":"IsDeviceReassignmentPaused"}},"security_patch_applied_at":{"type":"string","description":"Security patch applied date.","format":"date-time","xml":{"name":"SecurityPatchAppliedAt"}},"intel_cloud_capabilities":{"type":"array","items":{"enum":[0,1,2,3,4,5],"type":"integer","format":"int32"},"description":"Gets or sets a list of Intel Cloud actions which the device is capable of.","xml":{"name":"IntelCloudCapabilities"}}},"description":"Basic description about the devices"},"DeviceCapabilityDetailsV3Model":{"type":"object","properties":{"enterprise_api_version":{"type":"integer","description":"Enterprise API version.","format":"int32","xml":{"name":"EnterpriseApiVersion"}},"is_enterprise_reset_supported":{"type":"boolean","description":"A value indicating whether device support enterprise reset.","xml":{"name":"IsEnterpriseResetSupported"}},"is_android_for_work":{"type":"boolean","description":"A value indicating whether device is android for work.","xml":{"name":"IsAndroidForWork"}},"is_device_owner":{"type":"boolean","description":"A value indicating whether deevice enrolled in owner mode.","xml":{"name":"IsDeviceOwner"}},"is_third_party_remote_management_enabled":{"type":"boolean","description":"A value indicating whether third party remote management is enabled.","xml":{"name":"IsThirdPartyRemoteManagementEnabled"}},"is_device_reassignment_supported":{"type":"boolean","description":"A value indicating whether Reassignment is supported by device.","xml":{"name":"IsDeviceReassignmentSupported"}},"is_device_reassignment_enabled":{"type":"boolean","description":"A value indicating whether Reassignment is enabled on device.","xml":{"name":"IsDeviceReassignmentEnabled"}},"is_Relinquish_Ownership_For_Cope_Supported":{"type":"boolean","description":"A value indicating if isRelinquishOwnershipForCopeSupported is set or not.","xml":{"name":"isRelinquishOwnershipForCopeSupported"}}},"description":"Device capability details."},"DeviceComplianceVoilationsDetailsV3Model":{"type":"object","properties":{"policy_name":{"type":"string","description":"The name of the policy.","xml":{"name":"PolicyName"}},"last_compliance_check_on":{"type":"string","description":"The Date-Time of the last compliance check on.","format":"date-time","xml":{"name":"LastComplianceCheckOn"}},"device_uuid":{"type":"string","description":"The Unique identifier of the device.","format":"uuid","xml":{"name":"DeviceUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Information about the device compliance violations."},"DeviceCustomAttributeEntityV3Model":{"type":"object","properties":{"custom_attribute_name":{"type":"string","description":"The name of the custom attribute.","xml":{"name":"CustomAttributeName"}},"custom_attribute_value":{"type":"string","description":"The custom attribute value.","xml":{"name":"CustomAttributeValue"}}},"description":"A device custom attribute entity."},"DeviceTagEntityV3Model":{"type":"object","properties":{"tag_name":{"type":"string","description":"The name of the tag.","xml":{"name":"TagName"}},"tag_uuid":{"type":"string","description":"The Unique identifier of the tag.","format":"uuid","xml":{"name":"TagUuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"A device tag entity.","example":[{"tag_name":"Text value","tag_uuid":"c8020af8-fc0a-47ad-b35a-9eb52c5d804f"}]},"DeviceGpsSearchRequestV3Model":{"required":["organization_group_uuid"],"type":"object","properties":{"page_size":{"type":"integer","description":"An integer that indicates the maximum number of records per page. It is limited to 500.","format":"int32","xml":{"name":"PageSize"}},"page":{"type":"integer","description":"An integer describing the starting position in the result set.","format":"int32","xml":{"name":"Page"}},"address":{"type":"string","description":"Input to search by provided address.","xml":{"name":"Address"}},"device_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Device uuids.","xml":{"name":"DeviceUuids"}},"organization_group_uuid":{"type":"string","description":"UUID of the organization group.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"range":{"enum":[0,1,2,3,4,5,6],"type":"integer","description":"Value to search devices within provided range in Miles.","format":"int32","xml":{"name":"Range"}}},"description":"Contains request model for device location search using address.","example":{"page_size":500,"page":1,"address":"Text value","device_uuids":["fe61354a-dba9-42c8-8dd8-9cecfeb617b1"],"organization_group_uuid":"ebcdfe57-b908-4056-9461-bc8bbc802d38","range":"FIVE"}},"DeviceGpsSearchResponseV3Model":{"type":"object","properties":{"total_results":{"type":"integer","description":"An integer describing the total number of search results available","format":"int32","xml":{"name":"TotalResults"}},"page":{"type":"integer","description":"A value indicating page number.","format":"int32","xml":{"name":"Page"}},"page_size":{"type":"integer","description":"Maximum records per page.","format":"int32","xml":{"name":"PageSize"}},"results":{"type":"array","items":{"$ref":"#/components/schemas/DeviceGpsV3Model"},"description":"An array of devices containing the search results.","xml":{"name":"Results"}}},"description":"Contains response model for device location search using address.","example":{"total_results":1,"page":2,"page_size":3,"results":[{"co_ordinates":{"elevation":1,"latitude":1,"longitude":1,"note":"Text value","sample_time":"2026-03-24T08:56:51.2241287-07:00","speed":1,"time_at_location":"2026-03-24T08:56:51.2241287-07:00"},"device_name":"Text value","device_type":"UNKNOWN","device_uuid":"7efab6f0-904e-46e3-b187-173ce6699a8d","email_address":"Text value","first_name":"Text value","is_device_up":true,"last_name":"Text value","last_ping":"Text value","last_seen":"2026-03-24T08:56:51.2241287-07:00","organization_group_name":"Text value","ownership":"UNKNOWN","phone_number":"Text value","username":"Text value"}]}},"DeviceGpsV3Model":{"type":"object","properties":{"co_ordinates":{"$ref":"#/components/schemas/GpsCoordinateEntityV3Model"},"device_name":{"type":"string","description":"A name of the device.","xml":{"name":"DeviceName"}},"device_type":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"type":"integer","description":"The device platform.","format":"int32","xml":{"name":"DeviceType"}},"device_uuid":{"type":"string","description":"An unique identifier of the device.","format":"uuid","xml":{"name":"DeviceUuid"},"example":"00000000-0000-0000-0000-000000000000"},"email_address":{"type":"string","description":"Email address.","xml":{"name":"EmailAddress"}},"first_name":{"type":"string","description":"Username of the enrolled user.","xml":{"name":"FirstName"}},"is_device_up":{"type":"boolean","description":"Boolean value indicating whether this object is device up.","xml":{"name":"IsDeviceUp"}},"last_name":{"type":"string","description":"Username of the enrolled user.","xml":{"name":"LastName"}},"last_ping":{"type":"string","description":"Last ping of the device.","xml":{"name":"LastPing"}},"last_seen":{"type":"string","description":"Last seen of the device.","format":"date-time","xml":{"name":"LastSeen"}},"organization_group_name":{"type":"string","description":"Organization Group of the device.","xml":{"name":"OrganizationGroupName"}},"ownership":{"enum":[0,1,2,3],"type":"integer","description":"Defines the device ownership status.","format":"int32","xml":{"name":"Ownership"}},"phone_number":{"type":"string","description":"The phone number.","xml":{"name":"PhoneNumber"}},"username":{"type":"string","description":"Username of the enrolled user.","xml":{"name":"Username"}}},"description":"Contains response model for devices based on location search filters."},"GpsCoordinateEntityV3Model":{"type":"object","properties":{"elevation":{"type":"number","description":"The elevation.","format":"double","xml":{"name":"Elevation"}},"latitude":{"type":"number","description":"latitude co-ordinate.","format":"double","xml":{"name":"Latitude"}},"longitude":{"type":"number","description":"longitude co-ordinate.","format":"double","xml":{"name":"Longitude"}},"note":{"type":"string","description":"The note.","xml":{"name":"Note"}},"sample_time":{"type":"string","description":"GPS sample time.","format":"date-time","xml":{"name":"SampleTime"}},"speed":{"type":"number","description":"The speed.","format":"double","xml":{"name":"Speed"}},"time_at_location":{"type":"string","description":"Time at the location.","format":"date-time","xml":{"name":"TimeAtLocation"}}},"description":"Gps coordinate info."},"DeviceResponseV3Model":{"type":"object","properties":{"udid":{"type":"string","description":"UDID of the device.","xml":{"name":"Udid"}},"serial_number":{"type":"string","description":"Serial number of the device.","xml":{"name":"SerialNumber"}},"mac_address":{"type":"string","description":"MAC Address of the device.","xml":{"name":"MacAddress"}},"imei":{"type":"string","description":"Device IMEI hardware identifier.","xml":{"name":"Imei"}},"friendly_name":{"type":"string","description":"Friendly name of the device.","xml":{"name":"FriendlyName"}},"device_reported_name":{"type":"string","description":"Device reported name.","xml":{"name":"DeviceReportedName"}},"organization_group_name":{"type":"string","description":"Device organization group name.","xml":{"name":"OrganizationGroupName"}},"total_storage_bytes":{"type":"string","description":"Total storage capacity in bytes.","xml":{"name":"TotalStorageBytes"}},"available_storage_bytes":{"type":"string","description":"Available storage capacity in bytes.","xml":{"name":"AvailableStorageBytes"}},"total_physical_memory_bytes":{"type":"string","description":"Total physical memory capacity in bytes.","xml":{"name":"TotalPhysicalMemoryBytes"}},"available_physical_memory_bytes":{"type":"string","description":"Available physical memory capacity in bytes.","xml":{"name":"AvailablePhysicalMemoryBytes"}},"total_external_storage_bytes":{"type":"string","description":"Total external storage capacity in bytes.","xml":{"name":"TotalExternalStorageBytes"}},"available_external_storage_bytes":{"type":"string","description":"Available external storage capacity in bytes.","xml":{"name":"AvailableExternalStorageBytes"}},"total_internal_storage_bytes":{"type":"string","description":"Total internal storage capacity in bytes.","xml":{"name":"TotalInternalStorageBytes"}},"available_internal_storage_bytes":{"type":"string","description":"Available internal storage capacity in bytes.","xml":{"name":"AvailableInternalStorageBytes"}},"battery_level_percentage":{"type":"string","description":"Battery level of the iOS device in percentage.","xml":{"name":"BatteryLevelPercentage"}},"computer_name":{"type":"string","description":"Desktop name of the device.","xml":{"name":"ComputerName"}},"supervised":{"type":"boolean","description":"Supervised status of the device.","xml":{"name":"Supervised"}},"data_encrypted":{"type":"boolean","description":"Data encryption status.","xml":{"name":"DataEncrypted"}},"platform_info":{"$ref":"#/components/schemas/PlatformDetailsResponseV3Model"},"carrier_info":{"$ref":"#/components/schemas/DeviceCarrierDetailsResponseV3Model"},"enrollment_info":{"$ref":"#/components/schemas/DeviceEnrollmentDetailsResponseV3Model"},"os_build_version":{"type":"string","description":"OS build version of the device.","xml":{"name":"OsBuildVersion"}},"wifi_ssid":{"type":"string","description":"WiFi SSID device is connected to.","xml":{"name":"WifiSsid"}},"last_reboot":{"type":"string","description":"Last reboot time reported by the device in ISO 8601 format.","format":"date-time","xml":{"name":"LastReboot"}},"security_patch_date":{"type":"string","description":"Security Patch Date reported by the device in ISO 8601 format.","format":"date-time","xml":{"name":"SecurityPatchDate"}},"system_update_received_time":{"type":"string","description":"Pending System Update received time reported in ISO 8601 format.","format":"date-time","xml":{"name":"SystemUpdateReceivedTime"}},"is_security_patch_update":{"type":"boolean","description":"Indicates whether Security Patch Update is true when there is a Security Patch update available.","xml":{"name":"IsSecurityPatchUpdate"}},"hardware_device_identifier":{"type":"string","description":"Hardware Device Identifier for device.","xml":{"name":"HardwareDeviceIdentifier"}},"processor_architecture_name":{"type":"string","description":"Name of the CPU Architecture the device is using.","xml":{"name":"ProcessorArchitectureName"}},"supplement_version_extra":{"type":"string","description":"Gets or Sets the extra part of Supplemental Version.","xml":{"name":"SupplementVersionExtra"}},"supplement_build_version":{"type":"string","description":"Gets or Sets the Supplemental Build Version.","xml":{"name":"SupplementBuildVersion"}},"tenant_uuid":{"type":"string","description":"Tenant uuid.","format":"uuid","xml":{"name":"TenantUuid"},"example":"00000000-0000-0000-0000-000000000000"},"customer_uuid":{"type":"string","description":"Customer uuid.","format":"uuid","xml":{"name":"CustomerUuid"},"example":"00000000-0000-0000-0000-000000000000"},"last_evaluation_timestamp":{"type":"string","description":"Date-Time when the device entitlement evaluation occurred.","format":"date-time","xml":{"name":"LastEvaluationTimestamp"}},"windows_user_mode":{"type":"string","description":"Windows Reassignment User Mode of the device.","xml":{"name":"WindowsUserMode"}},"Links":{"type":"array","items":{"$ref":"#/components/schemas/Link"},"description":"Gets list of hypermedia link.","readOnly":true,"xml":{"name":"Links","wrapped":true}},"id":{"type":"integer","description":"Gets or sets identifier.","format":"int32","xml":{"name":"Id"}},"uuid":{"type":"string","description":"Gets or sets current objects UUID.","format":"uuid","xml":{"name":"Uuid"},"example":"00000000-0000-0000-0000-000000000000"}},"description":"Contains basic details of the device.","xml":{"name":"Info","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"udid":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","serial_number":"R51G844T90R","mac_address":"485A3F880798","imei":"356766060039613","friendly_name":"My iPhone iOS 10.3.2","device_reported_name":"R51G844T90R - My iPhone iOS 10.3.2","organization_group_name":"testOg","total_storage_bytes":"68719476736","available_storage_bytes":"34359738368","total_physical_memory_bytes":"28719476736","available_physical_memory_bytes":"12359738368","total_external_storage_bytes":"84619476736","available_external_storage_bytes":"2479738368","total_internal_storage_bytes":"84619476736","available_internal_storage_bytes":"84619476736","battery_level_percentage":"80","computer_name":"WindowsPC","supervised":true,"data_encrypted":true,"platform_info":{"device_type":"UNKNOWN","platform_name":"iOS","oem_info":"Apple","model_identifier":"MD200LL","model":"iPhone 5s (CDMA/GSM/LTE) (16 GB Silver)","os_version":"2002-10-03T00:00:00.0000000+02:00"},"carrier_info":{"phone_number":"4045550100","roaming_enabled":true},"enrollment_info":{"enrollment_status":"UNKNOWN","compliance_status":"UNKNOWN","enrollment_timestamp":"2026-03-24T08:56:51.4068797-07:00","last_seen_timestamp":"2026-03-24T08:56:51.4068797-07:00","ownership":"CORPORATE","organization_group_uuid":"fdd251a8-f794-43cd-a8e3-4cbdbbce928c","organization_group_name":"locationgroup1","enrollment_user_name":"user1","enrollment_user_uuid":"c1553c66-dd3b-4257-9bd2-f619be715efb","enrollment_user_email_address":"user1@airwatch.com","managed_by":"UNKNOWN","last_checkin_timestamp":"2026-03-24T08:56:51.4068797-07:00"},"os_build_version":"17G65","wifi_ssid":"Example Wi-Fi Name","last_reboot":"2026-03-24T08:56:51.4170315-07:00","security_patch_date":"2026-03-24T08:56:51.4170315-07:00","system_update_received_time":"2026-03-24T08:56:51.4170315-07:00","is_security_patch_update":true,"hardware_device_identifier":"B07B9C3CDF8AC44B923D215B1BB77623","processor_architecture_name":"ARM64","supplement_version_extra":"(a)","supplement_build_version":"B07B9C3CDF8","tenant_uuid":"df30c3d3-682e-476a-bfb9-dfa4203bc7e6","customer_uuid":"c8416540-490c-4a2b-8a85-889abccea3c9","last_evaluation_timestamp":"2026-03-24T08:56:51.4170315-07:00","windows_user_mode":"MultiUser","Links":[ ],"id":1234,"uuid":"542e4a21-ed2a-46b9-97c2-0745ed14bb80"}},"PlatformDetailsResponseV3Model":{"type":"object","properties":{"device_type":{"enum":[0,1,2,5,6,7,8,9,10,11,12,14,15,16,18,19,20,21,22,100,101,102,103,104,105,200,201],"type":"integer","description":"Type of the device.","format":"int32","xml":{"name":"DeviceType"}},"platform_name":{"type":"string","description":"Name of the platform.","xml":{"name":"PlatformName"}},"oem_info":{"type":"string","description":"Name of the device manufacturer.","xml":{"name":"OemInfo"}},"model_identifier":{"type":"string","description":"Device model identifier.","xml":{"name":"ModelIdentifier"}},"model":{"type":"string","description":"Model name of the device.","xml":{"name":"Model"}},"os_version":{"type":"string","description":"Version of the operating system installed on the device.","xml":{"name":"OsVersion"}}},"description":"Contains model details of the device."},"DeviceCarrierDetailsResponseV3Model":{"type":"object","properties":{"phone_number":{"type":"string","description":"Phone number of the device.","xml":{"name":"PhoneNumber"}},"roaming_enabled":{"type":"boolean","description":"Roaming status of the device.","xml":{"name":"RoamingEnabled"}}},"description":"Contains carrier details about the device."},"DeviceEnrollmentDetailsResponseV3Model":{"type":"object","properties":{"enrollment_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16],"type":"integer","description":"Enrollment status of the device.","format":"int32","xml":{"name":"EnrollmentStatus"}},"compliance_status":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11],"type":"integer","description":"Compliance status of the device.","format":"int32","xml":{"name":"ComplianceStatus"}},"enrollment_timestamp":{"type":"string","description":"Date-Time of last enrollment date.","format":"date-time","xml":{"name":"EnrollmentTimestamp"}},"last_seen_timestamp":{"type":"string","description":"Date Time when the device last reported any status.","format":"date-time","xml":{"name":"LastSeenTimestamp"}},"ownership":{"enum":[1,2,3,4],"type":"integer","description":"Ownership type of the device.","format":"int32","xml":{"name":"Ownership"}},"organization_group_uuid":{"type":"string","description":"UUID of the organization group.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"organization_group_name":{"type":"string","description":"Organization group name where the device is enrolled.","xml":{"name":"OrganizationGroupName"}},"enrollment_user_name":{"type":"string","description":"Name of the user device is enrolled under.","xml":{"name":"EnrollmentUserName"}},"enrollment_user_uuid":{"type":"string","description":"UUID of the user device is enrolled under.","format":"uuid","xml":{"name":"EnrollmentUserUuid"},"example":"00000000-0000-0000-0000-000000000000"},"enrollment_user_email_address":{"type":"string","description":"E-mail address of the user the device is enrolled under.","xml":{"name":"EnrollmentUserEmailAddress"}},"managed_by":{"enum":[0,1,2,3,4,5,6],"type":"integer","description":"Device managed by.","format":"int32","xml":{"name":"ManagedBy"}},"last_checkin_timestamp":{"type":"string","description":"Date-Time when the device last checked in.","format":"date-time","xml":{"name":"LastCheckinTimestamp"}}},"description":"Contains enrollment details of the device."},"ExportRequestV3Model":{"required":["organization_group_uuid"],"type":"object","properties":{"sort_order":{"enum":[0,1],"type":"integer","description":"Specifies the sort order for the result set.","format":"int32","xml":{"name":"SortOrder"}},"sort_by":{"enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19],"type":"integer","description":"Sort results based on given input.","format":"int32","xml":{"name":"SortBy"}},"android_enrollment_mode":{"type":"array","items":{"enum":[0,1,2,3],"type":"integer","format":"int32"},"description":"Android enrollment mode.","xml":{"name":"AndroidEnrollmentMode"}},"battery_level":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"child_organization_group_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Filter by an array of organization group uuids.","xml":{"name":"ChildOrganizationGroupUuids"}},"compliance_status":{"enum":[0,1,2,3,4],"type":"integer","description":"Device compliance status.","format":"int32","xml":{"name":"ComplianceStatus"}},"compromised_status":{"enum":[0,1,2],"type":"integer","description":"Device compromised status.","format":"int32","xml":{"name":"CompromisedStatus"}},"content_compliance":{"enum":[0,1],"type":"integer","description":"Device content compliance status.","format":"int32","xml":{"name":"ContentCompliance"}},"cpu_architecture":{"type":"array","items":{"enum":[0,1,2,3,4,5],"type":"integer","format":"int32"},"description":"CPU architecture for Windows Desktop and Mac OS Devices.","xml":{"name":"CpuArchitecture"}},"device_uuids":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"description":"Device uuids.","xml":{"name":"DeviceUuids"}},"encryption_status":{"enum":[0,1,2],"type":"integer","description":"Device encryption status.","format":"int32","xml":{"name":"EncryptionStatus"}},"enrollment_history":{"enum":[0,1,2],"type":"integer","description":"Device enrollment history.","format":"int32","xml":{"name":"EnrollmentHistory"}},"enrollment_status":{"enum":[0,1,2,3],"type":"integer","description":"Device enrollment status.","format":"int32","xml":{"name":"EnrollmentStatus"}},"external_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"internal_storage_mega_bytes":{"$ref":"#/components/schemas/MinimumMaximumRangeV3Model"},"ip_range":{"$ref":"#/components/schemas/IpRangeV3Model"},"last_seen_days_range":{"$ref":"#/components/schemas/LastSeenDaysRangeV3Model"},"lost_mode_enabled":{"type":"boolean","description":"Filter by lost mode enabled/disabled.","xml":{"name":"LostModeEnabled"}},"mac_address":{"type":"string","description":"The Mac address.","xml":{"name":"MacAddress"}},"management_type":{"enum":[0,1,2,3,4],"type":"integer","description":"Device management type.","format":"int32","xml":{"name":"ManagementType"}},"organization_group_uuid":{"type":"string","description":"Organization group uuid.","format":"uuid","xml":{"name":"OrganizationGroupUuid"},"example":"00000000-0000-0000-0000-000000000000"},"ownerships":{"type":"array","items":{"enum":[0,1,2,3],"type":"integer","format":"int32"},"description":"Device ownership type.","xml":{"name":"Ownerships"}},"passcode_present":{"enum":[0,1,2],"type":"integer","description":"Device passcode presence.","format":"int32","xml":{"name":"PasscodePresent"}},"platform":{"type":"array","items":{"$ref":"#/components/schemas/PlatformFilterV3Model"},"description":"Device platform filter model.","xml":{"name":"Platform"}},"search_text":{"type":"string","description":"A string value by which devices are to be filtered by matching against device properties like Udid,Friendly Name, Model Name,Phone Number,Serial Number,Device Type,Asset Number,Username,First Name,Middle Name,Last Name and Email Address.","xml":{"name":"SearchText"}},"smart_group_uuids":{"type":
[...]
