{"openapi":"3.0.1","info":{"title":"MDM API V1","description":"Workspace ONE UEM MDM REST API V1","contact":{"name":"Workspace ONE UEM"},"version":"1"},"servers":[{"url":"https://as2596.awmdm.com/api/mdm"}],"paths":{"/devices/admin-actions/{adminAction}":{"post":{"tags":["AdminActionV1"],"summary":"New - Executes the admin action for the set of devices after performing necessary checks like command accessibility, device enrollment status, support for command on device etc.","description":"Execute Admin Action for specified set of devices","operationId":"AdminActionV1_BulkAdminActionAsync","parameters":[{"name":"adminAction","in":"path","description":"The command to execute [ENTERPRISE_WIPE, DEVICE_WIPE, REBOOT, SUSPEND, WAKEUP,SYNC_DEVICE,SHUTDOWN, DEVICE_INFORMATION,SEND_MESSAGE,REQUEST_DEVICE_LOG].(Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Model containing the command XML passed to the API.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAdminActionsV1Request"}}},"required":true,"x-bodyName":"body"},"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"207":{"description":"MultiStatus","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdminActionsResponseModelBulkResponseV1"}}}},"400":{"description":"1. {5102: Command is not supported.}  2. {5138: Feature is currently turned off}  3. {10036: Admin action cannot be performed on more than {0} number of devices in one go.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/apple/remoteviewdestination":{"get":{"tags":["AppleV1"],"summary":"New - Gets the list of Remote View destinations configured in the organization group","description":"This api is used to get list of destinations for the organization group. Destination details like mac address, ip address, pk, pi  are required for remote viewing the iOS device","operationId":"AppleV1_getRemoteViewDestinationByLocationGroupId","parameters":[{"name":"groupId","in":"query","description":"Id of organization group(Required)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"groupId","in":"query","description":"Id of organization group(Required)","required":true,"schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/RemoteViewDestinationV1Model"}}}},"404":{"description":"1. {400: \"Resource's organization group not found or user does not have access to this organization group.\"}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["AppleV1"],"summary":"New - Update the destination details of a previously configured Remote View destination.","description":"iOS device can be remotely viewed by using software like AirServer or Reflector, it is required to save the details of the destination device like mac address, ip address, pk, pi. This endpoint is used to edit the details of a previously configured destination for the organization group.","operationId":"AppleV1_UpdateRemoteViewDestinationById","requestBody":{"description":"RemoteViewDestination data(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoteViewDestinationV1Model"}}},"required":true,"x-bodyName":"model"},"responses":{"204":{"description":"NoContent","content":{"application/json;version=1":{}}},"404":{"description":"1. {5069: \"Destination device not found for the specified id.\"}2. {400: \"Resource's organization group not found or user does not have access to this organization group.\"}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["AppleV1"],"summary":"New - Add a destination for Remote View","description":"iOS device can be remotely viewed by using software like AirServer or Reflector. It is required to save the details of the destination device like mac address, ip address, pk, pi. This endpoint is used to save the destination details for the organization group.","operationId":"AppleV1_CreateRemoteViewDestinationByLocationGroupId","requestBody":{"description":"RemoteViewDestination data(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoteViewDestinationV1Model"}}},"required":true,"x-bodyName":"model"},"responses":{"201":{"description":"Created","content":{"application/json;version=1":{}}},"400":{"description":"1. {400: \"Resource's organization group not found or user does not have access to this organization group.\"}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1012 - Unprocessable Entity1. {Element: RemoteViewDestinationV1Model.destinationMacAddress Message: Invalid Destination Mac Address value.}2. {Element: RemoteViewDestinationV1Model.destinationIPAddress Message: Invalid Destination Ip Address value.}3. {Element: RemoteViewDestinationV1Model.model Message: Invalid Destination Model value.}4. {Element: RemoteViewDestinationV1Model.srcvers Message: Invalid Destination Srcver value.}5. {Element: RemoteViewDestinationV1Model.features Message: Invalid Destination Features value.}6. {Element: RemoteViewDestinationV1Model.pk Message: Invalid Destination Pk value.}7. {Element: RemoteViewDestinationV1Model.pi Message: Invalid Destination Pi value.}8. {Element: RemoteViewDestinationV1Model.vv Message: Invalid Destination VV value.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/apple/remoteviewdestination/{id}":{"get":{"tags":["AppleV1"],"summary":"New - Gets Remote View destination details for the device","description":"This api is used to get the details of the specified destination. Destination details like mac address, ip address, pk, pi  are required for remote viewing the iOS device","operationId":"AppleV1_getRemoteViewDestinationById","parameters":[{"name":"id","in":"path","description":"Id of the Remote View destination device(Required)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/RemoteViewDestinationV1Model"}}}},"404":{"description":"1. {5069: \"Destination device not found for the specified id.\"}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"delete":{"tags":["AppleV1"],"summary":"New - Delete a Remote View destination for the device","description":"This api is used to delete the destination details for the organization group, destination details like mac address, ip address, pk, pi  are required for remote viewing the iOS device","operationId":"AppleV1_DeleteRemoteViewDestinationById","parameters":[{"name":"id","in":"path","description":"Id of Remote View destination device to be deleted(Required)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"description","content":{"application/json;version=1":{}}},"404":{"description":"1. {5069: \"Destination device not found for the specified id.\"}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{id}/apps":{"get":{"tags":["Apps"],"summary":"Retrieves application details of the device identified by device ID.","operationId":"Apps_DeviceAppsByIdAsync","parameters":[{"name":"id","in":"path","description":"The device ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"The specific page number to get.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Max records per page.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAppsResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAppsResult"}}}},"400":{"description":"Bad Request 1.{400- Device does not exist or Admin User does not have access to the Device.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{404- Device not found for this request.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"501":{"description":"Not Implemented 1.{501- Functionality not supported for device type : {0}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"deprecated":true,"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/{id}/apps","x-controller-fullname":"AW.Mdm.Api.Controllers.Device.AppsController","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/devices/apps":{"get":{"tags":["Apps"],"summary":"Retrieves application details of the device identified by alternate id.","description":"Fetches all application details for the device identified by alternate ID other than device ID.\r\nAlternate device identifiers can be MAC address, IMEI, Serial number or UDID.\r\nExample : IMEI-BCG84753GH, Serial Number-573489754.","operationId":"Apps_DeviceAppsByAlternateIdAsync","parameters":[{"name":"searchBy","in":"query","description":"The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].","schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device alternate id.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"The specific page number to get.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Max records per page.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAppsResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAppsResult"}}}},"404":{"description":"Not Found 1.{5002- Device not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1.{5003- Invalid SearchBy Parameter, 5208- Invalid Id Parameter}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"deprecated":true,"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/apps","x-controller-fullname":"AW.Mdm.Api.Controllers.Device.AppsController","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/devices/{id}/adminapps":{"get":{"tags":["Apps"],"summary":"Retrieves Admin applications details for passed DeviceID.","description":"v1.","operationId":"Apps_AdminAppDetailsAsync","parameters":[{"name":"id","in":"path","description":"The device ID.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAdminAppsResultModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/DeviceAdminAppsResultModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/apps/search":{"get":{"tags":["AppsV1"],"summary":"New - Returns the apps which are applicable to the device.","description":"This endpoint returns the details of apps which are assigned or installed on the device matching the search text. Following special characters are not allowed in query params ('[', ']', '(', ')', '{', '}', '&amp;lt;', '&amp;gt;', '\\\"').","operationId":"AppsV1_SearchAppsForDeviceAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The uuid of the device.\r\n            Accepted formats **guid**\r\n            E.g. 3d958f38-246e-4854-a306-189d941ab073(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","description":"Page number which will be fetched, 0 based index. Default 0.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum number of results to be returned in one page. Default 500.","schema":{"type":"integer","default":""}},{"name":"searchtext","in":"query","description":"If provided, the records matching this text will be returned. The search will be applied on the following properties [name, installed_version, assigned_version]. The default value will be empty string.","schema":{"type":"string","default":""}},{"name":"sortorder","in":"query","description":"Whether the sort order is ascending or descending. The property used for sorting is name. Possible values [Asc, Desc]. Default value is Asc.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AppV1PagedSearchResultsModel"}}}},"403":{"description":"1. {5143: User does not have access to the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for this request.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/apps":{"get":{"tags":["AppsV1"],"summary":"New - Returns details for the specified app installed/assigned to the device.","description":"This endpoint returns the details of specified app which is assigned or installed on the device.","operationId":"AppsV1_GetAppInfoForDeviceAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The uuid of the device.\r\n            Accepted formats **guid**\r\n            E.g. 3d958f38-246e-4854-a306-189d941ab073(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"bundleid","in":"query","description":"The bundle id of the application.\r\n            E.g. com.tencent.ig(Required)","required":true,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AppV1Model1"}}}},"400":{"description":"1. {5005: Application Bundle Id Must Be Specified.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {5143: User does not have access to the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified UUID.} 2. {5005: The application is not assigned or installed on the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/metadata-transforms/{organizationGroupUuid}/assets/platform/{platform}/payloads":{"post":{"tags":["AssetsV1"],"summary":"New - Save asset metadata and payloads.","description":"Save asset general information, assignment and payload details as a metadata JSON string.","operationId":"AssetsV1_SaveAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"platform","in":"path","description":"(Required).","required":true,"schema":{"enum":[0,1,2],"type":"integer","format":"int32"}}],"requestBody":{"description":"Asset entity save request model.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetSaveRequestModel"}}},"required":true,"x-bodyName":"assetSaveRequest"},"responses":{"200":{"description":"Returns saved asset response model which holds asset uuid and asset name.","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AssetSaveResponseModel"}}}},"400":{"description":"1. { 7022: Invalid asset parameters. } 2. { 7023: Failed to save asset. } 3. { 7019: The Input organization-group-uuid: {0} is Invalid } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. { 7020: The user does not have access to input organization-group-uuid: {0}. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. { 6183: The Input organization-group-uuid: {0} is not found. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/metadata-transforms/{organizationGroupUuid}/assets/{assetUuid}":{"get":{"tags":["AssetsV1"],"summary":"New - Gets the asset metadata for the specified asset uuid.","description":"Gets the asset general information and payload details as a metadata JSON string.","operationId":"AssetsV1_GetAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"assetUuid","in":"path","description":"Unique identifier for asset.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"culture","in":"query","description":"Specifies the language culture of metadata.","schema":{"type":"string","default":""}},{"name":"include-linked-resources","in":"query","description":"Specifies whether linked resources should be included in the response.","schema":{"type":"boolean","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AssetGetResponseModel"}}}},"400":{"description":"1. { 6: Query parameter is invalid. } 2. { 20: General Server Error. } 3. { 7010: Metadata transform service return errors. } 4. { 7019: The Input organization-group-uuid: {0} is Invalid } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. { 7020: The user does not have access to input organization-group-uuid: {0}. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. { 6183: The input organization group, {0} was not found. } 2. { 7024: Invalid asset unique identifier {0}. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/assets/search":{"get":{"tags":["AssetsV1"],"summary":"New - Gets the list of latest version of assets by applying the search criteria.","description":"Gets the list of latest version of assets by applying the search criteria.","operationId":"AssetsV1_SearchAssetsAsync","parameters":[{"name":"organization-group-uuid","in":"query","description":"Unique identifier for organization group.(Required)","required":true,"schema":{"type":"uuid","default":""}},{"name":"payload-key","in":"query","description":"payload key.","schema":{"type":"string","default":""}},{"name":"term","in":"query","description":"search term applies on the asset name.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetSearchResponse"}}}}},"400":{"description":"1. { 7019: The Input organization-group-uuid: {0} is Invalid } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. { 7020: The user does not have access to input organization-group-uuid: {0}. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/assets/assignment-preview/summary":{"post":{"tags":["AssetsV1"],"summary":"New - Get a summary of assignment preview devices for the given asset.","description":"Get a summary of assigned preview devices for the given asset.","operationId":"AssetsV1_GetAssetAssignmentPreviewSummaryAsync","requestBody":{"description":"Request model to get assignment preview summary.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAssignmentRequestModel"}}},"required":true,"x-bodyName":"request"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AssignmentSummaryResponseModel"}}}},"400":{"description":"Bad Request  1. {6183: Resource's organization group: {organization_group_uuid} not found or user does not have access to this organization group. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {1012: Included smart group uuid's must be supplied.} 2. {1012: Applicability filter must be supplied.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/assets/assignment-preview/search":{"post":{"tags":["AssetsV1"],"summary":"Searches for devices assigned to the specified profiles.","description":"Devices assigned to the specified profiles as last evaluated during device check-in.","operationId":"AssetsV1_SearchAssetAssignmentAsync","requestBody":{"description":"Request model to find devices assigned to the asset.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAssetAssignmentRequestModel"}}},"required":true,"x-bodyName":"request"},"responses":{"200":{"description":"Ok","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/PaginatedAssignmentResponseModel"}}}},"400":{"description":"Bad Request  1. {6183: Resource's organization group: {organization_group_uuid} not found or user does not have access to this organization group. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {1012: Included smart group uuid's must be supplied.} 2. {1012: Applicability filter must be supplied.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{groupId}/assignmentgroups":{"get":{"tags":["AssignmentGroupsV1"],"summary":"New - Returns a list of Assignment Groups matching the search criteria","description":"Get List of Assignment Groups based on the Organization Group, Search Text, AssignmentType.\r\nSearch text should not be more than 255 characters.","operationId":"AssignmentGroupsV1_GetAssignmentGroupsBySearchContext","parameters":[{"name":"groupId","in":"path","description":"Unique Identifier for the Organization Group(Required)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"assignmentType","in":"query","description":"Type of Assignment Group to search\r\n             0 - All types of Assignment Groups (Smart Group, User Group, Organization Group) \r\n             1 - Smart Group \r\n             2 - User Group \r\n             3 - Organization Group(Required)","required":true,"schema":{"type":"integer","default":""}},{"name":"name","in":"query","description":"Name of the Assignment Group by which result will be filtered (Optional). When not passed, all Assignment Groups present in that organization will be returned.","schema":{"type":"string","default":""}},{"name":"deviceType","in":"query","description":"device type (Optional). When not passed, all device type count will be returned.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentGroupsV1Model"}}}}},"400":{"description":"1.{5005: Invalid Assignment Group Type. Should be 0-All 1-SmartGroup 2-UserGroup 3-OrganizationGroup}, 2.{Custom Attribute Search Text should be a maximum of 255 characters.}, 3.{400: Resource's organization group not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"{5060: No Assignment Groups were found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/google-chrome-os-organizational-units":{"get":{"tags":["AssignmentGroupsV2"],"summary":"New - Returns a list of Organizational Units matching the search criteria.","description":"Gets a list of Organizational Units based on the passed  organization group identifier and optional OU name filter search text. Search text should not be more than 255 characters.","operationId":"AssignmentGroupsV2_GetOrganizationalUnitsBySearchContextAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique Identifier for the Organization Group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","description":"Name of the Organizational Unit by which result will be filtered (Optional). When not passed, all Organizational Units present in that organization will be returned.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationalUnitsV2Model"}}}}},"404":{"description":"{5061: No Organizational Units were found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/bitlocker/drives":{"get":{"tags":["BitLockerV1"],"summary":"Returns the Bit Locker drive level information for the device.","operationId":"BitLockerV1_GetDeviceBitLockerDriveInfoAsync","parameters":[{"name":"deviceUuid","in":"path","description":"Unique identifier for the device(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceBitLockerDriveV1Model"}}}},"400":{"description":"Bad Request 1. {5008: Platform is Invalid.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Unauthorized 1. {5036: API Key is missing in the request} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1. {5145: User does not have access to this organization group - {0}.} 2. {5143: User does not have access to the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5002: Device not found for specified id: {0}} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/bitlocker/drives/{volumeIdentifier}/protectors":{"get":{"tags":["BitLockerV1"],"summary":"Returns the Bit Locker protector information for the device.","operationId":"BitLockerV1_GetDeviceBitLockerProtectorInfoAsync","parameters":[{"name":"deviceUuid","in":"path","description":"Unique identifier for the device(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"volumeIdentifier","in":"path","description":"Drive volume identifier(Required).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceBitLockerProtectorV1Model"}}}},"400":{"description":"Bad Request 1. {5008: Platform is Invalid.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Unauthorized 1. {5036: API Key is missing in the request} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1. {5145: User does not have access to this organization group - {0}.} 2. {5143: User does not have access to the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5002: Device not found for specified id: {0}} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/baselines/catalogs/{osVersionUUID}":{"get":{"tags":["CatalogsV1"],"summary":"New - Fetch policy catalog for the given operating system version.","description":"Returns the policy catalog for the given operating system version.","operationId":"CatalogsV1_GetPolicyCatalogAsync","parameters":[{"name":"osVersionUUID","in":"path","description":"The operating system version identifier(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"language","in":"query","description":"The language code (Default en-US)","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/PolicyCatalogModel"}}}},"400":{"description":"{ 5004: The operating system version was not found } { 5005: The language is not supported } { 5189: Invalid language code }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]}]}},"/baselines/catalogs/{osVersionUUID}/policies":{"get":{"tags":["CatalogsV1"],"summary":"New - Search policies in the Policy catalog of a specific version","description":"Returns all or matching policies from the requested catalog version","operationId":"CatalogsV1_GetAllPoliciesAsync","parameters":[{"name":"osVersionUUID","in":"path","description":"The operating system version identifier(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"q","in":"query","description":"The search text","schema":{"type":"string","default":""}},{"name":"language","in":"query","description":"The language code (Default en-US)","schema":{"type":"string","default":""}},{"name":"offset","in":"query","description":"The number of records to skip (Default 0).","schema":{"type":"","default":""}},{"name":"limit","in":"query","description":"The maximum number of rows to return (Default 10)","schema":{"type":"","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/GetAllPoliciesResponseV1Model"}}}},"400":{"description":"{ 5004: The operating system version was not found } { 5005: The language is not supported } { 5189: Invalid language code }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]}]}},"/baselines/catalogs/policies/{policyUUID}":{"get":{"tags":["CatalogsV1"],"summary":"New - Fetch a policy with it's options","description":"Returns a policy with it's options localized for a selected language","operationId":"CatalogsV1_GetPolicyAsync","parameters":[{"name":"policyUUID","in":"path","description":"The policy identifier(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"language","in":"query","description":"The language code (Default en-US)","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/PolicyModel"}}}},"400":{"description":"{ 5005: The language is not supported }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]}]}},"/devices/{id}/certificates":{"get":{"tags":["Certificates"],"summary":"Retrieves certificate details of the device identified by device Id.","description":"Certificate details contains information like the sampling period, error details, name, expiration, issued date and the status.","operationId":"Certificates_GetCertificatesByDeviceAsync","parameters":[{"name":"id","in":"path","description":"Device identifier (Example: 3010055).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceCertificateSearchResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/DeviceCertificateSearchResult"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/certificates":{"get":{"tags":["Certificates"],"summary":"Retrieves certificate details of the device identified by the alternate Id's.","description":"Certficate details contains information like the sampling period, error details, name, expiration, issued date and the status. This API allows searching a device using alternate Id's specified in the searchby parameter.","operationId":"Certificates_GetCertificatesByAlternateId","parameters":[{"name":"searchby","in":"query","description":"The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber] (Required).","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device alternate id (Example: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required).","required":true,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceCertificateSearchResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/DeviceCertificateSearchResult"}}}},"404":{"description":"{5002: Device not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"{5003: Invalid SearchBy Parameter}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/certificates","x-controller-fullname":"AW.Mdm.Api.Controllers.Device.CertificatesController","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/chromeos/devices/{deviceId}/policy":{"get":{"tags":["ChromeOsV1"],"summary":"New - Get the status of the update by returning the policy on the device","description":"Get the list of policies applied to a device","operationId":"ChromeOsV1_GetPolicyAsync","parameters":[{"name":"deviceId","in":"path","description":"Google-assigned device identifier whose policy is updated(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ChromeOsV1Model"}}}},"400":{"description":"Bad request - Given device ID is not valid","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{groupId}/userPolicy":{"post":{"tags":["ChromeOsV1"],"summary":"New - Creates or Updates user policy for all the users in usergroups","description":"User Policy profile will have customized settings that can be pushed to users on a Chrome device. These settings include incognito mode restrictions,application blacklisting,network settings,vpn etc.","operationId":"ChromeOsV1_CreateorUpdateUserProfileAsync","parameters":[{"name":"groupId","in":"path","description":"Organization group Identifier where the User Policy profile needs to be created.(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"User Policy Settings to push to a user(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdFormPayloadV1Model"}}},"required":true,"x-bodyName":"formData"},"responses":{"201":{"description":"cloud policy created","headers":{"Location":{"description":"/{groupId}/policy/{policyId}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"400":{"description":"1. {5160: At least one payload must be configured in order to save a profile} 2. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/configuration/{groupId}":{"get":{"tags":["ChromeOsV1"],"summary":"New - loads the ChromeBook Configuration Settings for an Organization Group","description":"Loads the ChromeBook Configuration of a Domain for an Organization Group","operationId":"ChromeOsV1_GetChromeBookConfiguration","parameters":[{"name":"groupId","in":"path","description":"The customer code of the organization group whose configuration will be returned.(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ChromeOSConfigurationV1Model"}}}},"400":{"description":"1. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["ChromeOsV1"],"summary":"New - Saves the ChromeBook Configuration Settings for an Organization Group","description":"Saves the ChromeBook Configuration of a Domain for an Organization Group","operationId":"ChromeOsV1_InsertChromeBookConfiguration","parameters":[{"name":"groupId","in":"path","description":"The customer code of the organization group where configuration needs to be added.(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Chromebook Configuration Settings(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChromeOSConfigurationV1Model"}}},"required":true,"x-bodyName":"chromebookConfigurationModel"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/configuration/{groupId}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"400":{"description":"1. {5027 : Organization Group not found for specified id: groupId} 2. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"delete":{"tags":["ChromeOsV1"],"summary":"New - Deletes the ChromeBook Configuration Settings for a Organization Group","description":"Deletes the ChromeBook Configuration settings of an Organization Group","operationId":"ChromeOsV1_DeleteChromeBookConfiguration","parameters":[{"name":"groupId","in":"path","description":"The customer code of the organization group whose configuration will be deleted.(Required)","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"400":{"description":"1. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{groupId}/devicePolicy":{"post":{"tags":["ChromeOsV1"],"summary":"New - Create a new Device Policy profile for the given organization Group","description":"Device Policy profile will have customized settings that can be applied on a Chrome device. These settings include auto-Launched Kiosk App,device Heartbeat monitor rate,application Settings for specifying list of apps that can be force-installed on a device,Email/SMS deviceStatus Alert Delivery settings etc.","operationId":"ChromeOsV1_AddCloudProfileAsync","parameters":[{"name":"groupId","in":"path","description":"Organization group Identifier where the devicePolicy profile needs to be created.(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Kiosk Device policy to manage a chrome device(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DdFormPayloadV1Model"}}},"required":true,"x-bodyName":"formData"},"responses":{"201":{"description":"cloud policy created","headers":{"Location":{"description":"/{groupId}/policy/{policyId}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"400":{"description":"1. {5160: At least one payload must be configured in order to save a profile} 2. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{groupId}/policy/{policyId}":{"get":{"tags":["ChromeOsV1"],"summary":"New - Retrieve the existing Policy profile","description":"Device/User Policy profile will have customized settings (key/value pairs with pre-defined airwatch specific keys) that can be applied on a Chrome device.These settings include auto-Launched Kiosk App,device Heartbeat monitor rate,application Settings for specifying list of apps that can be force-installed on a device,Email/SMS deviceStatus Alert Delivery settings etc. *On editing a cloud policy, new version of the settings will be created.*","operationId":"ChromeOsV1_GetCloudProfileAsync","parameters":[{"name":"groupId","in":"path","description":"The identifier for the organization group where the policy is being requested.(Required)","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","description":"AW internal devicePolicy profile identifier(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ChromeOsPolicySettingsV1Model"}}}},"400":{"description":"1. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["ChromeOsV1"],"summary":"New - Edit the existing Device Policy profile by creating a version of the settings","description":"Device Policy profile will have customized settings (key/value pairs with pre-defined airwatch specific keys) that can be applied on a Chrome device.These settings include auto-Launched Kiosk App,device Heartbeat monitor rate,applicationSettings for specifying list of apps that can be force-installed on a device,Email/SMS deviceStatus Alert Delivery settings etc. *On editing a cloud policy, new version of the settings will be created.*","operationId":"ChromeOsV1_EditCloudProfile","parameters":[{"name":"groupId","in":"path","description":"Organization group Identifier where the devicePolicy profile needs to be updated.(Required)","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","description":"AW internal devicePolicy profile identifier(Required)","required":true,"schema":{"type":"string"}},{"name":"devicePolicyData","in":"query","description":"Kiosk Device policy to manage a chrome device(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","headers":{"Location":{"description":"/{groupId}/devicepolicy/{policyId}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"400":{"description":"Bad request","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{groupId}/cloudprofile/{profileId}/profileType/{profileType}":{"get":{"tags":["ChromeOsV1"],"summary":"New - Get Metadata for loading device Policy cloud profile UI","description":"Device or User Policy profile will have customized settings (key/value pairs with pre-defined airwatch specific keys) that can be applied on a Chrome device.These settings include network, VPN, URL Access control, Sign In, auto-Launched Kiosk App,device Heartbeat monitor rate,application Settings for specifying list of apps that can be force-installed on a device,Email/SMS deviceStatus Alert Delivery settings etc. *On editing a cloud profile, new version of the settings will be created.*","operationId":"ChromeOsV1_GetCloudProfileMetadataAsync","parameters":[{"name":"groupId","in":"path","description":"The identifier for the organization group where the metadata is being requested.(Required)","required":true,"schema":{"type":"string"}},{"name":"profileId","in":"path","description":"AW internal devicePolicy profile identifier(Required)","required":true,"schema":{"type":"string"}},{"name":"profileType","in":"path","description":"Type of profile 1 is Device Profile 2 is User Profile(Required)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"readOnly","in":"query","description":"Boolean flag to determine if the metadata returned should render the form in read only mode.","schema":{"type":"boolean","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ChromeOsPolicySettingsV1Model"}}}},"400":{"description":"1. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{groupId}/devices/sync":{"post":{"tags":["ChromeOsV1"],"summary":"New - Executes device sync command for the given organization group.","description":"Saves all devices enrolled on or after the specified date from Google Cloud into AirWatch.","operationId":"ChromeOsV1_SyncDevicesAsync","parameters":[{"name":"groupId","in":"path","description":"The customer code of the organization group that the devices belong to.(Required)","required":true,"schema":{"type":"string"}},{"name":"enrollmentDate","in":"query","description":"Retrieve all devices enrolled on or after this date in YYYY-MM-DDTHH:MM:SSZ format(Example - \"2013-03-23T14:23:05\").","schema":{"type":"string","format":"date-time","default":""}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"400":{"description":"1. {5081: The date format provided is incorrect} 2. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5027: Organization Group not found for specified group Id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/cloudprofile/{profileId}":{"delete":{"tags":["ChromeOsV1"],"summary":"New - Deletes the Chrome OS Profile","description":"Deletes the Specified Chrome OS Profile by passing Device profile Id.","operationId":"ChromeOsV1_DeleteChromeOsProfileAsync","parameters":[{"name":"profileId","in":"path","description":"Defines the profile that needs to be deleted(Required)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"400":{"description":"1. {5012: Resource's organization group: {0} not found or user does not have access to this organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5144 : Passed ProfileId is not a Chrome OS Profile } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/chromeos/{deviceId}/lostmode/{isEnabled}":{"put":{"tags":["ChromeOsV1"],"summary":"New - Enable or disable the device lost mode.","description":"Enable or disable the device lost mode, device will be locked when it is in the lost mode.","operationId":"ChromeOsV1_SetLostModeAsync","parameters":[{"name":"deviceId","in":"path","description":"Defines the device id.(Required)","required":true,"schema":{"type":"string"}},{"name":"isEnabled","in":"path","description":"Flag to indicate enable or disable lost mode.(Required)","required":true,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"400":{"description":"1. {5246 : Invalid lost mode update} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {5142 : Device organization group is invalid} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5002 : Device id is not valid} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"503":{"description":"1. {5263 : Command failed, please try again} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/containerpasscode":{"post":{"tags":["CommandsV1"],"summary":"New - Executes change passcode command for container device matching the filter criteria.","description":"This will change the knox container passcode with the provided new passcode for the device matching the device criteria.","operationId":"CommandsV1_ExecuteChangeContainerPasscodeByAlternateIdAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type(Required)","required":true,"schema":{"type":"","default":""}},{"name":"id","in":"query","description":"Device id(Required)","required":true,"schema":{"type":"string","default":""}}],"requestBody":{"description":"New container passcode(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerPasscodeV1Model"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ContainerPasscodeV1Model"}}},"required":true,"x-bodyName":"passcode"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {21: Platform id {DeviceType Id}({DeviceType}) not supported.} 2. {6213: Device is not enrolled.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {5003: Invalid searchby parameter} 2. {5280: The Passcode field is required} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/remoteview":{"post":{"tags":["CommandsV1"],"summary":"New - Executes start remoteview command for device matching the filter criteria.","description":"This api will execute remoteview command in device and user can remoteview the device in the destination device.","operationId":"CommandsV1_ExecuteStartRemoteViewByAlternateIdAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type. Possible values = [Macaddress, Udid, Serialnumber, ImeiNumber] {Formats= Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837}(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device id(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"remoteviewId","in":"query","description":"Id of the Remoteview destination device(Required)","required":true,"schema":{"type":"integer","default":""}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{}}},"400":{"description":"1. {400: Device is not enrolled.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid searchby parameter} 2. {5067: Destination device not found for the specified id.}   ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/requestdevicelog":{"post":{"tags":["CommandsV1"],"summary":"New - Executes device log request command for device matching the filter criteria.","description":"This api will execute deviceLog command on the device matching the filter criteria. The logs will become available to an admin on AirWatch Console.","operationId":"CommandsV1_ExecuteRequestDeviceLogAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type. Possible values = [Macaddress, Udid, Serialnumber, ImeiNumber] {Formats= Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837}(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device id(Required)","required":true,"schema":{"type":"string","default":""}}],"requestBody":{"description":"Contains parameters for device log request.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceLogRequestV1Model"}}},"required":true,"x-bodyName":"logParams"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{}}},"400":{"description":"1. {6213: Device is not enrolled.} 2. {5245: Invalid DeviceLogLevel for macOS. Supported values are Debug, Information.} 3. {5267: Request device network log command requires Android OS 8+.} 4. {5268: Request device network log command requires Android Hub 20.05+.} 5. {5269: Request device network log command requires Device Owner Enrollment Mode.} 6. {5270: Request device network log command requires Corporate Dedicated ownership.} 7. {5271: Request device network log command requires Collect and Display for IP Address privacy setting.} 8. {5277: Request device security log command requires Android OS 7+.} 9. {5278: Request device security log command requires Device Owner or AOSP Enrollment Mode.} 10. {5279: Request device security log command requires Android Hub version 21.06+.} 11. {5061: Device not found for specified id} 12. {1021: DeviceLogDuration must be between 1 to 720} 13. {21: Functionality not supported for device type {0}.} 14. {1600009: System logging is not supported on COPE devices running Android 11 and above.} 15. {200040: Device log is not supported for the device with id {0}.} 16. {5319: Invalid LogSource for iOS. Supported value is Agent.} 17. {5320: Invalid DeviceLogLevel for iOS.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"412":{"description":"1. {5146: Previous device log request is still In Progress} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid searchby parameter} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/stopdevicelog":{"post":{"tags":["CommandsV1"],"summary":"New - Executes stop device log request command for device.","description":"This api will execute StopDeviceLog command on the device matching the filter criteria. The logs collected till that time will become available to an admin on AirWatch Console.","operationId":"CommandsV1_ExecuteStopDeviceLogAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type. Possible values = [Macaddress, Udid, Serialnumber, ImeiNumber] {Formats= Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837}(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device id(Required)","required":true,"schema":{"type":"string","default":""}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{}}},"400":{"description":"1. {400: Device is not enrolled.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid searchby parameter} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/bulk/scheduleosupdate":{"post":{"tags":["CommandsV1"],"summary":"New - Executes Schedule OS Update command for devices in bulk.","description":"This API will execute schedule OS Update command for multiple devices. For iOS 10.3 and later, devices must be supervised. Prior to iOS 10.3, devices must be supervised and DEP enrolled. (iOS only)","operationId":"CommandsV1_BulkExecuteScheduleOsUpdate","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type. Possible values = [Macaddress, Udid, Serialnumber, ImeiNumber] {Formats= Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837}(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"installaction","in":"query","description":"Install action type for OS update. Possible Values = [Default, DownloadOnly, InstallASAP](Required)","required":true,"schema":{"type":"","default":""}}],"requestBody":{"description":"List of device identifiers of the type specified in the searchby parameter.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkInput"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BulkInput"}}},"required":true,"x-bodyName":"bulkInput"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"404":{"description":"1. {404: Devices provided in the input could not be found or not enrolled or user does not have access} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/changeorganizationgroup":{"post":{"tags":["CommandsV1"],"summary":"New - Changes the organization group to which the device identified by the alternate ID is assigned.","description":"Processes the command to change the organization group of the device. Performs additional checks on device to find by alternate IDs like udid, imei.","operationId":"CommandsV1_ChangeOrganizationGroupByAlternateIdAsync","parameters":[{"name":"searchBy","in":"query","description":"The alternate ID type [Macaddress, Udid, Serialnumber, ImeiNumber](Required)","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device alternate ID [Formats = {Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837}](Required)","required":true,"schema":{"type":"string","default":""}},{"name":"ogid","in":"query","description":"The new organization group ID.(Required)","required":true,"schema":{"type":"integer","default":""}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {6: Device Cannot Be Accessed.} 2. {6: Can not Assign Device To organization group.} 3. {6213: Device is not enrolled.} 4. {6124: Cannot enroll the device because the organization group {OrganizationGroupId} is outside of a customer group hierarchy. Select a different organization group and try again.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {8: Device not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {422: Invalid searchby parameter.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/commands/changeorganizationgroup","x-controller-fullname":"AW.Mdm.Api.Controllers.Commands.V1.CommandsV1Controller","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/devices/commands/scheduleosupdate":{"post":{"tags":["CommandsV1"],"summary":"New - Schedule OS Update for supervised DEP devices","description":"Executes the Schedule OS Update command on the specified device. For iOS 10.3 and later, devices must be supervised. Prior to iOS 10.3, devices must be supervised and DEP enrolled. For macOS, the device must be DEP enrolled.","operationId":"CommandsV1_ExecuteScheduleOsUpdateByAlternateIdAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type. Possible values = [Macaddress, Udid, Serialnumber, ImeiNumber, Uuid] {Formats= Macaddress - 848506B900BA, Udid - 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber - LGH871c18f631a, ImeiNumber - 354833052322837, Uuid - EFA9E128-DE1B-404A-A3F4-E5824A666681}(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device alternate ID(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"osupdateproductversion","in":"query","description":"A single iOS Update product version. This field is required and only for iOS devices. Ex. 12.3.1","schema":{"type":"string","default":""}},{"name":"installaction","in":"query","description":"Install action type for OS update. Possible Values = [Default, DownloadOnly, InstallASAP, NotifyOnly, InstallLater](Required)","required":true,"schema":{"type":"","default":""}}],"requestBody":{"description":"List of macOS Update product keys. This field is required and only for macOS devices. Ex. [\"macOSUpdate15D100\"](Required).","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}},"application/xml":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true,"x-bodyName":"osupdateproductkeys"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {400: Device is not enrolled} 2. {5099: Install Action is not supported for iOS devices.}       3. {5098: Invalid Install Action for schedule OS update command}  4. {1043: Missing OS Update product key or OS Update product version}   5. {1044: Only OS Update product key or OS Update product version must be specified but not both}  6. {1045: Unsupported OS Update product version is specified for the targeted device} 7. {1047: OS Update product version must be specified for iOS Devices} 8. {6199: The device must be a DEP device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5061: Device not found for specified id} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceid}/commands":{"post":{"tags":["CommandsV1"],"summary":"New - Executes commands for the specified device.","description":"Executes the command for the device after performing necessary checks like command accessibility, device enrollment status, support for command on device etc. Supported commands are Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate, CustomMdmCommand (iOS, macOS, and tvOS only), InstallPackagedMacOSXAgent (macOS only), SoftReset, Shutdown, EnterpriseReset, SyncSensors (macOS only), OsUpdateStatus (iOS and macOS only), RotateFileVaultKey (macOS only), RotateDEPAdminPassword (macOS only), ResetBiosPassword (WinRT only), UserList (iOS only), SyncWorkflows (macOS and WinRT only), InstallSeededScepProfile (Windows only), PauseWindowsUpdates/PauseQualityUpdates/PauseRollbackUpdates (WindowsOnly).","operationId":"CommandsV1_ExecuteAsync","parameters":[{"name":"deviceid","in":"path","description":"Id of the device on which command is to be executed.(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"command","in":"query","description":"The command to execute [Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate, CustomMdmCommand, InstallPackagedMacOSXAgent, SoftReset, Shutdown, EnterpriseReset, SyncSensors, OsUpdateStatus, RotateFileVaultKey, RotateDEPAdminPassword, ResetBiosPassword, UserList, SyncWorkflows, InstallSeededScepProfile].(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"reason","in":"query","description":"Applicable only for Chrome Os Devices. Enterprise Wipe reason must be one of the following values - different_model_replacement, retiring_device, same_model_replacement.","schema":{"type":"string","default":""}},{"name":"keep_apps_on_device","in":"query","description":"Obsolete, now has no effect. Previously applicable for Windows devices and Enterprise Wipe command, was used to keep or remove apps on the device upon Enterprise Wipe.","schema":{"type":"boolean","default":""}},{"name":"update_type","in":"query","description":"Applicable only for Windows devices and Updates command. Update must be one of the following values - QualityUpdates, FeatureUpdates.","schema":{"type":"string","default":""}}],"requestBody":{"description":"Applicable only for Apple devices. Required if the command type is CustomMdmCommand. Model containing the custom XML for the command.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomCommandModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomCommandModel"}}},"x-bodyName":"customCommandModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {400: Command XML cannot be null or empty.} 2. {400: The device type is invalid.} 3. {21: This feature is only supported by macOS devices.} 4. {5060: This feature is not supported for the operating system version on the device.} 5. {400: Device is not enrolled.} 6. {400: Privacy Settings does not allow Device Command: {Command} for the Device Id: {DeviceId}.} 7. {8: Device not found for this request.} 8. {6: Device does not exist or Admin User does not have access to the Device.} 9. {21: Functionality not supported for device type : {DeviceType}.} 10. {6: ScheduleOsUpdate command cannot be sent to Device.} 11. {6: Functionality not supported for device type : {DeviceType}.} 12. {5093: Admin is not authorized to rotate the recovery key}             13. {6: The device type is invalid.} 14. {5100: Device is not enrolled via Automated Device Enrollment.} 15. {5102: Random admin password is not enabled for Device Enrollment Profile used. This password will not be rotated.} 16. {400: Enterprise wipe Reason cannot be null or empty.} 17. {6: Chrome Os Enterprise Wipe reason must be one of the following : different_model_replacement, retiring_device, same_model_replacement.} 18. {6: Device should be encrypted before rotating its recovery key} 19. {5102: Command is not supported.} 20. {5234: Device Hub Version present on device is not supported for this feature.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {400: Feature is currently turned off.} 2. {5093: User is not authorized to rotate admin password.} 3. {1011: User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {404: Device not found for specified id} 2. {400: Device not found for this request.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1.{422: Invalid command type} 2.{422: WIPE_PROTECTED is supported only on Windows 10 version 1703 and above.} 3.{422: WIPE_PERSIST_USER_DATA is supported only on Windows 10 version 1706 and above.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/{deviceid}/commands","x-controller-fullname":"AW.Mdm.Api.Controllers.Commands.V1.CommandsV1Controller","x-operation-type":"Bulk","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":10000,"x-sla-ms-xsmall":20000,"x-sla-ms-small":50000,"x-sla-ms-medium":100000,"x-sla-ms-large":150000}},"/devices/commands":{"post":{"tags":["CommandsV1"],"summary":"New - Executes a command for device by alternate ID.","description":"Executes command for the specific device identified using an alternate ID [Macaddress, Udid, Serialnumber, ImeiNumber]. Supported commands are Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate, CustomMdmCommand (iOS, macOS, and tvOS only), InstallPackagedMacOSXAgent (macOS only), SoftReset, Shutdown, EnterpriseReset, SyncSensors (macOS only), OsUpdateStatus (iOS and macOS only), RotateFileVaultKey (macOS only), RotateDEPAdminPassword (macOS only), InstallSeededScepProfile (Windows Only), ResetBiosPassword (WinRT only).","operationId":"CommandsV1_ExecuteByAlternateIdAsync","parameters":[{"name":"searchby","in":"query","description":"Search by alternate id type(Required)","required":true,"schema":{"type":"","default":""}},{"name":"id","in":"query","description":"Device id(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"command","in":"query","description":"The command to execute [Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate, CustomMdmCommand, InstallPackagedMacOSXAgent, SoftReset, Shutdown, EnterpriseReset, SyncSensors, OsUpdateStatus, RotateFileVaultKey, RotateDEPAdminPassword, InstallSeededScepProfile, ResetBiosPassword].(Required)","required":true,"schema":{"type":"string","default":""}},{"name":"reason","in":"query","description":"Applicable only for Chrome Os Devices. Enterprise Wipe reason must be one of the following values - different_model_replacement, retiring_device, same_model_replacement.","schema":{"type":"string","default":""}}],"requestBody":{"description":"Applicable only for Apple devices. Required if the command type is CustomMdmCommand. Model containing the custom XML for the command.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomCommandModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomCommandModel"}}},"required":true,"x-bodyName":"customCommandModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {400: Command XML cannot be null or empty} 2. {5100: The device is not eligible for {command} 3. {400: Enterprise wipe Reason cannot be null or empty.} 4. {6: Chrome Os Enterprise Wipe reason must be one of the following : different_model_replacement, retiring_device, same_model_replacement.} 5. {6: Device should be encrypted before rotating its recovery key} 6. {5102: Command is not supported.} 7. {21: Functionality not supported for device type : {DeviceType}.} 8. {5234: Device Hub Version present on device is not supported for this feature.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {404: Device not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {422: Invalid searchby parameter.} 2.{422: WIPE_PROTECTED is supported only on Windows 10 version 1703 and above.} 3.{422: WIPE_PERSIST_USER_DATA is supported only on Windows 10 version 1706 and above.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/commands/change-organization-group/{organizationGroupUuid}":{"put":{"tags":["CommandsV1"],"summary":"New - Changes the organization group to which the device is assigned via UUID.","description":"Processes the command to change organization group for the specific device using UUID. It will also check if device can be accessed or not.","operationId":"CommandsV1_ChangeOrganizationGroupAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The AirWatch device UUID. (Required).(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"organizationGroupUuid","in":"path","description":"The new organization group UUID. (Required).(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1.{6: Device Cannot Be Accessed.} 2.{6: Can not Assign Device To organization group.} 3.{6213: Device is not enrolled.} 4.{6124: Cannot enroll the device because the organization group {OrganizationGroupId} is outside of a customer group hierarchy. Select a different organization group and try again.} 5.{6183: The organization group: {organizationgroupuuid} was not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1.{8: Device not found} 2.{5061: Device not found for specified UUID.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{id}/commands/changeorganizationgroup/{organizationgroupid}":{"put":{"tags":["CommandsV1"],"summary":"Changes the organization group to which the device is assigned.","description":"Processes the command to change organization group for the specific device. It will also check if device can be accessed or not.","operationId":"CommandsV1_ChangeOrganizationGroupAsync","parameters":[{"name":"id","in":"path","description":"The AirWatch device ID. (Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"organizationgroupid","in":"path","description":"The new organization group ID. (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"Bad Request 1.{6: Device Cannot Be Accessed.}, 2.{6: Can not Assign Device To organization group.}, 3.{6213: Device is not enrolled.}, 4. {6124: Cannot enroll the device because the organization group {OrganizationGroupId} is outside of a customer group hierarchy. Select a different organization group and try again.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{8: Device not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceId}/commands/finddevice":{"post":{"tags":["CommandsV1"],"summary":"Executes find device command for device by device id.","description":"v1.","operationId":"CommandsV1_ExecuteFindDeviceAsync","parameters":[{"name":"deviceId","in":"path","description":"The AirWatch Device Id.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The find device request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindDevice"}},"application/xml":{"schema":{"$ref":"#/components/schemas/FindDevice"}}},"x-bodyName":"findDevice"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"BadRequest: Device with identifer: {deviceId} is not found or not enrolled in WS1 UEM","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound: Device not found for specified id","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/finddevice":{"post":{"tags":["CommandsV1"],"summary":"Executes finddevice command for device by alternate id.","description":"API to Executes finddevice command for device by alternate id as [Macaddress, Udid, Serialnumber, ImeiNumber].","operationId":"CommandsV1_ExecuteFindDeviceByAlternateIdAsync","parameters":[{"name":"searchBy","in":"query","description":"The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837).","schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"The alternate id.","schema":{"type":"string","default":""}}],"requestBody":{"description":"The find device request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindDevice"}},"application/xml":{"schema":{"$ref":"#/components/schemas/FindDevice"}}},"x-bodyName":"findDevice"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"InvalidInput 1.{400: Invalid Application : {0}}, 2.{400: Device does not exist or Admin User does not have access to the Device.}, 3.{400: Functionality not supported for device type : {DeviceType}.},4.{400: ScheduleOsUpdate command cannot be sent to Device.}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound 1.{404: Device not found for specified id}, 2.{404: Device not found for this request.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"UnprocessableEntity 1.{422: Invalid searchby parameter},2.{1012: NumberOfRepetitions cannot be null},3.{1012 :GapBetweenRepetitions cannot be null","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{id}/commands/changepasscode":{"post":{"tags":["CommandsV1"],"summary":"Executes change passcode command for device ID.","description":"Processes change passcode command for the specific device with passcode provided. Performs necessary checks regarding device ID and its enrollment.","operationId":"CommandsV1_ExecuteChangeDevicePasscodeAsync","parameters":[{"name":"id","in":"path","description":"The device ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"New passcode value which needs to be set in the device. (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePasscode"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DevicePasscode"}}},"required":true,"x-bodyName":"passcode"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"Bad Request 1.{400: Passcode is empty or null}, 2.{400: Device is not enrolled.}, 3.{5070: Device is Not Supported For Change Passcode.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{404: Device not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/changepasscode":{"post":{"tags":["CommandsV1"],"summary":"Executes command for change passcode of device by alternate ID.","description":"Processes command for change passcode with device alternate ID. It also performs additional checks if device is enrolled or not.","operationId":"CommandsV1_ExecuteChangeDevicePasscodeByAlternateIdAsync","parameters":[{"name":"searchBy","in":"query","description":"The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required).","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"The alternate ID of the device. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837)(Required).","required":true,"schema":{"type":"string","default":""}}],"requestBody":{"description":"The change passcode request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePasscode"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DevicePasscode"}}},"x-bodyName":"passcode"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"Bad Request 1.{400: Passcode is empty or null}, 2.{400: Device is not enrolled.}, 3.{5070: Device is Not Supported For Change Passcode.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{404: Device not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1.{422: Invalid searchby parameter.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceid}/commands/startairplay":{"post":{"tags":["CommandsV1"],"summary":"Executes start airplay for a specific device.","description":"AirPlay on specified destination device.","operationId":"CommandsV1_ExecuteStartAirPlayAsync","parameters":[{"name":"deviceid","in":"path","description":"Device id.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Start airplay for a device.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartAirPlay"}},"application/xml":{"schema":{"$ref":"#/components/schemas/StartAirPlay"}}},"x-bodyName":"startAirPlay"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{},"application/xml;version=1":{}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/bulk":{"post":{"tags":["CommandsV1"],"summary":"Executes command for multiple devices identified by alternate ID type.","description":"Processes the bulk commands mentioned by command type.","operationId":"CommandsV1_BulkExecuteAsync","parameters":[{"name":"command","in":"query","description":"The command to execute [EnterpriseWipe, LockDevice, ScheduleOsUpdate, SoftReset, Shutdown].(Required).","required":true,"schema":{"type":"string","default":""}},{"name":"searchby","in":"query","description":"The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].(Required).","required":true,"schema":{"type":"string","default":""}}],"requestBody":{"description":"The bulk input with list of device IDs. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837)(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkInput"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BulkInput"}}},"required":true,"x-bodyName":"bulkInput"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"422":{"description":"Unprocessable Entity 1.{422: Invalid searchby parameter.}, 2.{422: Invalid command parameter.}, 3.{422: Lock, UnEnroll and ScheduleOsUpdate are the only allowed bulk commands.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/conditional-access-device-registration-information":{"get":{"tags":["ComplianceConditionalAccessDeviceInformationReportingV1"],"summary":"New - Retrieve Conditional Access device registration information","description":"Retrieve Conditional Access device registration information by the device UUID","operationId":"ComplianceConditionalAccessDeviceInformationReportingV1_GetDeviceRegistrationInformationAsync","parameters":[{"name":"deviceUuid","in":"path","description":"Unique internal identifier for the device(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConditionalAccessDeviceRegistrationInformationResponseV1Model"}}}}},"400":{"description":"Bad Request 1. {150005: Invalid Uuid for the device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Unauthorized 1. {1024: OAuthToken Validation Failed.} 2. {1029: OAuth token is expired.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1. {5143: User does not have access to the device.} 2. {5138: Feature is currently turned off.} 3. {1011: User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound 1. {5177: The organization group: {0} was not found.} 2. {5002: Device not found for specified UUID.} 3. {8156: Device registration details are not available.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"devices/{deviceUuid}/conditional-access-device-registration-information","x-controller-fullname":"AW.Mdm.Api.Controllers.Device.ConditionalAccess.InformationReporting.V1.ComplianceConditionalAccessDeviceInformationReportingV1Controller","x-operation-type":"Single","x-sla-ms-micro":1200,"x-sla-ms-xxsmall":1200,"x-sla-ms-xsmall":1200,"x-sla-ms-small":1200,"x-sla-ms-medium":1200,"x-sla-ms-large":1200}},"/compliancepolicies":{"get":{"tags":["CompliancePolicyV1"],"summary":"New - Returns a collection of Compliance Policies based on the search criteria.","description":"Returns a collection of Compliance Policies based on the search criteria specified. The search parameters can be organization group id, page, and the pagesize. this end point supports json only.","operationId":"CompliancePolicyV1_GetCompliancePoliciesAsync","parameters":[{"name":"organizationgroupuuid","in":"query","description":"Organization Group UUID.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum number of results to be returned in each page","schema":{"type":"integer","default":""}},{"name":"searchtext","in":"query","description":"Search text can be a part of the policy name or policy description","schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Status can be used to filter the search results based on the compliance policy status. Expected values of status can be All(Both Active and Inactive policies), Active(Active compliance policies) or Inactive(Inactive compliance policies)","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CompliancePolicySearchResultV1Model"}}}},"400":{"description":"1. {5052: Compliance Policy status is invalid.} 2. {400: Organization Group with id : {0} not found or Admin user does not have access to it.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5027: No organization group found for the given organization group UUID.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/compliancepolicy/search":{"get":{"tags":["CompliancePolicyV1"],"summary":"Searches for the CompliancePolicies with the search parameters passed.","description":"Searches for a compliance policy in airwatch based on the search parameters passed.\r\nThe search parameters can be organization group id, page, and the pagesize.","operationId":"CompliancePolicyV1_Search","parameters":[{"name":"organizationgroupid","in":"query","description":"Organization group id which is similar to selected organization group selected in console.","schema":{"type":"integer","default":""}},{"name":"page","in":"query","description":"page number.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CompliancePolicySearchResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/CompliancePolicySearchResult"}}}},"400":{"description":"1. {1020: organizationgroupid not found.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {6: Resource's organization group :{0} not found or user does not have access to this organization group.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceId}/compliance":{"get":{"tags":["ComplianceV1"],"summary":"Retrieves compliance details of the device identified by device ID.","description":"Processes the device ID to get compliance policy details for specified device. It also checks if device is compromised or not.","operationId":"ComplianceV1_GetComplianceByDeviceAsync","parameters":[{"name":"deviceId","in":"path","description":"Identifier of the device(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceComplianceSearchResultModel"}}}},"400":{"description":"Tenant Access Security Error","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Device Not Found","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/compliance":{"get":{"tags":["ComplianceV1"],"summary":"Retrieves compliance details of the device identified by the alternate id.","description":"Processes the alternate ID for the device to get compliance details of this specific device. It also facilitates to search by different types of alternate IDs.","operationId":"ComplianceV1_GetComplianceByAlternateIdAsync","parameters":[{"name":"searchBy","in":"query","description":"The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber] (Required).","required":true,"schema":{"type":"string","default":""}},{"name":"id","in":"query","description":"Device alternate id (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required).","required":true,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"The specific page number to get.","schema":{"type":"integer","default":""}},{"name":"
[...]
