{"openapi":"3.0.1","info":{"title":"MDM API V2","description":"Workspace ONE UEM MDM REST API V2","contact":{"name":"Workspace ONE UEM"},"version":"2"},"servers":[{"url":"https://as2596.awmdm.com/api/mdm"}],"paths":{"/devices/apps":{"post":{"tags":["AppsV2"],"summary":"New - Returns list of application(s) for provided devices.","description":"This endpoint returns the list of application for provided devices.","operationId":"AppsV2_GetAppListForDevicesAsync","requestBody":{"description":"Model for device uuids.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationSearchRequestV2Model"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApplicationSearchRequestV2Model"}}},"required":true,"x-bodyName":"request"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ApplicationSearchResponseV2Model"}}}},"404":{"description":"1. {6: Organization Group with id :{} not found} 2. {5061: Device not found for specified UUID.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid RequestBody} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/assignmentgroups":{"get":{"tags":["AssignmentGroupsV2"],"summary":"New - Returns a list of Assignment Groups matching the search criteria","description":"Get List of Assignment Groups based on the Organization Group, Search Text, AssignmentType. Search text should not be more than 255 characters.","operationId":"AssignmentGroupsV2_GetAssignmentGroupsBySearchContextAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique Identifier for the Organization Group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"assignmentType","in":"query","description":"Type of Assignment Group to search\r\n             All types of Assignment Groups (Smart Group, User Group, Organization Group) \r\n             SmartGroups \r\n             UserGroups \r\n             OrganizationGroups (Required)","required":true,"schema":{"type":"integer","default":""}},{"name":"name","in":"query","description":"Name of the Assignment Group by which result will be filtered (Optional). When not passed, all Assignment Groups present in that organization will be returned.","schema":{"type":"string","default":""}},{"name":"order_by","in":"query","description":"The column used for sorting.","schema":{"type":"string","default":""}},{"name":"sort_order","in":"query","description":"The sort order ascending/decending. Default value is ASC.","schema":{"type":"","default":""}},{"name":"page","in":"query","description":"The page number for the paged result.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"The number of records per page.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=2":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentGroupsPagedResultsModelV1"}}}}},"400":{"description":"1. {5005: Invalid Assignment Group Type. Should be 0-All SmartGroups UserGroups OrganizationGroups} 2. {Search Text length cannot exceed 255 characters.} 3.{400: Resource's organization group not found or user does not have access to this organization group.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"{5060: No Assignment Groups were found}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/{commandName}/device/{searchBy}/{id}":{"post":{"tags":["CommandsV2"],"summary":"New - Executes a command for device by alternate ID","description":"Execute commands for specified device ID. Supported commands are ClearPasscode, DeviceWipe, Lock, SyncSensors (macOS only), enable-activation-lock (iOS and macOS only), logout-user (iOS only), delete-user (iOS only), user-list (iOS only), refresh-esim (iOS only), suspend-bitlocker (Windows only), resume-bitlocker (Windows only).","operationId":"CommandsV2_ExecuteByAlternateIdAsync","parameters":[{"name":"commandName","in":"path","description":"The command to execute [ClearPasscode, DeviceWipe, Lock, SyncSensors, delete-user, enable-activation-lock, logout-user, refresh-esim, user-list, suspend-bitlocker, resume-bitlocker].(Required)","required":true,"schema":{"type":"string"}},{"name":"searchBy","in":"path","description":"Search by alternate ID type [MacAddress, Udid, SerialNumber, ImeiNumber, EasId].(Required)","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Model containing option values to the API.\r\n            The **unlock_pin** is applicable only for the macOS devices and it is required for Lock and DeviceWipe commands. Warning - This device cannot be unlocked remotely and can only be unlocked using a 6-digit pin entered. Write this PIN down and store it in a safe place. If you forget your PIN you must contact Apple to unlock your device.\r\n            The **message** can be optionally provided for Lock which will be displayed on the device lock screen. Max allowed length is 256 chars.\r\n            The **sensor_names** is applicable only for macOS and Linux platform and it is required for the SyncSensors command.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommandsV2Model"}}},"required":true,"x-bodyName":"commandsModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=2":{}}},"400":{"description":"1. {33: Feature is currently turned off.} 2. {400: Device is not enrolled.} 3. {5101: Command not found for the input device and command type.} 4. {5102: Command is not supported.} 5. {5100: The device is not eligible for {command}.} 6. {5100: WIPE_PROTECTED is supported only on Windows 10 version 1703 and above.} 7. {5102: Invalid remote wipe type.} 8. {5060: This feature is not supported for the operating system version on the device.} 9. {6: Invalid input - {parameter}.} 10.{5102: Command is not supported for user enrolled devices.} 11.{6209: DEP token is invalid.} 12.{6: Unlock PIN for macOS device must be 6 digits long} 13.{7014: Device is not a shared device.} 14.{7017: Managed Apple ID is required for the Delete User command.} 15.{7018: Given Managed Apple ID is not in a valid email address format.} 16.{150099: The sensor names are required for the Sync Sensor command.} 17.{5234: Device Hub Version present on device is not supported for this feature.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {8: Device not found} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {6: Invalid searchby parameter.} 2. {1012: The field Message must be a string with a maximum length of 256. } ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"503":{"description":"1. {0: An unknown error occurred during processing the command.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/commands/{commandName}":{"post":{"tags":["CommandsV2"],"summary":"New - Executes a command for device by device uuid","description":"Executes a command for device by device uuid. Supported commands are Lock(macOS and Linux only), DeviceWipe, logout-user (iOS only), delete-user (iOS only), user-list (iOS only), SyncSensors (macOS only), suspend-bitlocker (Windows only), resume-bitlocker (Windows only).","operationId":"CommandsV2_ExecuteAsync","parameters":[{"name":"deviceUuid","in":"path","description":"Device Uuid.\r\n            Accepted format is **guid**\r\n            E.g. 0258902A-9E0C-4DC5-A997-9E079559F75E(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commandName","in":"path","description":"The command to execute [Lock, DeviceWipe, logout-user, delete-user, user-list, SyncSensors, suspend-bitlocker, resume-bitlocker].(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Model containing option values to the API.\r\n            The **unlock_pin** is applicable only for the macOS devices and it is required for Lock and DeviceWipe commands. Warning - This device cannot be unlocked remotely and can only be unlocked using a 6-digit pin entered. Write this PIN down and store it in a safe place. If you forget your PIN you must contact Apple to unlock your device.\r\n            The **sensor_names** is applicable only for macOS and Linux platform and it is required for the SyncSensors command.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommandsV2Model"}}},"required":true,"x-bodyName":"commandsModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=2":{}}},"400":{"description":"1. {400: Device is not enrolled.} 2. {5101: Command not found for the input device and command type.} 3. {5102: Command is not supported.} 4. {5102: Command is not supported for user enrolled devices.} 5. {6: Unlock PIN for macOS device must be 6 digits long} 6.{7014: Device is not a shared device.} 7.{7017: Managed Apple ID is required for the Delete User command.} 8.{7018: Given Managed Apple ID is not in a valid email address format.} 9.{150099: The sensor names are required for the Sync Sensor command.} 10.{150102: Reboot count value must be between 1 and 15.} 11.{5234: Device Hub Version present on device is not supported for this feature.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {8: Device not found} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: The field Message must be a string with a maximum length of 256. } ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/commands/{commandName}":{"post":{"tags":["CommandsV2"],"summary":"New - Executes command for multiple devices identified by device uuid","description":"Executes command for multiple devices identified by device uuid. Supported commands are Lock, SyncSensors (macOS only), and DeviceWipe.","operationId":"CommandsV2_BulkExecuteAsync","parameters":[{"name":"commandName","in":"path","description":"The command to execute [Lock, DeviceWipe, SyncSensors].(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Model containing list of device uuids and Unlock PIN.\r\n            The **unlock_pin** is applicable only for the macOS devices and it is required for Lock and DeviceWipe commands. Warning - This device cannot be unlocked remotely and can only be unlocked using a 6-digit pin entered. Write this PIN down and store it in a safe place. If you forget your PIN you must contact Apple to unlock your device.\r\n            The **sensor_name** is applicable only for macOS and Linux platform and it is required for the SyncSensors command.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkCommandsV2Model"}}},"required":true,"x-bodyName":"bulkCommandsModel"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=2":{}}},"400":{"description":"1. {400: Device is not enrolled.} 2. {5101: Command not found for the input device and command type.} 3. {5102: Command is not supported.} 4. {5102: Command is not supported for user enrolled devices.} 5. {6: Unlock PIN for macOS device must be 6 digits long} 6. {150099: The sensor names are required for the Sync Sensor command.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {8: Device not found} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: The field Message must be a string with a maximum length of 256. } ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors":{"post":{"tags":["DeviceSensorsV2"],"summary":"New - Create a device sensor.","description":"Create a device sensor which includes sensor name, description, organization group identifier, platform, query type, execution context, timeout, script data, script blob identifier, and script environment variables.","operationId":"DeviceSensorsV2_CreateDeviceSensorAsync","requestBody":{"description":"Device sensor request model. Includes sensor name, description, organization group identifier, platform, query type, execution context, timeout, script data, script blob identifier, and script environment variables.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceSensorRequestV2Model"}}},"required":true,"x-bodyName":"deviceSensorRequest"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/{sensor-uuid}","schema":{"type":"string"}}},"content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseModel"}}}},"403":{"description":"Forbidden   1. {5145 : User does not have access to this organization group - {organizationGroupId}.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {5005 : Unable to process the request due to bad input.} 2. {5180 : Device sensor name: {sensorName} is duplicate.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors/{sensorUuid}":{"get":{"tags":["DeviceSensorsV2"],"summary":"New - Gets the device sensor information.","description":"Get a device sensor which includes sensor name, description, organization group identifier, platform, query type, execution context, timeout, script data, script blob identifier, and script environment variables.","operationId":"DeviceSensorsV2_GetDeviceSensorAsync","parameters":[{"name":"sensorUuid","in":"path","description":"Uuid of the device sensor.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceSensorResponseV2Model"}}}},"403":{"description":"Forbidden   1. {5143 : User doesn't have access to device sensor.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5141 : Device Sensor {sensorUuid} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["DeviceSensorsV2"],"summary":"New - Update the device sensor.","description":"Update the device sensor which includes description, platform, query type, execution context, timeout, script data, script blob identifier, and script environment variables.","operationId":"DeviceSensorsV2_UpdateDeviceSensorAsync","parameters":[{"name":"sensorUuid","in":"path","description":"Uuid of the device sensor.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Device sensor update model. Includes sensor description, platform, query type, execution context, timeout, script data, script blob identifier, and script environment variables.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceSensorUpdateV2Model"}}},"required":true,"x-bodyName":"deviceSensorRequest"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{}}},"403":{"description":"Forbidden   1. {5143 : User doesn't have access to device sensor.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5178 : Device sensor having identifier {sensor-uuid} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {5005 : Unable to process the request due to bad input.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors/{sensorUuid}/assignment":{"post":{"tags":["DeviceSensorsV2"],"summary":"New - Adds an assignment to device sensor.","description":"Adds an assignment to device sensor. Assignment information includes assigned smart groups and triggers.","operationId":"DeviceSensorsV2_AddDeviceSensorAssignmentAsync","parameters":[{"name":"sensorUuid","in":"path","description":"Uuid of the device sensor.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Device sensor assignment request model. Includes smart group uuids, triggers, and assignment group name.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceSensorAssignmentRequestV1Model"}}},"required":true,"x-bodyName":"deviceSensorAssignmentRequest"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/{assignment-uuid}","schema":{"type":"string"}}},"content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseModel"}}}},"400":{"description":"Bad Request   1. {150103 : NETWORK_CHANGE event trigger is not supported for the platform.}   2. {200002 : {trigger_type} trigger type is not supported for the platform.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5178 : Device sensor having identifier {sensor_uuid} not found.}   2. {5208 : smart group with uuid {smartgroup_uuids} not found} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity   1. {1012 : Element: deviceSensorAssignmentRequest.Name Message: The Name field is required.}   2. {1012 : Element: deviceSensorAssignmentRequest.Name Message: The field Name must be a string with a maximum length of 100.}   3. {1012 : Element: deviceSensorAssignmentRequest.TriggerType Message: 'TriggerType' should not be equal to 'UNKNOWN'}   4. {1012 : Element: deviceSensorAssignmentRequest.EventTrigger Message: 'EventTrigger' cannot be empty.}   5. {1012 : Element: deviceSensorAssignmentRequest.EventTrigger Message: 'EventTrigger' should not contain value UNKNOWN.} 6. {1012 : Element: deviceSensorAssignmentRequest.SmartGroupUuids Message: Smart group assignment identifiers cannot be empty}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors/{sensorUuid}/assignments":{"get":{"tags":["DeviceSensorsV2"],"summary":"New - Gets the list of device sensor assignments.","description":"Get a list of device sensor assignments information which includes assigned smart groups and triggers for each assignment.","operationId":"DeviceSensorsV2_GetDeviceSensorAssignmentsAsync","parameters":[{"name":"sensorUuid","in":"path","description":"Uuid of the device sensor.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceSensorAssignmentResponseV1Model"}}}}},"404":{"description":"Not Found   1. {5251 : The device sensor assignment group {0} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["DeviceSensorsV2"],"summary":"New - Bulk update device sensor assignments based on custom action","description":"Bulk update device sensor assignments for a specific device sensor","operationId":"DeviceSensorsV2_BulkUpdateDeviceSensorAssignmentRankingsAsync","parameters":[{"name":"sensorUuid","in":"path","description":"Uuid of the device sensor.(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"action","in":"query","description":"Custom action on device sensor assignments. Possible values [update-ranking] update-ranking will update all the rankings provided for device assignments belonging to a specific device sensor.(Required)","required":true,"schema":{"type":"string","default":""}}],"requestBody":{"description":"Contains a list of device sensor assignment rankings.(Required)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceSensorAssignmentRankingV1Model"}}}},"required":true,"x-bodyName":"updateAssignmentRanking"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{}}},"400":{"description":"Bad Request   1. {5224 : One or more input rank(s) provided is invalid.}   2. {5253 : Assignment groups should have unique ranking. Same rank value:{assignment_ranking} cannot be provided for multiple assignment groups.}                 ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5178 : Device sensor having identifier {sensor_uuid} not found.}   2. {5251 : The device sensor assignment group {assignment_uuid} not found.}   3. {5252 : Assignment Groups are not found for sensor {sensor_uuid}.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors/assignments/{assignmentUuid}":{"get":{"tags":["DeviceSensorsV2"],"summary":"New - Gets the device sensor assignment information.","description":"Gets device sensor assignment information which includes assigned smart groups and triggers.","operationId":"DeviceSensorsV2_GetDeviceSensorAssignmentAsync","parameters":[{"name":"assignmentUuid","in":"path","description":"Uuid of the device sensor assignment.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceSensorAssignmentResponseV1Model"}}}},"404":{"description":"Not Found   1. {5251 : The device sensor assignment group {assignment_uuid} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["DeviceSensorsV2"],"summary":"New - Update the device sensor assignment information.","description":"Update the device sensor assignment information which includes smartgroup ids and triggers.","operationId":"DeviceSensorsV2_UpdateDeviceSensorAssignmentAsync","parameters":[{"name":"assignmentUuid","in":"path","description":"Uuid of the device sensor assignment.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Device sensor assignment request model. Includes smart group uuids, triggers, and assignment group name.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceSensorAssignmentRequestV1Model"}}},"required":true,"x-bodyName":"deviceSensorAssignmentRequest"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"400":{"description":"Bad Request   1. {150103 : NETWORK_CHANGE event trigger is not supported for the platform.}   2. {200002 : {trigger_type} trigger type is not supported for the platform.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5251 : The device sensor assignment group {assignment_uuid} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"delete":{"tags":["DeviceSensorsV2"],"summary":"New - Deletes the device sensor assignment.","description":"Deletes a single device sensor assignment.","operationId":"DeviceSensorsV2_DeleteDeviceSensorAssignmentAsync","parameters":[{"name":"assignmentUuid","in":"path","description":"Uuid of the device sensor assignment.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{}}},"404":{"description":"Not Found   1. {5251 : The device sensor assignment group {assignment_uuid} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devicesensors/list/{organizationGroupUuid}":{"get":{"tags":["DeviceSensorsV2"],"summary":"New - Gets the list of all the device sensors for the Organization Group.","description":"Returns a list of device sensor(s) with sensor details for the Organization Group.","operationId":"DeviceSensorsV2_GetDeviceSensorsAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Identifier of the Organization Group(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","description":"Filter records based on the sensor name. Partial names are accepted.","schema":{"type":"string","default":""}},{"name":"query_type","in":"query","description":"Filter records based on the query type. Default is None. Accepted values are [POWERSHELL],[BASH] and [PYTHON].","schema":{"type":"string","default":""}},{"name":"platform","in":"query","description":"Filter records based on the platform. Default is None. Accepted values are [WIN_RT] and [APPLE_OSX].","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index. Default is 0","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"Maximum records per page. Default 500","schema":{"type":"integer","default":""}},{"name":"orderby","in":"query","description":"Name of the property used for sorting. Default is None. Accepted values are [Name], [Platform] and [QueryType]","schema":{"type":"string","default":""}},{"name":"sort_order","in":"query","description":"Indicates whether the sort order is ascending or descending. The property used for sorting is name. Accepted values are [Asc] and [Desc]. Default value is Asc.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceSensorListResponseV2Model"}}}},"204":{"description":"No Content","content":{"application/json;version=2":{}}},"403":{"description":"Forbidden   1. {5145 : User does not have access to this organization group - {organization_group_uuid}.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound   1. {5177 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{id}/enrollmentuser/{enrollmentuserid}":{"patch":{"tags":["DevicesV2"],"summary":"New - Check In and Check Out the device to the Multi-Staging enrollment User. The checkout action is supported only for MacOS and iOS devices.","description":"Check In and Check Out the device to the Multi-Staging enrollment User. This API returns a 400 - BadRequest if device is not enrolled to Multi-Staging enrollment User.","operationId":"DevicesV2_CheckOutDeviceToUserAsync","parameters":[{"name":"id","in":"path","description":"Device Identifier.(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"enrollmentuserid","in":"path","description":"Enrollment User Identifier.(Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"1. {6: Device {deviceId} cannot be checked out. Device is not enrolled to a multi-staging user} 2. {6: Only MacOS and iOS devices are supported.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. {6: Device does not exist or Enrollment User does not have access to the Device.} 2. {6: Device cannot be moved to user at child organization group, when fixed organization group setting is enabled} 3. {6: Device can not be checked out by the enrollment user.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {12: Device not found for this request.} 2. {12: Enrollment User does not exist or Admin user does not have access to Enrollment User.} 3. {12: Device is not enrolled.} 4. {12: Enrollment User {enrollmentUserId} is not an active user} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/search":{"get":{"tags":["DevicesV2"],"summary":"New - Find relevant devices using various criteria.","description":" Returns details of relevant devices belonging to an enrollment user matching specified criteria, where results are ranked/sorted using the specified orderby criteria with maximum pagesize limit of 500.\r\n If page size is greater than the maximum limit, it will return the first 500 records.\r\nseensince and lastseen fields accept the following Valid DateTime formats :\r\nyyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\nyyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\nyyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt,\r\nyyyy-MM-ddTHH-mm-ss-tt.","operationId":"DevicesV2_SearchAsync","parameters":[{"name":"user","in":"query","description":"Filters devices based on enrolled username.","schema":{"type":"string","default":""}},{"name":"model","in":"query","description":"Filters devices based on model. For example iPhone.","schema":{"type":"string","default":""}},{"name":"platform","in":"query","description":"Filters devices based on platform. For example Apple.","schema":{"type":"string","default":""}},{"name":"lastseen","in":"query","description":"Filters devices based on date when they were last seen.","schema":{"type":"string","format":"date-time","default":""}},{"name":"ownership","in":"query","description":"Filters devices based on ownership type. One of C, E, S or Undefined.","schema":{"type":"string","default":""}},{"name":"lgid","in":"query","description":"Limits the search to given OrganizationGroup, defaults to user's OrganizationGroup.","schema":{"type":"integer","default":""}},{"name":"compliance_status","in":"query","description":"Filters devices based on specified compliance status. Possible values are true (for Compliant) and false (for NonCompliant).","schema":{"type":"string","default":""}},{"name":"seen_since","in":"query","description":"Filters devices based on the date when they were seen after the given date.","schema":{"type":"string","format":"date-time","default":""}},{"name":"page","in":"query","description":"Filters search result to return results based on page number. Page numbering is 0 based and omitting this parameter will return first page.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Limits the number of search results per page. Defaults to 500.","schema":{"type":"integer","default":""}},{"name":"orderby","in":"query","description":"Sort results based on given field. One of model, lastseen, ownership, platform, deviceid etc. Defaults to deviceid.","schema":{"type":"string","default":""}},{"name":"sortorder","in":"query","description":"Sort order of results. One of ASC or DESC. Defaults to ASC.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceSearchResultExtended"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/DeviceSearchResultExtended"}}}},"400":{"description":"1.{6: Organization Group with id : {0} not found or Admin user does not have access to it.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/devicecountinfo":{"get":{"tags":["DevicesV2"],"summary":"Retrieves Device Count Information which are Categorized by Device Info like Platform, EnrollmentStatus, Ownership etc..","description":"Retrieves the device count for the following information.\r\n1. Total number of devices deployed in an OG.\r\n2. Device count breakdown by Security Info.\r\n3. Device count breakdown by Ownership Info.\r\n4. Device count breakdown by Platform Info.\r\n5. Device count breakdown by EnrollmentStatus Info.","operationId":"DevicesV2_GetDeviceCountDetailsByOGUUID","parameters":[{"name":"oguuid","in":"query","description":"OrganizationGroupUUID to be searched, user's OG is considered if not sent.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceCountSummary"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/DeviceCountSummary"}}}},"404":{"description":"1. {6. Resource's organization group uuid :{0} not found or user does not have access to this organization group.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{uuid}/osupdate":{"get":{"tags":["DevicesV2"],"summary":"New - Retrieves available OS updates for a device","description":"Retrieves a list of all available OS and software updates for the device specified by the device UDID.","operationId":"DevicesV2_GetOSUpdatesByUUIDAsync","parameters":[{"name":"uuid","in":"path","description":"Identifier for a device. Ex. 153B4D9D-24DC-416B-91F9-94253D623611(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/OSUpdateResultModel"}}}},"404":{"description":"1. {5061: Device not found for specified UUID.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{uuid}":{"get":{"tags":["DevicesV2"],"summary":"New - Get basic details about the device","description":"Get basic information about the device based on the unique identifier passed in the path. The response contains hypermedia links, which can be followed to get more information about the device. The API returns a 404 - NotFound if the device is not available.","operationId":"DevicesV2_GetByUuidAsync","parameters":[{"name":"uuid","in":"path","description":"Device identifier(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/GetDeviceResponseV2Model"}}}},"404":{"description":"1. {5061: Device not found} 2. {5177: Organization group not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{uuid}/installs":{"get":{"tags":["DevicesV2"],"summary":"New - Retrieve application install status for an AFW device","description":"Retrieve application install status for an AFW device. The API returns a 404 - NotFound if the device is not available.","operationId":"DevicesV2_GetDeviceInstallsAsync","parameters":[{"name":"uuid","in":"path","description":"Identifier for a device. Ex. 827BE1C5AEC05C378C61C44103E9D3FCB2EC354D(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"installId","in":"query","description":"Bundle id(Required)","required":true,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/AndroidWorkInstallResponseModel"}}}},"404":{"description":"1. {5061: Device not found} 2. {10034: Bundle Id is required} 3. {10037: No Install Was Found For the Device And Corresponding Bundle Id}       ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{ogUuid}/enrollment-tokens":{"post":{"tags":["EnrollmentTokenV2"],"summary":"New - Creates device enrollment token based on registration type","description":"Creates enrollment token for devices with specific registration type like Blacklist or Whitelist or RegisterDevice. Only for message type as QRCODE in register device record it returns the QR Code Data URI as response","operationId":"EnrollmentTokenV2_CreateEnrollmentToken","parameters":[{"name":"ogUuid","in":"path","description":"Organization group UUID(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Device registration record to create token with registration type(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrollmentTokenRequestV2Model"}}},"required":true,"x-bodyName":"deviceRegistrationRecord"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/{id}","schema":{"type":"string"}}},"content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/RegisteredDeviceResponseV2Model"}}}},"400":{"description":"Bad Request   1.{5213: Device registration is not allowed at this Organization Group because Group ID is missing. Please create a Group ID for this Organization Group}   2:{5210: Found existing device record with the same attribute(s) which are required to be unique (UDID, Serial Number, or IMEI)}   3:{12: Enrollment User does not exist or Admin user does not have access to Enrollment User.}   4.{5092: Input already specified value for this custom attribute. (Name:{} Application:{})}   5.{400: Resource's organization group :{ } not found or user does not have access to this organization group.}       6.{400: Custom Attributes can be created only at Customer Organization Group. Organization Group ID :{ } is not of type Customer.}   7.{400: User not found or cannot register device for the user. Because, user does not have access to OG : { } or user is at lower OG level.}   8.{400: Mandatory input parameter missing. Mandatory params : { }}   9.{400: Custom Attribute Name { } is not unique.}   10.{400: Error converting value { } to type { }}   11.{5027: No organization group found for the given organization group UUID.}   12.{6181: Found existing enrolled device record with the same attribute(s) which are required to be unique (UDID, Serial Number, or IMEI)} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Unauthorized   1:{1005: An error occurred while validating remote service client credentials or user not found : { }}    ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden   1.{1030: Tenant code:  { } is in different tenant hierarchy compared to logged in user.}   2.{1011: User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity   1.{1012: The registration type field is required and cannot be NONE type}   2.{1012: The DeviceAttribute field is required}   3.{1012: The device attribute type field is required and cannot be NONE type}   4.{1012: Invalid device attribute value. Should not hold multiple records using comma seperator}   5.{1012: Length of device IMEI should be 15}   6.{1012: IMEI should contain only numeric characters}   7.{1012: Length of device Serial Number should be less than 100}   8.{1012: Length of device UDID should be less than 150}   9.{1012: Default value for message type property is Email. A valid recipient email address is required}   10.{1012: Phone number should not be empty and include plus sign, country code, and area code. For example +14045550100. SMS charges may apply for both sending and receiving parties} 11.{6124: Cannot create an enrollment token because the organization group {Organization Group} is outside of a customer group hierarchy. Select a different organization group and try again.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/messages/email":{"post":{"tags":["MessagesV2"],"summary":"New - Sends an email to the user of the device.","description":"Sends an email message to the user of the device specified by the device UUID.","operationId":"MessagesV2_SendEmailByUuidAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The device UUID of the recipient device (Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Information about the email message (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailV2"}},"application/xml":{"schema":{"$ref":"#/components/schemas/EmailV2"}}},"required":true,"x-bodyName":"email"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=2":{},"application/xml;version=2":{}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/devices/{deviceUuid}/messages/sms":{"post":{"tags":["MessagesV2"],"summary":"New - Sends an SMS message to the device.","description":"Sends an SMS message to the device identified by the device UUID in the URL.","operationId":"MessagesV2_SendSmsByUuidAsync","parameters":[{"name":"deviceUuid","in":"path","description":"The device UUID of the recipient device (Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Information about the SMS message (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsV2"}},"application/xml":{"schema":{"$ref":"#/components/schemas/SmsV2"}}},"required":true,"x-bodyName":"sms"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=2":{},"application/xml;version=2":{}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/updates/{updateUuid}/groups/{organizationGroupUuid}/deployment":{"post":{"tags":["OsUpdatesV2"],"summary":"New - Creates a deployment for a specific device update.","description":"Creates a deployment for a specific device update by specifying the deployment parameters and notification preferences for the deployment.","operationId":"OsUpdatesV2_CreateUpdateDeployment","parameters":[{"name":"updateUuid","in":"path","description":"Update UUID(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"organizationGroupUuid","in":"path","description":"Organization Group UUID(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Contains the deployment parameters and notification preferences for the deployment.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUpdateDeploymentV2RequestModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DeviceUpdateDeploymentV2RequestModel"}}},"required":true,"x-bodyName":"updateDeployment"},"responses":{"201":{"description":"Created","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseModel"}}}},"400":{"description":"1. {5248: Device update with UUID {0} has expired.} 2. {5255: Update with UUID {0} will expire before deployment starts.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5045: Device update with update uuid:{0} not found.} 2. {5177: Organization group with uuid {0} not found.} 3. {5208: Smart group with uuid {0} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid Deployment Type. Allowed values are DEFAULT, DOWNLOAD_ONLY, INSTALL_ASAP, NOTIFY_ONLY, INSTALL_LATER, INSTALL_FORCE_RESTART.} 2. {1012: Invalid Notification Action. Allowed values are DOWNLOAD_SUCCESS, INSTALL_SUCCESS.} 3. {1012: Invalid Notification Message. Message can be of maximum 4000 characters.} 4. {1012: Name must not be empty.} 5. {1012: Smart Group UUID must contain a value.} 6. {1012: Invalid notifications object. Maximum 2 notifications are allowed.} 7. {1012: Invalid notifications object. Notifications can not have both message and message template id value. Only one of them are allowed in one notification.} 8. {1012: Invalid notifications object. Notifications can not have both message and message template id null. Exactly one of them are required in each notification.} 9. {1012: Invalid Notification Message. Message can be of maximum 4000 characters.} 10. {1012: Invalid Notification Action. Each notification should have different action.} 11. {1012: Invalid Notification Action. Notification Action should correspond to the selected Deployment Type.} 12. {1012: Invalid priority. Allowed values are LOW, HIGH}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/updates/deployments/{uuid}":{"put":{"tags":["OsUpdatesV2"],"summary":"New - Updates the device update deployment.","description":"Updates the device update deployment along with deployment parameters and notifications.","operationId":"OsUpdatesV2_UpdateDeviceUpdateDeployment","parameters":[{"name":"uuid","in":"path","description":"Deployment UUID(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Deployment update information(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUpdateDeploymentV2RequestModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DeviceUpdateDeploymentV2RequestModel"}}},"required":true,"x-bodyName":"deploymentUpdate"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{}}},"404":{"description":"1. {5207: Device update deployment with deployment uuid:{0} not found.} 2. {5177: Organization group with uuid {0} not found.} 3. {5208: Smart group with uuid {0} not found.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1. {1012: Invalid Deployment Type.Allowed values are DEFAULT, DOWNLOAD_ONLY, INSTALL_ASAP, NOTIFY_ONLY, INSTALL_LATER, INSTALL_FORCE_RESTART.} 2. {1012: Invalid Notification Action.Allowed values are DOWNLOAD_SUCCESS, INSTALL_SUCCESS.} 3. {1012: Invalid Notification Message.Message can be of maximum 4000 characters.} 4. {1012: Name must not be empty.} 5. {1012: Smart Group UUID must contain a value.} 6. {1012: Invalid notifications object. Maximum 2 notifications are allowed.} 7. {1012: Invalid notifications object. Notifications can not have both message and message template id value.Only one of them are allowed in one notification.} 8. {1012: Invalid notifications object. Notifications can not have both message and message template id null. Exactly one of them are required in each notification.} 9. {1012: Invalid Notification Message.Message can be of maximum 4000 characters.} 10. {1012: Invalid Notification Action.Each notification should have different action.} 11. {1012: Invalid Notification Action. Notification Action should correspond to the selected Deployment Type.} 12. {1012: Invalid priority. Allowed values are LOW, HIGH}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/picklists/certificate-authorities":{"get":{"tags":["PickListsV2"],"summary":"New - Gets the list of Certificate Authorities (CA) for an organization group.","description":"Retrieves the list of Certificate Authority (CA) for an organization group. In cryptography, a certificate authority is an entity that issues digital certificates. A digital certificate certifies the ownership of a public key by the named subject of the certificate.","operationId":"PickListsV2_GetDeviceCertificateAuthoritiesAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Ok","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/CertificateAuthorityV1Model1"}}}},"404":{"description":"Not Found                1. {5142: Organization group having identifier {organization-group} not found or user does not have access to this organization group.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/products/{id}/compliant":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Devices which are Product Compliant .","description":"Returns the details of the Devices which are Product Compliant<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen.<br />","operationId":"ProductsV2_ProductCompliantDevicesAsync","parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}}}},"404":{"description":"Not Found \r\n1. Product with {id} not found or User does not have access to it.","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/products/{id}/inprogress":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is In-Progress.","description":"Returns the details of the Devices which provisioning is in-progress.<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen.<br />","operationId":"ProductsV2_InprogressProductDevicesAsync","parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}}}},"404":{"description":"Not Found \r\n1. Product with {id} not found or User does not have access to it.","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/products/{id}/failed":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Failed.","description":"Returns the details of the Devices for which Provisioning is Failed<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen.<br />","operationId":"ProductsV2_FailedProductDevicesAsync","parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}}}},"404":{"description":"Not Found \r\n1. Product with {id} not found or User does not have access to it.","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/products/{id}/assigned":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Assigned.","description":"Returns the details of the Device for which Provisioning is Assigned.<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen.<br />","operationId":"ProductsV2_AssignedProductDevicesAsync","parameters":[{"name":"id","in":"path","description":"Identfier of the Product(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"seensince","in":"query","description":"Filters devices such that devices with last seen after this date will be returned.\r\n            Valid DateTime formats includes as below:\r\n            yyyy/MM/dd,yyyy-MM-dd,MM/dd/yyyy,MM-dd-yyyy,\r\n            yyyy/MM/dd HH:mm:ss.fff,yyyy-MM-dd HH:mm:ss.fff,\r\n            MM/dd/yyyy HH:mm:ss.fff,MM-dd-yyyy HH:mm:ss.fff,\r\n            yyyy/MM/ddTHH:mm:ss.fff,yyyy-MM-ddTHH:mm:ss.fff,\r\n            MM/dd/yyyyTHH:mm:ss.fff,MM-dd-yyyyTHH:mm:ss.fff,\r\n            yyyy-MM-dd HH-mm-ss-tt,yyyy-MM-ddTHH-mm-ss-tt.","schema":{"type":"string","format":"date-time","default":""}},{"name":"lastjobupdatefrom","in":"query","description":"Filters devices on lastjobstatus DateTime.\r\n            Valid DateTime formats includes as below:\r\n            yyyy/MM/dd,yyyy-MM-dd,MM/dd/yyyy,MM-dd-yyyy,\r\n            yyyy/MM/dd HH:mm:ss.fff,yyyy-MM-dd HH:mm:ss.fff,\r\n            MM/dd/yyyy HH:mm:ss.fff,MM-dd-yyyy HH:mm:ss.fff,\r\n            yyyy/MM/ddTHH:mm:ss.fff,yyyy-MM-ddTHH:mm:ss.fff,\r\n            MM/dd/yyyyTHH:mm:ss.fff,MM-dd-yyyyTHH:mm:ss.fff,\r\n            yyyy-MM-dd HH-mm-ss-tt,yyyy-MM-ddTHH-mm-ss-tt.","schema":{"type":"string","format":"date-time","default":""}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProductDeviceDetailsSearchResult"}}}},"404":{"description":"Not Found \r\n1. Product with {id} not found or User does not have access to it.","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/{platform}/payloads/{payload}/getpayloadkeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets PayloadKeys.","description":"Gets PayloadKeys for the specified Platform and Payload.","operationId":"ProfilesV2_GetPayloadKeys","parameters":[{"name":"platform","in":"path","description":"Platform Name (Required).","required":true,"schema":{"type":"string"}},{"name":"payload","in":"path","description":"Payload Name (Required).","required":true,"schema":{"type":"string"}},{"name":"contextType","in":"query","description":"Context Type.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK \r\n1. Payload keys for the specified platform and payload","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceProfileV2Entity"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/DeviceProfileV2Entity"}}}},"400":{"description":"Bad Request \r\n1. {5005: Context type is not valid.} \r\n2. {400: Invalid input.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/{profileId}":{"get":{"tags":["ProfilesV2"],"summary":"Gets Device Profile.","description":"Gets Device Profile Details identified by the Profile Id.","operationId":"ProfilesV2_GetDeviceProfileDetailsAsync","parameters":[{"name":"profileId","in":"path","description":"Profile Id (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/DeviceProfileV2Entity"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/DeviceProfileV2Entity"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/android/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an ANDROID Device Profile.","description":"1. v2\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_CreateAndroidDeviceProfileAsync","requestBody":{"description":"AndroidDeviceProfileEntity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidDeviceProfileV2Entity"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AndroidDeviceProfileV2Entity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"type":"integer","format":"int32"}},"application/xml;version=2":{"schema":{"type":"integer","format":"int32"}}}},"400":{"description":"Bad Request \r\n1. {6: The mail client Airwatch Inbox is invalid.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"412":{"description":"Precondition Failed \r\n1. {412 : Android EMM Registration should be completed prior to profile setup.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/apple/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an Apple iOS device profile.","description":"1. Creates an Apple device profile containing a number of settings that you can specify, including : Passcode, Restrictions, VPN, Wi-Fi, Email, EAS, SCEP, Credentials, Custom Settings, etc.\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_CreateAppleDeviceProfileAsync","requestBody":{"description":"Apple Device Profile V2 Entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleDeviceProfileV2Entity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"type":"integer","format":"int32"}}}},"400":{"description":"Bad Request \r\n1. {400 : Resource's organization group : {id} not found or user does not have access to this organization group.} \r\n2. {400 : SmartGroup with Id {id} not found or user does not have access to it.} \r\n3. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.} \r\n4. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.} \r\n5. {33: Feature for {name} is currently turned off.}\r\n6. {6: The mail client Airwatch Inbox is invalid.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/appleosx/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an Apple macOS device Profile.","description":"1. Creates an Apple macOS device profile containing a number of settings that you can specify, including : Passcode, Restrictions, Network, Email, Dock, SCEP, Credentials, Custom Settings, etc.\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_CreateAppleOsXDeviceProfileAsync","requestBody":{"description":"Apple macOS Device Profile Entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleOsXDeviceProfileEntity "}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"type":"integer","format":"int32"}}}},"400":{"description":"Bad Request \r\n1. {400 : Resource's organization group : {id} not found or user does not have access to this organization group.} \r\n2. {400 : SmartGroup with Id {id} not found or user does not have access to it.} \r\n3. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.} \r\n4. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.} \r\n5. {33 : Feature for {name} is currently turned off} \r\n6. {5179 : {name} is not supported} \r\n7. {10033 : Cannot create multiple network payloads with the same ethernet interface type} \r\n8. {6 : Invalid input - {name}.} \r\n9. {6 : Enable must be true when configuring DiskEncryption payload.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden \r\n1. {5093 : Admin is not authorized to rotate the recovery key}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {422 : Value should be 0 or an integer between 15 and 90}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/android/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an ANDROID Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"1. v2\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_UpdateAndroidDeviceProfileAsync","requestBody":{"description":"AndroidDeviceProfileEntity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidDeviceProfileV2Entity"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AndroidDeviceProfileV2Entity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {400 : Can't edit per app VPN details as it's already associated with an application.} \r\n2. {6 : A non compliance profile cannot be updated to Compliance profile without adding a new version.} \r\n3. {6 : A compliance profile cannot be updated to {AssignmentType} profile without adding a new version.}\r\n4. {6 : Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}\r\n5. {6 : Compliance/Interactive profile can't be part of workflow.}\r\n6. {6 : Smartgroup with Id {0} is already assigned to workflow so can't be excluded.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/apple/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an Apple iOS device profile.","description":"1. Updates an Apple device profile identified by its numeric ID.\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_UpdateAppleDeviceProfileAsync","requestBody":{"description":"Apple Device Profile V2 Entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleDeviceProfileV2Entity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{}}},"400":{"description":"Bad Request \r\n1. {400 : Mandatory input parameter missing. Mandatory params : {id}} \r\n2. {400 : Profile not found or User does not have access to the Profile.} \r\n3. {400 : Resource's organization group :{id} not found or user does not have access to this organization group.} \r\n4. {400 : Profile name is invalid or User does not have access to update it.} \r\n5. {400 : SmartGroup with Id {id} not found or user does not have access to it.} \r\n6. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.} \r\n7. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.} \r\n8. {400 : Can't edit per app VPN details as it's already associated with an application.} \r\n9. {6 : A non compliance profile cannot be updated to Compliance profile without adding a new version.} \r\n10. {6 : A compliance profile cannot be updated to {AssignmentType} profile without adding a new version.}\r\n11. {6 : Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}\r\n12. {6 : Compliance/Interactive profile can't be part of workflow.}\r\n13. {6 : Smartgroup with Id {0} is already assigned to workflow so can't be excluded.","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/appleosx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an Apple macOS device Profile.","description":"1. Updates an Apple macOS device profile identified by its numeric ID.\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_UpdateAppleOsXDeviceProfileAsync","requestBody":{"description":"Apple macOS Device Profile Entity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleOsXDeviceProfileEntity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{}}},"400":{"description":"Bad Request \r\n1. {400 : Mandatory input parameter missing. Mandatory params : {id}} \r\n2. {400 : Profile not found or User does not have access to the Profile.} \r\n3. {400 : Resource's organization group :{id} not found or user does not have access to this organization group.} \r\n4. {400 : Profile name is invalid or User does not have access to update it.} \r\n5. {400 : SmartGroup with Id {id} not found or user does not have access to it.} \r\n6. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.} \r\n7. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.} \r\n8. {33 : Feature for rotation recovery key is currently turned off} \r\n9. {5179 : {name} is not supported} \r\n10. {6 : Invalid input - {name}.} \r\n11. {6 : Enable must be true when configuring DiskEncryption payload.} \r\n12. {6 : A non compliance profile cannot be updated to Compliance profile without adding a new version.} \r\n13. {6 : A compliance profile cannot be updated to {AssignmentType} profile without adding a new version.}\r\n14. {6 : Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}\r\n15. {6 : Compliance/Interactive profile can't be part of workflow.}\r\n16. {6 : Smartgroup with Id {0} is already assigned to workflow so can't be excluded.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden \r\n1. {5093 : Admin is not authorized to rotate the recovery key}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {422 : Value should be 0 or an integer between 15 and 90}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/qnx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates the custom attributes details of existing QNX Device Profile.","description":"1. Updates the details of existing QNX profiles. <br> The details majorly include the custom attribute name, value and application group.</br>\r\n2. For Compliance Assignment Type Allow Removal should always be Never.","operationId":"ProfilesV2_UpdateQnxDeviceProfileAsync","requestBody":{"description":"Payload containing the details of the profile to be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QnxDeviceProfileEntity"}},"application/xml":{"schema":{"$ref":"#/components/schemas/QnxDeviceProfileEntity"}}},"x-bodyName":"deviceProfile"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {400: Profile name is invalid or User does not have access to update it.} \r\n2. {400: Resource's organization group :{0} not found or user does not have access to this organization group.}\r\n3. {400: Mandatory input parameter missing. Mandatory params : General.ProfileId.} \r\n4. {400: Profile not found or User does not have access to the Profile.} \r\n5. {6 : A non compliance profile cannot be updated to Compliance profile without adding a new version.} \r\n6. {6 : A compliance profile cannot be updated to {AssignmentType} profile without adding a new version.}\r\n7. {6 : Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}\r\n8. {6 : Compliance/Interactive profile can't be part of workflow.}\r\n9. {6 : Smartgroup with Id {0} is already assigned to workflow so can't be excluded.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/resources/{resourceType}/resourcekeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets Resource keys and advanced settings for the specified Resource type.","operationId":"ProfilesV2_GetProfileResourceKeys","parameters":[{"name":"resourceType","in":"path","description":"ResourceType (Required).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {5005: Resource type is not valid.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/resources/{id}":{"get":{"tags":["ProfilesV2"],"summary":"Gets a Resource for a given Resource ID.","operationId":"ProfilesV2_GetProfileResourceDetails","parameters":[{"name":"id","in":"path","description":"Resource ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProfileResourceModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProfileResourceModel"}}}},"400":{"description":"Bad Request \r\n1. {5029: Profile Resource Id is not valid.} \r\n2. {400- Profile not found or User does not have access to the Profile.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"delete":{"tags":["ProfilesV2"],"summary":"Deletes the Resource identified by the Resource ID.","operationId":"ProfilesV2_DeleteProfileResourceAsync","parameters":[{"name":"id","in":"path","description":"Resource ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {400: Mandatory input parameter missing. Mandatory params :General.ProfileId.} \r\n2. {400- Profile not found or User does not have access to the Profile.} \r\n3. {400- Profiles can't be deleted via Resource API.} \r\n4. {400- Resource's organization group :{0} not found or user does not have access to this organization group.}\r\n5. {400- Cannot delete profile resource, as it is currently linked to one or more workflows.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/resources/{resourceType}":{"put":{"tags":["ProfilesV2"],"summary":"Updates the given Resource entity.","description":"Updates the passed in Resource Entity(VPN/Wifi/EAS entity).","operationId":"ProfilesV2_UpdateProfileResourceAsync","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string"}},{"name":"resource.name","in":"query","description":"Gets or sets resource name.","schema":{"type":"string"}},{"name":"resource.description","in":"query","description":"Gets or sets resource description.","schema":{"type":"string"}},{"name":"resource.id","in":"query","description":"Gets or sets resource id.","schema":{"type":"integer","format":"int32"}},{"name":"resource.assignment.assignmentType","in":"query","description":"Gets or sets assignment Type for Resource.","schema":{"type":"string"}},{"name":"resource.assignment.managedLocationGroupID","in":"query","description":"Gets or sets root Organization Group Id.","schema":{"type":"integer","format":"int32"}},{"name":"resource.assignment.assignedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be assigned.","style":"form","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"resource.assignment.excludedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be excluded.","style":"form","schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {5029: Profile Resource Id is not valid.} \r\n2. {400- Resource's organization group :{0} not found or user does not have access to this organization group.} \r\n3. {5029- SmartGroup with Id {0} not found or user does not have access to it.} \r\n4. {5029: Unable to process the Profile Resource.}\r\n5. {6: Smartgroup with Id {0} is already assigned to workflow so can't be excluded.}\r\n5. {400- Resource type is not valid.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {1012: Element: EasCommonSettings.Username Message: EasCommonModel.Username cannot be null\r\nElement: EasCommonSettings.MailClient Message: MailClient should be 2\r\nElement: EasCommonSettings.AccountName Message: EasCommonModel.AccountName cannot be null\r\nElement: EasCommonSettings.Host Message: EasCommonModel.Host cannot be null\r\nElement: EasCommonSettings.EmailAddress Message: EasCommonModel.EmailAddress cannot be null\r\nElement: EASProfileResourceModel Message: Atleast one platforms needs to be enabled\r\nElement: WifiCommonSettings.ServiceSetIdentifier Message: WifiCommonModel.ServiceSetIdentifier cannot be null\r\nElement: WifiCommonSettings.SecurityType Message: SecurityType should be WPA\r\nElement: WifiCommonSettings.SecurityEncryption Message: SecurityEncryption should be either 'TKIP' or 'AES'\r\nElement: WifiAppleAdvancedSettings.ProxyType Message: Value can not be null.\r\nElement: WifiProfileResourceModel Message: Atleast one platforms needs to be enabled\r\n}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["ProfilesV2"],"summary":"Creates a Resource for the requested type.","description":"Creates a Resource for the passed in Resource Type(VPN/Wifi/EAS).","operationId":"ProfilesV2_CreateProfileResourceAsync","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string"}},{"name":"resource.name","in":"query","description":"Gets or sets resource name.","schema":{"type":"string"}},{"name":"resource.description","in":"query","description":"Gets or sets resource description.","schema":{"type":"string"}},{"name":"resource.id","in":"query","description":"Gets or sets resource id.","schema":{"type":"integer","format":"int32"}},{"name":"resource.assignment.assignmentType","in":"query","description":"Gets or sets assignment Type for Resource.","schema":{"type":"string"}},{"name":"resource.assignment.managedLocationGroupID","in":"query","description":"Gets or sets root Organization Group Id.","schema":{"type":"integer","format":"int32"}},{"name":"resource.assignment.assignedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be assigned.","style":"form","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"resource.assignment.excludedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be excluded.","style":"form","schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProfileResourceModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProfileResourceModel"}}}},"400":{"description":"Bad Request \r\n1. {5029: Unable to process the Profile Resource.} \r\n2. {400- Resource's organization group :{0} not found or user does not have access to this organization group.}\r\n4. {400- Resource type is not valid.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {1012: Element: EasCommonSettings.Username Message: EasCommonModel.Username cannot be null\r\nElement: EasCommonSettings.MailClient Message: MailClient should be 2\r\nElement: EasCommonSettings.AccountName Message: EasCommonModel.AccountName cannot be null\r\nElement: EasCommonSettings.Host Message: EasCommonModel.Host cannot be null\r\nElement: EasCommonSettings.EmailAddress Message: EasCommonModel.EmailAddress cannot be null\r\nElement: EASProfileResourceModel Message: Atleast one platforms needs to be enabled\r\nElement: WifiCommonSettings.ServiceSetIdentifier Message: WifiCommonModel.ServiceSetIdentifier cannot be null\r\nElement: WifiCommonSettings.SecurityType Message: SecurityType should be WPA\r\nElement: WifiCommonSettings.SecurityEncryption Message: SecurityEncryption should be either 'TKIP' or 'AES'\r\nElement: WifiAppleAdvancedSettings.ProxyType Message: Value can not be null.\r\nElement: WifiProfileResourceModel Message: Atleast one platforms needs to be enabled\r\nElement: Name Message: ProfileResource.Name cannot be null\r\n}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/resources/editassignment/{id}":{"put":{"tags":["ProfilesV2"],"summary":"Edit the Smart Group assignments for a given Resource.","operationId":"ProfilesV2_EditAssignmentAsync","parameters":[{"name":"id","in":"path","description":"Resource ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Resource Assignment model (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceAssignmentModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ResourceAssignmentModel"}}},"required":true,"x-bodyName":"resourceAssignmentModel"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {5016: Unable to process the Profile Resource.} \r\n2. {400- Resource's organization group :{0} not found or user does not have access to this organization group.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/appletv":{"post":{"tags":["ProfilesV2"],"summary":"New - Create a new profile for apple tv.","description":"Create a new profile for apple tv with configuration of SingleAppMode or ConferenceRoomDisplay payload.","operationId":"ProfilesV2_CreateAppleTvProfiles","requestBody":{"description":"Apple tv device profile to be created.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleTvDeviceProfileV2Entity "}}},"required":true,"x-bodyName":"appleTvDeviceProfileV2Entity"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"api/mdm/profiles/{profileId}","schema":{"type":"integer"}}},"content":{"application/json;version=2":{},"application/xml;version=2":{}}},"422":{"description":"Unprocessable Entity \r\n1. {1012 : Unprocessable profile entity please see the error details.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/appletv/{profileId}":{"put":{"tags":["ProfilesV2"],"summary":"New - Update an existing profile for apple tv","description":"Update an existing profile for apple tv with new configuration of payloads","operationId":"ProfilesV2_UpdateAppleTvProfiles","parameters":[{"name":"profileId","in":"path","description":"Profile id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Apple tv device profile to be updated(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleTvDeviceProfileV2Entity"}}},"required":true,"x-bodyName":"AppleTvDeviceProfileV2Entity"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {6: Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {1012 : Unprocessable profile entity please see the error details.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/epson":{"post":{"tags":["ProfilesV2"],"summary":"New - Create a new profile for Epson printer.","description":"Create a new profile for epson printer with configuration SCEP","operationId":"ProfilesV2_CreateEpsonPrinterProfiles","requestBody":{"description":"Epson printer device profile to be created.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EpsonPrinterProfileV2Model "}}},"required":true,"x-bodyName":"epsonPrinterProfileModel"},"responses":{"201":{"description":"Created","headers":{"Location":{"description":"api/mdm/profiles/{profileId}","schema":{"type":"string"}}},"content":{"application/json;version=2":{},"application/xml;version=2":{}}},"422":{"description":"Unprocessable Entity \r\n1. {1012 : Unprocessable profile entity please see the error details.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/platforms/epson/{profileId}":{"put":{"tags":["ProfilesV2"],"summary":"New - Update the existing printer profile for Epson.","description":"Update the existing Epson printer profile","operationId":"ProfilesV2_UpdateEpsonPrinterProfiles","parameters":[{"name":"profileId","in":"path","description":"Profile id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Epson device profile to be updated.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EpsonPrinterProfileV2Model"}}},"required":true,"x-bodyName":"epsonPrinterProfileModel"},"responses":{"204":{"description":"No Content","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"Bad Request \r\n1. {6: Profile is linked to some policies or staging packages. So, the profile can not be moved to ogs which are not accessible to linked components.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {1012 : Unprocessable profile entity please see the error details.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/profiles/search":{"get":{"tags":["ProfilesV2"],"summary":"Gets List of profiles based on the search criteria.","description":"The search result will contain profile's basic informations.","operationId":"ProfilesV2_SearchProfiles","parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group ID.","schema":{"type":"integer","default":""}},{"name":"organizationgroupuuid","in":"query","description":"Organization group uuid, based on we search the profiles, organizationgroupid will be ignored if valid organizationgroupuuid is Passed. ","schema":{"type":"uuid","default":""}},{"name":"platform","in":"query","description":"Platform name.","schema":{"type":"string","default":""}},{"name":"profiletype","in":"query","description":"Profile Type.","schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Profile status (Active or Inactive).","schema":{"type":"string","default":""}},{"name":"searchtext","in":"query","description":"search text.","schema":{"type":"string","default":""}},{"name":"orderby","in":"query","description":"Orderby parameter name.","schema":{"type":"string","default":""}},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","schema":{"type":"integer","default":""}},{"name":"includeandroidforwork","in":"query","description":"It will include android for work profiles.","schema":{"type":"boolean","default":""}},{"name":"include_androidmanagementapi","in":"query","description":"It will include android management api profiles.","schema":{"type":"boolean","default":""}},{"name":"payloadName","in":"query","description":"search with anyone of the payload name :Passcode, Email, Wi-Fi, Restriction, Vpn, CustomSetting, CustomAttribute, ExchangeActiveSync, ExchangeWebServices, Device,\r\n            SharedDevice, Notifications, HomeScreenLayout, GoogleAccount, ManagedDomains, WebClips, BookmarkSettings, SingleAppMode, SingleSignOn, Permissions, PublicAppAutoUpdate, CustomMessages, ApplicationControl,\r\n            NetworkSharePoint, DiskEncryption, KernelExtension, PrivacyPreferences, SmartCard, ConferenceRoomDisplay, WindowsLicensing, OemUpdates, WindowsAutomaticUpdates, Encryption, BIOS, UserData, Customization, PassportForWork,\r\n            Scep, Firewall, Proxy, Windows10Kiosk, Antivirus, P2PBranchCacheSettings, UnifiedWriteFilter, AssignedAccess, ShortcutSettings, Certificate.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/ProfileSearchResultV2Entity"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/ProfileSearchResultV2Entity"}}}},"204":{"description":"No Content","content":{"application/json;version=2":{},"application/xml;version=2":{}}},"400":{"description":"BadRequest \r\n1. {5005: Profile Type is Invalid.} \r\n2. {5005: Platform name cannot be null when payload name is given.} \r\n3. {5005: Platform name cannot be null when payload type is PerAppVPNProfile.}","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/remote-management/devices/{deviceUuid}/session":{"post":{"tags":["RemoteManagementV2"],"summary":"New - Initiates a Remote Management session.","description":"Initiates a Remote Management session with the device for the specified tool name and gets the Remote Management session URL.","operationId":"RemoteManagementV2_InitiateRMSessionAsync","parameters":[{"name":"deviceUuid","in":"path","description":"Unique identifier for the Device.(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model containing tool name for the Remote Management session.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoteManagementSessionRequestV2Model"}}},"required":true,"x-bodyName":"requestBody"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/RemoteManagementSessionResponseV2Model"}}}},"403":{"description":"Forbidden \r\n1. {5257 : You do not have sufficient permissions assigned to your role to perform this operation.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found \r\n1. {5002 : Device not found for specified id: {0}.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity \r\n1. {5006 : Remote Management is not enabled for the customer organization group {0}.} \r\n2. {5119 : Remote Management is not supported by device.} \r\n3. {5184 : Remote Management internal server error due to error code {0}.} \r\n4. {5192 : Remote Management session can not be started as device {0} is not registered to the Remote Management server.} \r\n5. {5256 : Remote Management tool is not supported on this device Operating System.} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"remote-management/devices/{deviceUuid}/session","x-controller-fullname":"AW.Mdm.Api.Controllers.RemoteManagementV2Controller","x-operation-type":"Single","x-sla-ms-micro":8000,"x-sla-ms-xxsmall":8000,"x-sla-ms-xsmall":8000,"x-sla-ms-small":8000,"x-sla-ms-medium":8000,"x-sla-ms-large":8000}},"/smartgroups/{uuid}":{"patch":{"tags":["SmartGroupsV2"],"summary":"New - Partially updates Smart Group criteria.","description":" Partially updates Smart Group criteria by adding/removing rules and/or values to rules like Organization groups, user groups, etc.                         \r\n------------Example--------------  \r\n[\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/organizationGroups\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF, 069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"remove\", path: \"/smartGroupsOperationsV2/users\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF, 069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/devices\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/tags\", value: \"123, 345\"},\r\n  {op: \"remove\", path: \"/smartGroupsOperationsV2/platforms\", value: \"WindowsMobile, Apple, BlackBerry, Android, Athena, Motorola, WindowsPhone, WindowsPc, AppleOsX, WindowsPhone8, WinRT, BlackBerry10, AppleTv, Qnx, ChromeBook, ChromeOS\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/managementTypes\", value: \"MdmEnrolled\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/enrollmentCategories\", value: \"DepEnrolled, AndroidEnterprise\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/cpuArchitectures\", value: \"049892B1-BCFE-447A-B34C-52D2BE897715, 1D88CEFE-8959-4E26-BD0C-355889B14378\"}\r\n]     \r\n-----------Platforms--------------  \r\n\"WindowsMobile, Apple, BlackBerry, Android, Athena, Motorola, WindowsPhone, WindowsPc, AppleOsX, WindowsPhone8, WinRT, BlackBerry10, AppleTv, Qnx, ChromeBook, ChromeOS\"\r\n-----------Ownerships-------------    \r\n\r\n \"CorporateDedicated, CorporateShared, EmployeeOwned, AllOwnerships\"\r\n \r\n ----------ManagementTypes-------\r\n \r\n \"MdmEnrolled, ApplicationManaged, All\"\r\n \r\n ----------EnrollmentCategories---\r\n \r\n \"DepEnrolled, Supervised, UserApprovedMdmEnrolled, SharedIpad, EduShared, AndroidLegacy, AndroidEnterprise, AadEnrolled, CustomDpcWorkManaged, CustomDpcCope, CustomDpcWorkProfile, AMAPI, AMAPIWorkManaged, AMAPICope, AMAPIWorkProfile, All\"\r\n\r\n --- Get all CPU Architectures API /processor-architectures","operationId":"SmartGroupsV2_PartialUpdateSmartGroupAsync","parameters":[{"name":"uuid","in":"path","description":"Smart Group unique identifier(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model containing operation type, resource path and value. Supports add and remove operations.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartGroupsOperationsV2ModelPatch"}}},"required":true,"x-bodyName":"smartGroupsOperations"},"responses":{"200":{"description":"OK","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/SmartGroupPatchResponseV2Model"}}}},"400":{"description":"1. {6: Invalid Rules for Smart group of type UserDevice} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5032: Smart Group is not found} ","content":{"application/json;version=2":{"schema":{"$ref":"#/components/sc
[...]
