{"openapi":"3.0.1","info":{"title":"System API V1","description":"Workspace ONE UEM System REST API V1","contact":{"name":"Workspace ONE UEM"},"version":"1"},"servers":[{"url":"https://as2596.awmdm.com/api/system"}],"paths":{"/groups/{organizationGroupUuid}/acc-multipart-log-upload/initiate-chunked-upload":{"post":{"tags":["AccMultiPartLogUpload"],"summary":"New - Initiates a chunked upload process for a file","description":"Starts a new chunked upload session for ACC log files and returns a transaction ID for subsequent operations.","operationId":"AccMultiPartLogUpload_InitiateChunkedUploadAsync","parameters":[{"name":"organizationGroupUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateChunkedUploadRequestV1Model"}}},"required":true,"x-bodyName":"request"},"responses":{"201":{"description":"Successfully initiated chunked upload","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/InitiateChunkedUploadResponseV1Model"}}}},"400":{"description":"Invalid request","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Authentication failed","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"500":{"description":"Internal server error","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/acc-multipart-log-upload/upload-chunk":{"post":{"tags":["AccMultiPartLogUpload"],"summary":"New - Uploads a chunk of a file as part of a chunked upload process","description":"Uploads a single chunk of the file data as part of the multipart upload process.","operationId":"AccMultiPartLogUpload_UploadChunkAsync","parameters":[{"name":"organizationGroupUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadChunkRequestV1Model"}}},"required":true,"x-bodyName":"request"},"responses":{"201":{"description":"Successfully uploaded chunk","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/UploadChunkResponseV1Model"}}}},"400":{"description":"Invalid request","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Authentication failed","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"500":{"description":"Internal server error","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/acc-multipart-log-upload/complete-upload":{"post":{"tags":["AccMultiPartLogUpload"],"summary":"New - Completes the chunked upload process for a file","description":"Finalizes the chunked upload process by combining all uploaded chunks into the final file.","operationId":"AccMultiPartLogUpload_CompleteUploadAsync","parameters":[{"name":"organizationGroupUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteChunkedUploadRequestV1Model"}}},"required":true,"x-bodyName":"request"},"responses":{"201":{"description":"Successfully completed upload","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CompleteChunkedUploadResponseV1Model"}}}},"400":{"description":"Invalid request","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Authentication failed","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"500":{"description":"Internal server error","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/acc-multipart-log-upload/notify":{"post":{"tags":["AccMultiPartLogUpload"],"summary":"New - Raises a failure / log not found notification for a log upload process","description":"Notifies the system about a failure / log not found in the log upload process.","operationId":"AccMultiPartLogUpload_NotifyAsync","parameters":[{"name":"organizationGroupUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotifyRequestV1Model"}}},"required":true,"x-bodyName":"request"},"responses":{"202":{"description":"Successfully notified","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/NotifyResponseV1Model"}}}},"400":{"description":"Invalid request","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Authentication failed","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"500":{"description":"Internal server error","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/idp/admin":{"post":{"tags":["AdminIdentityV1"],"summary":"New - Provides identity required to create token for basic and directory admin user.","description":"This API identifies the admin user and returns the uuid for the same.","operationId":"AdminIdentityV1_GetAdminIdentity","requestBody":{"description":"Request body containing username password and tenant uuid.(Required)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenServiceIdpRequestModelV1"}}},"required":true,"x-bodyName":"tokenServiceIdpRequestModelV1"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdminUserIdentityModelV1"}}}},"400":{"description":"Bad Request 1. {6174: Username is either missing or malformed} 2. {6175: Password is either missing or malformed} 3. {6176: Tenant uuid is either missing or malformed} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"Unauthorized 1. {6177: Authorization header is incorrect.} 2. {6178: User credential is incorrect.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"429":{"description":"Too Many Requests","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}}}},"/admins/login-history/search":{"post":{"tags":["AdminLoginHistoryV1"],"summary":"New - Returns a list of admin login history records.","description":"Returns a list of admin login history records satisfying the search criteria.","operationId":"AdminLoginHistoryV1_GetAdminLoginHistoryAsync","requestBody":{"description":"Admin login history search criteria(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginHistorySearchCriteria"}}},"required":true,"x-bodyName":"searchCriteria"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdminLoginHistoryResponse"}}}},"400":{"description":"Bad Request 1. {6156: Resource's organization group not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1. {1013: API tenant code header is missing.} schema:     $ref: 'https://raw.githubusercontent.com/airwatch-api/swagger/master/CommonDefinitions.yaml#/definitions/BaseExceptionModel' ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {1012: Invalid page or pagesize value.} schema:     $ref: 'https://raw.githubusercontent.com/airwatch-api/swagger/master/CommonDefinitions.yaml#/definitions/BaseExceptionModel'      ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/login-history/report":{"post":{"tags":["AdminLoginHistoryV1"],"summary":"New - Generate Login History Report.","description":"Generate report of Login history based on the parameters.","operationId":"AdminLoginHistoryV1_GenerateLoginHistoryReportAsync","requestBody":{"description":"Admin login history search criteria(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginHistoryReportV1Model"}}},"required":true,"x-bodyName":"searchCriteria"},"responses":{"202":{"description":"Accepted","headers":{"Location":{"description":"/{organization-group-uuid}/exported-reports/{report-uuid}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"400":{"description":"Bad Request 1. {6156: Resource's organization group not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1. {1013: API tenant code header is missing.} schema:     $ref: 'https://raw.githubusercontent.com/airwatch-api/swagger/master/CommonDefinitions.yaml#/definitions/BaseExceptionModel' ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {1012: Invalid page or pagesize value.} schema:     $ref: 'https://raw.githubusercontent.com/airwatch-api/swagger/master/CommonDefinitions.yaml#/definitions/BaseExceptionModel' ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/search":{"get":{"tags":["AdminsV1"],"summary":"Searches for Admin users using the query information provided.","description":"Performs necessary checks and search for the admin users based on the request query.","operationId":"AdminsV1_SearchAsync","parameters":[{"name":"firstname","in":"query","description":"The First name to search for.","schema":{"type":"string","default":""}},{"name":"lastname","in":"query","description":"The Last name to search for.","schema":{"type":"string","default":""}},{"name":"email","in":"query","description":"The Email Address to search for.","schema":{"type":"string","default":""}},{"name":"organizationgroupid","in":"query","description":"The Organization Group Id to search for.","schema":{"type":"integer","default":""}},{"name":"role","in":"query","description":"The Role name to search for.","schema":{"type":"string","default":""}},{"name":"username","in":"query","description":"The User name to search for.","schema":{"type":"string","default":""}},{"name":"orderby","in":"query","description":"Order the results by this attribute.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"The specific page number to get.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximum records per page.","schema":{"type":"integer","default":""}},{"name":"sortorder","in":"query","description":"Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.","schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"The admin status. Allowed values are Active or Inactive. Defaults to all, if this attribute is not specified.","schema":{"type":"string","default":""}},{"name":"onlydirectroleassignment","in":"query","description":"Indicates if only the administrators direct role assignments should be returned. Allowed values are true and false. Defaults to false, if this attribute is not specified.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdminSearchResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/AdminSearchResult"}}}},"204":{"description":"NoContent","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: Resource's organization group :{OGId} not found or user does not have access to this organization group. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}":{"get":{"tags":["AdminsV1"],"summary":"Retrieves information about the specified admin user.","description":"Performs necessary checks and get all the information of the Admin based on admin id.","operationId":"AdminsV1_Get","parameters":[{"name":"id","in":"path","description":"The admin user ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdminUser"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/AdminUser"}}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Requested 'admin' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}/delete":{"delete":{"tags":["AdminsV1"],"summary":"Deletes the specified admin user.","description":"Performs necessary checks and delete all the information of the Admin based on admin id.","operationId":"AdminsV1_Delete","parameters":[{"name":"id","in":"path","description":"The admin user ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Requested 'admin' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/addadminuser":{"post":{"tags":["AdminsV1"],"summary":"Creates a new admin user.","description":"Performs necessary checks and Create a new Admin.","operationId":"AdminsV1_Put","requestBody":{"description":"The admin user resource to create (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUser "}},"application/xml":{"schema":{"$ref":"#/components/schemas/AdminUser "}}},"required":true,"x-bodyName":"adminUser"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EntityId"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/EntityId"}}}},"400":{"description":"1. { 400: User already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }5. { 400: UserName cannot be null or empty. }6. { 400: User Not Found in Directory }7. { 400: Admin User should be associated with atleast one role, please add role to the user. }8. { 400: The TimeZone value : {TimeZoneId} is invalid. }9. { 400: Invalid Locale name. }10. { 400: Duplicate role mapping is found between Location Group id {OGId} and Role id {RoleId} }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}/update":{"post":{"tags":["AdminsV1"],"summary":"Updates the specified admin user.","description":"Performs necessary checks and Update the Admin properties based on Id.","operationId":"AdminsV1_UpdateAdminUser","parameters":[{"name":"id","in":"path","description":"The admin user ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The updated admin user details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUser  "}},"application/xml":{"schema":{"$ref":"#/components/schemas/AdminUser  "}}},"x-bodyName":"adminUser"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }1. { 400: UserName already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }5. { 400: Requested 'admin' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}/changepassword":{"post":{"tags":["AdminsV1"],"summary":"Changes the specified admin user's password.","description":"Performs necessary checks and update the password for an existing admin.","operationId":"AdminsV1_ChangePassword","parameters":[{"name":"id","in":"path","description":"The admin user ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The admin user details. (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUser   "}},"application/xml":{"schema":{"$ref":"#/components/schemas/AdminUser   "}}},"required":true,"x-bodyName":"adminuser"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Password cannot be null, empty, or whitespace }3. { 400: Password does not meet complexity requirements }4. { 400: Requested 'admin' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"401":{"description":"1. { 401: LDAP / AD users passwords cannot be changed }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}/addrole":{"post":{"tags":["AdminsV1"],"summary":"Adds a role to the specified admin user.","description":"Performs necessary checks and add an role for an existing admin.","operationId":"AdminsV1_AddRoleToUser","parameters":[{"name":"id","in":"path","description":"The admin user ID (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The role to add. (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleModel  "}},"application/xml":{"schema":{"$ref":"#/components/schemas/RoleModel  "}}},"required":true,"x-bodyName":"role"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Duplicate role association is found between Location Group id {OGId} and Role id {RoleId} for the requesting user }5. { 400: Requested 'admin' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{adminId}/configurationsaboutpage":{"get":{"tags":["AdminsV1"],"summary":"New - Retrieves the value for showConfigurationsAboutPage.","description":"Retrieves the value for showConfigurationsAboutPage which will be used to enable or disable the About page.","operationId":"AdminsV1_GetConfigurationsAboutPage","parameters":[{"name":"adminId","in":"path","description":"Identifier for an admin(Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ConfigurationsAboutModel"}}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{adminId}/configurationsaboutpage/{showpage}":{"post":{"tags":["AdminsV1"],"summary":"New - Updates the value for showConfigurationsAboutPage.","description":"Updates the value for showConfigurationsAboutPage which will be used to enable or disable the About page.","operationId":"AdminsV1_UpdateConfigurationsAboutPage","parameters":[{"name":"adminId","in":"path","description":"Identifier for an admin(Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"showpage","in":"path","description":"true if the About page should be displayed for Configurations(Required).","required":true,"schema":{"type":"boolean"}}],"responses":{"201":{"description":"Created","content":{"application/json;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/admins/{id}/removerole":{"post":{"tags":["AdminsV1"],"summary":"Removes a role from the specified admin user.","description":"Performs necessary checks and remove an role from an existing admin.","operationId":"AdminsV1_RemoveRoleFromUser","parameters":[{"name":"id","in":"path","description":"The admin user ID. (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The role to remove. (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleModel   "}},"application/xml":{"schema":{"$ref":"#/components/schemas/RoleModel   "}}},"required":true,"x-bodyName":"role"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Role cannot be removed 5. {400: Role cannot be removed, atleast one role should be associated with the admin user {AdminId} }6. { 400: Requested 'admin' was not found or user is not authorized to access it. }7. { 400: Requested 'admin role' was not found or user is not authorized to access it. }","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/advanced-ldap-sync-jobs":{"get":{"tags":["AdvancedLdapSyncJobV1"],"summary":"New - Gets Advanced Ldap Sync job details for a particular Organization group. Allows admins to preview the all the job details for a specific OG.","description":"Preview details of all the advanced LDAP sync job including the job status, enrollment user attributes etc. for a particular OG.","operationId":"AdvancedLdapSyncJobV1_AdvancedLdapSyncJobDetailsAsync","parameters":[{"name":"organization_group_uuid","in":"query","description":"The unique id of the organization group.(Required)","required":true,"schema":{"type":"uuid","default":""}},{"name":"page_number","in":"query","description":"Page number.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"Page size. Default/Maximum is 500.","schema":{"type":"integer","default":""}},{"name":"status_filter","in":"query","description":"Filters records based on the Job Status. Valid Status 1-10.","schema":{"type":"integer","default":""}},{"name":"search_text","in":"query","description":"Filters records based on the search text.","schema":{"type":"string","default":""}},{"name":"sort_column","in":"query","description":"Column based on which we can provide the sorting. Default JOB_ID.","schema":{"type":"","default":""}},{"name":"sort_order","in":"query","description":"The order based which on we can sort. Default value is ASC.","schema":{"type":"","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdvancedLdapSyncJobDetailsResponseModel"}}}},"400":{"description":"Bad Request 1.{ 6: Sort Column is invalid. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound 1.{ 6008: Requested Organization Group was not found or user is not authorized to access it. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["AdvancedLdapSyncJobV1"],"summary":"New - Creates a new LDAP sync job.","description":"Creates the advanced ldap sync job. Queues a message in MSMQ for the Directory Sync Services to pick up and process.","operationId":"AdvancedLdapSyncJobV1_CreateAdvancedLdapSyncJobAsync","requestBody":{"description":"Request model to create new ldap sync job.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedLadpSyncJobRequestModel"}}},"required":true,"x-bodyName":"advancedLdapSyncJobRequest"},"responses":{"202":{"description":"Accepted","headers":{"Location":{"description":"advanced-ldap-sync-jobs/{uuid}","schema":{"type":"string"}}},"content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdvancedLdapSyncJobResponseModel"}}}},"400":{"description":"Bad Request 1.{ 6066: Enrollment Users are not within the range 0-500.} 2.{ 6066: Duplicate Enrollment Users found : {0}} 3.{ 6026: Enrollment Users not found : {0}} 4.{ 6066: Invalid Input Data - Invalid Advanced Ldap Sync Job Request.} 5.{ 6066: Refresh Type is not Valid. It should be ALL or MINIMAL for the provided enrollment users.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1.{ 6044: Admin is not authorized to access the OrganizationGroup } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound 1.{ 6064: Ldap configuration not found for this organization group. } 2.{ 6008: No organization group found for the given Organization Group UUID : {0}} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1.{ 6305: Advanced ldap sync job already exists for this organization group. New job cannot be created.} 2.{ 6308: Failed to create AdvancedLdapSync Job. Please contact Administrator.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/advanced-ldap-sync-jobs/{uuid}":{"get":{"tags":["AdvancedLdapSyncJobV1"],"summary":"New - Gets LDAP sync job details. Allows admins to preview the changes to enrollment user attributes.","description":"Preview details of the advanced LDAP sync job including the job status, enrollment user attributes etc.","operationId":"AdvancedLdapSyncJobV1_PreviewAdvancedLdapSyncJobAsync","parameters":[{"name":"uuid","in":"path","description":"The unique id of the created advanced ldap sync job.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page_number","in":"query","description":"Page number.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"Page size. Default/Maximum is 500.","schema":{"type":"integer","default":""}},{"name":"search_text","in":"query","description":"Filters records based on the search text.","schema":{"type":"string","default":""}},{"name":"sort_column","in":"query","description":"Column based on which we can provide the sorting. Default JOB_ID.","schema":{"type":"","default":""}},{"name":"sort_order","in":"query","description":"The order based which on we can sort. Default value is ASC.","schema":{"type":"","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/PreviewAdvancedLdapSyncJobResponseModel"}}}},"400":{"description":"Bad Request 1.{ 6310: Preview status is not valid.} 2.{ 6: Sort Column is invalid. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{ 6301: Advanced LDAP Sync Job does not exist.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"UnProcessable Entity 1.{ 6304: The job is not in Pending Approval status and no preview data is available.} 2.{ 6312: The job has timed out as status has not changed for more than 24 hours.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["AdvancedLdapSyncJobV1"],"summary":"New - Approves or declines the created LDAP sync job.","description":"Functionality to approve or decline the created advanced LDAP sysnc job.","operationId":"AdvancedLdapSyncJobV1_ApproveOrDeclineAdvancedLdapSyncJobAsync","parameters":[{"name":"uuid","in":"path","description":"The unique id of the advanced ldap sync job created.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"action","in":"query","description":"The approval action.(Required)","required":true,"schema":{"type":"","default":""}}],"requestBody":{"description":"Advanced ladp sync job approval request model.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedLadpSyncJobApprovalRequestModel"}}},"required":true,"x-bodyName":"advancedLdapSyncJobApprovalRequest"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{}}},"400":{"description":"Bad Request 1.{ 6066: Action - {0} is Invalid.} 2.{ 6066: 'action' cannot be null, empty, or whitespace.} 3.{ 6066: Job Approval Type {0} is Invalid.} 4.{ 6066: Enrollment Users are not within the range 0-500.} 5.{ 6066: Duplicate Enrollment Users found : {0}} 6.{ 6026: Enrollment Users not found : {0}} 7.{ 6066: Enrollment Users not found for the Selected Action Type.} 8.{ 6066: Decline Action cannot be performed on selected Users.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1.{ 6301: Advanced LDAP Sync Job does not exist.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"UnProcessable Entity 1.{ 6303: The job is not in Pending Approval status and cannot be approved or denied.} 2.{ 6308: Failed to update AdvancedLdapSync Job. Please contact Administrator.} 3.{ 6306: Failure to update staging data. Job cannot be selected for Partial Approval.Please contact Administrator.} 4.{ 6312: The job has timed out as status has not changed for more than 24 hours.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/advanced-ldap-sync-jobs/status/{uuid}":{"get":{"tags":["AdvancedLdapSyncJobV1"],"summary":"New - Gets LDAP sync job details.","description":"Get details of the advanced LDAP job including the job ID, job progress attributes etc.","operationId":"AdvancedLdapSyncJobV1_GetJobStatusAsync","parameters":[{"name":"uuid","in":"path","description":"The unique id of the advanced ldap sync job.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AdvancedLdapSyncJobProgressResponseModel"}}}},"404":{"description":"Not Found 1.{ 6301: Advanced LDAP Sync Job does not exist.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"UnProcessable Entity 1.{ 6309: The job is not yet Approved and no progress data is available.} 2.{ 6311: Unable to get the job progress details since the advanced ldap sync job status has changed.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{id}/androidwork":{"get":{"tags":["AndroidWork"],"summary":"Gets the Android Work Settings for Passed Location Group.","description":"Gets the Android Work Settings for Passed Location Group and Settings consists of EnterpriseId, ServiceAccountAdminEmail, ServiceAccountEmail and ServiceAccountClientId.","operationId":"AndroidWork_GetAndroidWorkSettings","parameters":[{"name":"id","in":"path","description":"LocationGroup Id.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AndroidWorkSetupModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/AndroidWorkSetupModel"}}}},"404":{"description":"NotFound 1.{6071:Android Work Not configured}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{id}/apns":{"get":{"tags":["Apns"],"summary":"Method to Create APNs Certificate Request.","description":"Returns the status of the APNs Configuration for an Organization Group.\r\nUpload certificate Blob Id is -1 when APNs is already Configured for the Organization Group.","operationId":"Apns_ApnsCertificate","parameters":[{"name":"id","in":"path","description":"This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required).","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"force","in":"query","description":"Option to force generate APNs Cert Request.","schema":{"type":"boolean","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ApnsSetupModel "}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/ApnsSetupModel "}}}},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: Value must be True or False}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"503":{"description":"Service Unavailable. 1. {6013: AirWatch certificate portal is not available} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["Apns"],"summary":"Method to Save the APNs Configuration for an Organization Group.","description":"This endpoint is applicable after the APNs certificate Blob(.pem) is uploaded to the AirWatch server.","operationId":"Apns_SaveApnsCertificate","parameters":[{"name":"id","in":"path","description":"This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Parameter for APNs Setup Model (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsSetupModel  "}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApnsSetupModel  "}}},"required":true,"x-bodyName":"apnsSetupModel"},"responses":{"201":{"description":"Created","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: Invalid APNs Generation Status Id} 4. {6013: Invalid BlobId of the certificate} 5. {6013: Certificate Password is required but it is empty or null in input} 6. {6013: Certificate password mismatches with uploaded certificate} 7. {6013: Uploaded certificate mismatches with the AW certificate request} 8. {6013: Certificate Expired} 9. {6013: Certificate must have a private key} 10. {6013: Invalid file format}11. {6027: Topic of uploaded certificate for renewal mismatches with existing certificate}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"patch":{"tags":["Apns"],"summary":"New - Update the APNs Configuration for an Organization Group.","description":"This endpoint is applicable after APNs is configured on the AirWatch server.","operationId":"Apns_UpdateApnsCertificate","parameters":[{"name":"id","in":"path","description":"The OrganizationGroup Identifier (Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"Parameter for APNs Configuration Model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApnsConfigurationModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ApnsConfigurationModel"}}},"x-bodyName":"apnsConfigurationModel"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: The permissions for the APNS certificate in this organization group is Overridden Only} 4. {6013: No APNs certificates were found on the group} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{ogid}/storage":{"get":{"tags":["AppContent"],"summary":"Fetches Application and Content storage informations for Organization Group that is of type Customer.","description":"Provides application and content storage information for the specified Organization Group that is of type Customer.","operationId":"AppContent_GetAppContentStorageInfo","parameters":[{"name":"ogid","in":"path","description":"The Organization Group ID.(Required).","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/AppContentStorageEntity"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/AppContentStorageEntity"}}}},"400":{"description":"1.{6 : Organization Group not found or Admin user does not have access to it.","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1.{8 : No Records Found for the OG.","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/remote-management/organization-groups/{organizationGroupUuid}/configurations":{"get":{"tags":["AssistConfigurationV1"],"summary":"New - Gets configurations for an organization group.","description":"Gets assist configurations for an organization group Id.","operationId":"AssistConfigurationV1_GetDefaultConfigurationAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for the organization group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","description":"The type will be used to determine whether to fetch the configurations of configured smart group names, the default settings, or specific smart group configurations.(Required)","required":true,"schema":{"type":"","default":""}},{"name":"smart_group_uuid","in":"query","description":"Using this uuid to get smart group specific configurations.","schema":{"type":"uuid","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ConfigurationResponseModel"}}}},"400":{"description":"Bad Request 1. {5006 : Remote management is not enabled for the customer organization group {0}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {5208: Smart Group not found with Id {0} or User does not have access to it.} 2. {6008: Organization group not found } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1012 - Unprocessable Entity 1. { Type must be either DefaultConfigurations or ListOfConfiguredSmartGroups or SmartGroupConfigurations. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["AssistConfigurationV1"],"summary":"New - Create new or update configurations for a given smart group.","description":"Create new or update configurations for a given smart group Uuid.","operationId":"AssistConfigurationV1_SaveConfigurationForSmartGroupAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for the organization group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"action","in":"query","description":"Type of action to execute for create new or update the configurations.(Required)","required":true,"schema":{"type":"","default":""}},{"name":"smart_group_uuid","in":"query","description":"Assist configurations will be created or updated for this smart group UUID(Required)","required":true,"schema":{"type":"uuid","default":""}}],"requestBody":{"description":"Model contains configuration(Required).","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConfigurationControlV1Model"}}}},"required":true,"x-bodyName":"requestBody"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ConfigurationResponseModel"}}}},"400":{"description":"Bad Request 1. {5006 : Remote management is not enabled for the customer organization group {0}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {5208: Smart Group not found with Id {0} or User does not have access to it.} 2. {6008: Organization group not found } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1012 - Unprocessable Entity 1. { Input cannot be empty } 2. { Action must be either Add or Update. }              ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"delete":{"tags":["AssistConfigurationV1"],"summary":"New - Delete assist configurations for a given smart group.","description":"Delete assist configurations for a given smart group Uuid.","operationId":"AssistConfigurationV1_DeleteConfigurationForGivenSmartGroupAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Unique identifier for the organization group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"smart_group_uuid","in":"query","description":"Using this uuid to delete smart group specific configurations.(Required)","required":true,"schema":{"type":"uuid","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ConfigurationResponseModel"}}}},"400":{"description":"Bad Request 1. {5006 : Remote management is not enabled for the customer organization group {0}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {5208: Smart Group not found with Id {0} or User does not have access to it.} 2. {6008: Organization group not found } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1012 - Unprocessable Entity 1. { Input cannot be empty } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/cloud-connector/connection-status":{"get":{"tags":["CloudConnector"],"summary":"New - Returns the connection status for the AirWatch Cloud Connector configured for the given organization group.","description":"Gets the AirWatch Cloud Connector connection status for the organization group.","operationId":"CloudConnector_GetConnectionStatusAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/ConnectionStatusV1Model"}}}},"403":{"description":"Forbidden   1. {5145 : User does not have access to this organization group - {uuid}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5177 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {6177: This operation can be performed only on Customer Organization Group. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/cloud-connector/acc-logs":{"post":{"tags":["CloudConnector"],"operationId":"CloudConnector_ExtractLogAsync","parameters":[{"name":"organizationGroupUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractLogRequestV1Model"}}},"required":true,"x-bodyName":"extractLogRequest"},"responses":{"202":{"description":"Accepted: Received Request to extract ACC Logs","content":{"application/json;version=1":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden   1. {5145 : User does not have access to this organization group - {uuid}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {5177 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {6177: This operation can be performed only on Customer Organization Group. } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"500":{"description":"Internal Server Error 1. {7156: Unable to send request to ACC.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/customattributes/create":{"post":{"tags":["CustomAttributes"],"summary":"Creates a custom attribute definition in AirWatch.","description":"Creates a custom attibute for the organization group. Multiple values can be added to a custom attribute with this API.","operationId":"CustomAttributes_SaveCustomAttribute","requestBody":{"description":"Entity defining a custom attribute to be added (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeModel "}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeModel "}}},"required":true,"x-bodyName":"customAttribute"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EntityId"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/EntityId"}}}},"400":{"description":"1.{Bad Request - Resource's organization group :{} not found or user does not have access to this organization group.} 2.{1018: Invalid input. The argument cannot be null}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/customattributes/search":{"get":{"tags":["CustomAttributes"],"summary":"Search custom attributes.","description":"Searches Custom Attributes based on name, page and pagesize.","operationId":"CustomAttributes_Search","parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifer.","schema":{"type":"integer","default":""}},{"name":"name","in":"query","description":"Custom Attribute Name.","schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Specific page number to get. 0 based index.","schema":{"type":"integer","default":""}},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CustomAttributeSearchResult"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/CustomAttributeSearchResult"}}}},"204":{"description":"No content","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1.{6: Resource's organization group: {} not found or user does not have access to this organization group.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/custom-gateway-settings/{moduleName}/configuration/{configurationUuid}":{"get":{"tags":["CustomGatewaySettingsV1"],"summary":"New - Gets the Custom Gateway Settings for ContentGateway,Tunnel and MEM","description":"Custom Gateway Settings needed for interacting with ContentGateway,Tunnel and MEM","operationId":"CustomGatewaySettingsV1_GetCustomGatewaySettings","parameters":[{"name":"configurationUuid","in":"path","description":"configuration id of ContentGateway, Tunnel and MEM(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"moduleName","in":"path","description":"module name ContentGateway, Tunnel and MEM(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomGatewaySettingV1"}}}}},"404":{"description":"Not Found 1. {6200: Gateway Configuration not found} 2. {6204: Module name not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["CustomGatewaySettingsV1"],"summary":"New - Bulk Add or update or Delete  Custom Gateway Settings","description":"Bulk Add or update or Delete a set of Custom Gateway Settings linked to configuration","operationId":"CustomGatewaySettingsV1_EditCustomGatewaySettings","parameters":[{"name":"configurationUuid","in":"path","description":"configuration id(Required)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"moduleName","in":"path","description":"module name ContentGateWay,Tunnel or MEM(Required)","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Custom Gateway Setting to be added(Required)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomGatewaySettingV1"}}}},"required":true,"x-bodyName":"CustomGatewaySetting"},"responses":{"204":{"description":"No content ","content":{"application/json;version=1":{}}},"400":{"description":"Bad Request 1. {6203: Invalid data type for Custom gateway setting}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found 1. {6200: Gateway Configuration not found} 2. {6204: Module name not found}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/custom-gateway-settings/{moduleName}/keys":{"get":{"tags":["CustomGatewaySettingsV1"],"summary":"New - Gets All the predefined keys for the module with its validation details","description":"Custom Gateway Setting keys and its validation details","operationId":"CustomGatewaySettingsV1_GetCustomGatewaySettingKeys","parameters":[{"name":"moduleName","in":"path","description":"module name ContentGateWay,Tunnel or MEM(Required)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomGatewaySettingKeyV1"}}}}},"404":{"description":"Not Found 1. {6204: Module name not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/custom-gateway-settings/keys/{keyUuid}":{"get":{"tags":["CustomGatewaySettingsV1"],"summary":"New - Gets Details of a Key","description":"Custom Gateway Setting keys","operationId":"CustomGatewaySettingsV1_GetCustomGatewaySettingKeyDetails","parameters":[{"name":"keyUuid","in":"path","description":"Custom Gateway Settings Key Guid(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CustomGatewaySettingKeyV1"}}}},"404":{"description":"Not Found 1. {6202 : Custom gateway setting key Not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/customreports/refreshtoken":{"get":{"tags":["CustomReportsV1"],"summary":"New - Gets the Custom Reports refresh token for an organization group","description":"This api generates the Custom Report refresh token valid at the user's topmost Customer Organization Group. The token is valid for 5 minutes.","operationId":"CustomReportsV1_GetRefreshToken","responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/CustomReportTokenV1Model"}}}},"400":{"description":"BadRequest 1.{ 6070: Customer Group not found.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden 1.{ 6078: User does not have permission to perform this operation.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/delete":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Delete the registered devices.","description":"Delete the registered devices identified by [Asset number] or [Udid] or [Serialnumber]\r\n            (Formats: Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: RZ1G124JZ6W, AssetNumber: ea856771ba6277bfca16528a79c5ce1f).","operationId":"DeviceRegistrationV1_DeleteRegisteredDevices","parameters":[{"name":"httpRequest","in":"query","description":"Holds request entity coming through call pipeline.","required":true,"schema":{"type":"object"}},{"name":"searchby","in":"query","description":"The identifier type must be one of the following [ Udid, Serialnumber, AssetNumber](Required).","required":true,"schema":{"type":"string","default":""}},{"name":"username","in":"query","description":"User name with which the device is enrolled.","schema":{"type":"string","default":""}}],"requestBody":{"description":"List of devices identified by Asset number/Udid/SerialNumber.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkInput"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BulkInput"}}},"x-bodyName":"bulkInput"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"422":{"description":"1. {1012 Unprocessable Entity} {bulkInput.BulkValues Message: The BulkValues field is required.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/enrollmenttoken/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Search for Enrollment Token and Device details.","description":"Search for Enrollment Token and Device details using the query information provided.","operationId":"DeviceRegistrationV1_EnrollmentTokenSearch","parameters":[{"name":"username","in":"query","description":"UserName of the Enrollment User for whom Enrollment Tokens needs to be searched.","schema":{"type":"string","default":""}},{"name":"userid","in":"query","description":"Identifier of the Enrollment User for whom Enrollment Tokens needs to be searched.","schema":{"type":"integer","default":""}},{"name":"organizationgroupid","in":"query","description":"Identifier of the Organization Group where Enrollment Tokens needs to be searched.","schema":{"type":"integer","default":""}},{"name":"organizationgroup","in":"query","description":"Organization Group Name where Enrollment Tokens needs to be searched.","schema":{"type":"string","default":""}},{"name":"serialnumber","in":"query","description":"Serial number of device for which Enrollment Tokens to be retrieved. Eg:RZ1G124JZ6W.","schema":{"type":"string","default":""}},{"name":"assetnumber","in":"query","description":"Asset Number of device for which Enrollment Tokens to be retrieved.  Eg:ea856771ba6277bfca16528a79c5ce1f.","schema":{"type":"string","default":""}},{"name":"enrollmentstatusid","in":"query","description":"EnrollmentStatusID of device for which Enrollment Tokens to be retrieved.","schema":{"type":"integer","default":""}},{"name":"compliancestatusid","in":"query","description":"ComplianceStatus of device for which Enrollment Tokens to be retrieved.","schema":{"type":"integer","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EnrollmentTokensModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/EnrollmentTokensModel"}}}},"204":{"description":"No Content","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"400 : Resource's organization group :{organizationgroupid} not found or user does not have access to this organization group.","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/{id}/registerdevice":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Register a device to enrollment user.","description":"Register a device to the specified enrollment user.","operationId":"DeviceRegistrationV1_RegisterDeviceForUserAsync","parameters":[{"name":"id","in":"path","description":"The enrollment user Id.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"The device details to register.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterDeviceDetailsModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/RegisterDeviceDetailsModel"}}},"x-bodyName":"registerDeviceDetails"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"1. {400 : Custom Attributes can be created only at Customer Organization Group. Organization Group ID:registerDeviceDetails.LocationGroupId is not of type Customer.} 2. {400 : Resource's organization group :registerDeviceDetails.LocationGroupId not found or user does not have access to this organization group.} 3. {5092 : Input already specified value for this custom attribute. (Name:{} Application:{})} 4. {6181 : Found existing enrolled device record with the same attribute(s) which are required to be unique (UDID, Serial Number, or IMEI).} 4. {6127: Tenant OG is required in a parent hierarchy to add/register device at OG {0}.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessable Entity 1. {6124: Tenant OG is required at parent hierarchy for an OG {Organization GroupId} to register a device.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/enrolleddevices/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Retrieves enrolled device details.","description":"Retrieves enrolled device details for the query information provided in the request\r\n            <br />\r\n            *seensince, seentill, enrolledsince and enrolledtill* fields accept the following\r\n            Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\n            yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\n            yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.","operationId":"DeviceRegistrationV1_RetrieveEnrolledDevices","parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifier in which device details will be retrieved.","schema":{"type":"integer","default":""}},{"name":"organizationgroup","in":"query","description":"Organization Group Name search parameter in which device details will be retrieved.","schema":{"type":"string","default":""}},{"name":"platform","in":"query","description":"Platform filter for the device details to be retrieved.","schema":{"type":"string","default":""}},{"name":"customattributes","in":"query","description":"List of custom attribute names [separated by comma (,)] for which values should be returned.","schema":{"type":"string","default":""}},{"name":"serialnumber","in":"query","description":"Device serialnumber for which values should be returned.","schema":{"type":"string","default":""}},{"name":"seensince","in":"query","description":"SeenSince DateTime, devices registered after the seensince datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}},{"name":"seentill","in":"query","description":"SeenTill DateTime, devices registered till the seentill datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}},{"name":"enrolledsince","in":"query","description":"EnrolledSince DateTime, devices enrolled after the enrolledsince datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}},{"name":"enrolledtill","in":"query","description":"EnrolledTill DateTime, devices enrolled till the enrolledtill datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EnrolledDevices"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/EnrolledDevices"}}}},"204":{"description":"No Content","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EnrolledDevices"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/EnrolledDevices"}}}},"400":{"description":"1. {400 : Resource's organization group :{organizationgroupid} not found or user does not have access to this organization group.} 2. {400 : Custom Attribute Name should be a maximum of 255 characters.} 3. {400 : Platform is Invalid.} 4. {400 : SeenSince should be less than SeenTill. But, {seensince} is greater than {seentill}.} 5. {400 : EnrolledSince should be less than EnrolledTill. {enrolledsince} is greater than {enrolledtill}.}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Retrieves registered device details.","description":"Retrieves registered device details for the query information provided in the request\r\n            <br />\r\n            *seensince and seentill* fields accept the following\r\n            Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\n            yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\n            yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.","operationId":"DeviceRegistrationV1_RetrieveRegisteredDevices","parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifier in which device details will be retrieved.","schema":{"type":"integer","default":""}},{"name":"organizationgroup","in":"query","description":"Organization Group Name search parameter in which device details will be retrieved.","schema":{"type":"string","default":""}},{"name":"platform","in":"query","description":"Platform filter for the device details to be retrieved.","schema":{"type":"string","default":""}},{"name":"customattributes","in":"query","description":"List of custom attribute names [separated by comma (,)] for which values should be returned.","schema":{"type":"string","default":""}},{"name":"assetnumber","in":"query","description":"Asset number filter for the device details to be retrieved. Eg: ea856771ba6277bfca16528a79c5ce1f.","schema":{"type":"string","default":""}},{"name":"seensince","in":"query","description":"SeenSince DateTime, devices registered after the seensince datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}},{"name":"seentill","in":"query","description":"SeenTill DateTime, devices registered till the seentill datetime will be returned if present.","schema":{"type":"string","format":"date-time","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/RegisteredDevices"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/RegisteredDevices"}}}},"204":{"description":"No Content","content":{"application/json;version=1":{},"application/xml;version=1":{}}},"400":{"description":"{Platform is Invalid.}1. {SeenSince should be less than SeenTill. But, {seensince} is greater than {seentill}.}2.","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/device-wipes":{"get":{"tags":["DeviceWipes"],"summary":"New - Gets the list of device wipe events for the specified organization group.","description":"Gets the list of device wipe events for devices enrolled in the organization group.","operationId":"DeviceWipes_GetDeviceWipeEventsAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"search_text","in":"query","description":"The search text string which the device wipe results will be filtered by.","schema":{"type":"string","default":""}},{"name":"start_date","in":"query","description":"The start of the date range which the results will be filtered by.","schema":{"type":"string","format":"date-time","default":""}},{"name":"end_date","in":"query","description":"The end of the date range which the results will be filtered by.","schema":{"type":"string","format":"date-time","default":""}},{"name":"wipe_type","in":"query","description":"The wipe action type which the results will be filtered by. Supported values are DEVICE_WIPE, ENTERPRISE_WIPE.","schema":{"type":"","default":""}},{"name":"wipe_source","in":"query","description":"The source of the wipe action by which the results will be filtered. Supported values are UNKNOWN, OTHER, DEVICE_DENYLIST_ACTION, COMPLIANCE, USER_DISABLED, ADMIN_ACTION, ADMIN_BULK_ACTION, SELF_SERVICE_PORTAL, DEVICE_SYNC, SMART_GROUP_EDIT, BULK_API_ACTION, DEVICE_UNENROLLMENT_REQUESTED, ADMIN_ACTION_DELETE_DEVICE, ADMIN_BULK_ACTION_DELETE_DEVICE, BULK_ADMIN_API_ACTION_DELETE_DEVICE, SINGLE_ADMIN_API_ACTION_DELETE_DEVICE.","schema":{"type":"","default":""}},{"name":"wipe_status","in":"query","description":"The status of the wipe action by which the results will be filtered. Supported values are APPROVED, HELD, QUEUED, ABORTED.","schema":{"type":"","default":""}},{"name":"ownership","in":"query","description":"The comma seperated device ownership types by which the results will be filtered. Supported values are UNKNOWN, CORPORATE_DEDICATED, EMPLOYEE_OWNED, CORPORATE_SHARED.","schema":{"type":"","default":""}},{"name":"page","in":"query","description":"The page number being requested.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"The maximum records per page. Default 50, Maximum page size is 500.","schema":{"type":"integer","default":""}},{"name":"sort_column","in":"query","description":"The name of the column the results should be ordered by. Supported values are DATE, DEVICE_FRIENDLY_NAME, USER, ORGANIZATION_GROUP. Default is DATE","schema":{"type":"","default":""}},{"name":"sort_direction","in":"query","description":"The sort order by direction. Supported values are ASC, DESC. Default ASC.","schema":{"type":"","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeviceWipeResponseModel"}}}},"404":{"description":"Not Found   1. {6008 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessible entity   1. {1012 : Start date can not be greater than end date.}   2. {1012 : Invalid start date.}   3. {1012 : Invalid end date.}   4. {1012 : Invalid wipe type.}   5. {1012 : Invalid wipe source.}   6. {1012 : Invalid wipe status.}   7. {1012 : Invalid ownership type.}   8. {1012 : Page number should be non negative.}   9. {1012 : Invalid page size value specified. Expected between {min} and {max}}   11. {1012 : Invalid sort column.}   12. {1012 : Invalid sort direction.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["DeviceWipes"],"summary":"New - Performs the specified action on the selected wipe actions.","description":"Approves or rejects the specified wipe actions for further processing.","operationId":"DeviceWipes_UpdateWipeActionsAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"action","in":"query","description":"Specifies what action should be taken. Supported actions are APPROVE, REJECT.(Required)","required":true,"schema":{"type":"","default":""}}],"requestBody":{"description":"The list of uuids for the wipe action records.(Required).","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"}}}},"required":true,"x-bodyName":"deviceWipeUuids"},"responses":{"202":{"description":"Accepted","content":{"application/json;version=1":{}}},"400":{"description":"Bad Request   1. {5181 : Invalid actions. Valid actions are APPROVE, REJECT. }   2. {5182 : The list of device wipe uuids must be specified.}   3. {5183 : Number of device wipe uuids should not exceed 100.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"Not Found   1. {6008 : Organization group Uuid - {organization-group-uuid} is not found.}   2. {5184 : Server action uuids - {server-action-uuids} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/device-wipes/reports":{"post":{"tags":["DeviceWipes"],"summary":"New - Creates the report for device wipe log.","description":"Creates the report for device wipe log in CSV or XLSX format.","operationId":"DeviceWipes_CreateDeviceWipeLogReportAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The request parameter to filter out the data for export.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceWipeRequestV1"}}},"required":true,"x-bodyName":"deviceWipeRequest"},"responses":{"202":{"description":"Accepted","headers":{"Location":{"description":"/{organization-group-uuid}/exported-reports/{report-uuid}","schema":{"type":"string"}}},"content":{"application/json;version=1":{}}},"404":{"description":"Not Found   1. {6008 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"Unprocessible entity   1. {1012 : Start date can not be greater than end date.}   2. {1012 : Invalid wipe type.}   3. {1012 : Invalid wipe status.}   4. {1012 : Invalid ownership type.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/device-wipe-lock":{"get":{"tags":["DeviceWipes"],"summary":"New - Gets the state of the wipe lock.","description":"Returns the current state of the device wipe threshold lock.","operationId":"DeviceWipes_GetWipeLockStateAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/WipeLockStateModel"}}}},"404":{"description":"Not Found   1. {5177 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"put":{"tags":["DeviceWipes"],"summary":"New - Resets the wipe lock to allow scheduled wipe actions to proceed.","description":"Unlocks the wipe actions that were placed in held status because of the wipe threshold setting.","operationId":"DeviceWipes_ResetWipeLockAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"The unique identifier of the organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content","content":{"application/json;version=1":{}}},"404":{"description":"Not Found   1. {5177 : Organization group Uuid - {organization-group-uuid} is not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{groupUuid}/deem/configurations":{"get":{"tags":["DigitalEmployeeExperienceManagementV1"],"summary":"New - Loads DEEM configurations based on query parameter for provided organization group.","description":"Searches DEEM configurations, loads paginated list of configurations details and payloads.","operationId":"DigitalEmployeeExperienceManagementV1_GetDeemConfigurationsAsync","parameters":[{"name":"groupUuid","in":"path","description":"Unique identifier for organization group(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page_number","in":"query","description":"Page number.","schema":{"type":"integer","default":""}},{"name":"page_size","in":"query","description":"Page size. Default is 50 and Maximum is 500.","schema":{"type":"integer","default":""}},{"name":"name","in":"query","description":"The name of configuration.","schema":{"type":"string","default":""}},{"name":"description","in":"query","description":"The description for configuration.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DeemConfigurationsSearchResponseV1Model"}}}},"403":{"description":"1. {6092 : User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5177 : Organization group not found} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"groups/{groupUuid}/deem/configurations","x-controller-fullname":"AW.Core.Api.Controllers.DigitalEmployeeExperienceManagement.V1.DigitalEmployeeExperienceManagementV1Controller","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000},"put":{"tags":["DigitalEmployeeExperienceManagementV1"],"summary":"New - Creates and Updates deem configuration defined by admin.","description":"Creates and Updates payload, smart group assignments , priority and exclusions for DEEM configurations. Register rule with Entitlement Service.","operationId":"DigitalEmployeeExperienceManagementV1_UpdateDeemConfigurationsAsync","parameters":[{"name":"groupUuid","in":"path","description":"Unique identifier for an organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Configuration which contains payload, list of smart group assignments, priority and exclusions.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeemConfigurationsRequestV1Model"}},"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/DeemConfigurationsRequestV1Model"}}},"required":true,"x-bodyName":"configurations"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{}}},"400":{"description":"1. {7111 : The assigned and excluded smartgroups should not be same.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"1. {6092 : User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5177 : Organization group not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"groups/{groupUuid}/deem/configurations","x-controller-fullname":"AW.Core.Api.Controllers.DigitalEmployeeExperienceManagement.V1.DigitalEmployeeExperienceManagementV1Controller","x-operation-type":"Bulk","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/groups/{groupUuid}/deem/configurations/{configurationUuid}":{"delete":{"tags":["DigitalEmployeeExperienceManagementV1"],"summary":"New - Deletes DEEM configuration.","description":"Deletes configuration and registration from Entitlement Service.","operationId":"DigitalEmployeeExperienceManagementV1_DeleteDeemConfigurationAsync","parameters":[{"name":"groupUuid","in":"path","description":"Unique identifier for an organization group.(Required).","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"configurationUuid","in":"path","description":"Deem configuration UUID.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{}}},"403":{"description":"1. {6092 : User doesn't have sufficient permissions to perform this operation.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"1. {5177 : Organization group not found.} 2. {7140 : DEEM configuration not found.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}],"x-relative-path":"groups/{groupUuid}/deem/configurations/{configurationUuid}","x-controller-fullname":"AW.Core.Api.Controllers.DigitalEmployeeExperienceManagement.V1.DigitalEmployeeExperienceManagementV1Controller","x-operation-type":"Single","x-sla-ms-micro":5000,"x-sla-ms-xxsmall":5000,"x-sla-ms-xsmall":5000,"x-sla-ms-small":5000,"x-sla-ms-medium":5000,"x-sla-ms-large":5000}},"/groups/{uuid}/dropship-provisioning":{"get":{"tags":["EnableDropshipProvisioningV1"],"summary":"New - Gets dropship provisioning details of a given organization group UUID.","description":"Returns dropship provisioning details of given organization group id and its children.","operationId":"EnableDropshipProvisioningV1_GetDetailsAsync","parameters":[{"name":"uuid","in":"path","description":"Organization group UUID to perform the operation on.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DropshipProvisioningSettingsDetailsResponseV1Model"}}}},"400":{"description":"Bad Request 1. {5056: Invalid Organization Group UUID format.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden  1. {6019: User does not have access to organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound  1. {6008: No organization group found for the given organization group UUID.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]},"post":{"tags":["EnableDropshipProvisioningV1"],"summary":"New - Enable a dropship provisioning for given organization groups","description":"Saves and enable dropship provisioning for a given Organization Group UUID.","operationId":"EnableDropshipProvisioningV1_EnableDropshipProvisioningAsync","parameters":[{"name":"uuid","in":"path","description":"Organization group UUID to perform the operation on.(Required).","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Enable Dropship Provisioning to be saved.(Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DropshipProvisioningSettingsDetailsRequestV1Model"}}},"required":true,"x-bodyName":"enableDropshipProvisioningDetails"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/DropshipProvisioningSettingsDetailsResponseV1Model"}}}},"400":{"description":"Bad Request 1. {5056: Invalid Organization Group UUID format.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"403":{"description":"Forbidden  1. {6019: User does not have access to organization group.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"404":{"description":"NotFound  1. {6008: No organization group found for the given organization group UUID.} ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"422":{"description":"1012 - Unprocessable Entity 1. { The unique identifier (UUID) of the Organization Group cannot be empty } ","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/serialnumber/{serialnumber}/createcustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Creates multiple new device custom attributes for a registered device.","description":"Creates new device custom attributes for regisered devices. Device Serial number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_CreateCustomAttributesForRegDevices","parameters":[{"name":"serialnumber","in":"path","description":"Device Serial number  (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes  (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/serialnumber/{serialnumber}/updatecustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Updates multiple device custom attribute values for a registered device.","description":"Updates device custom attributes for a regisered device. Device Serial number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_UpdateCustomAttributesForRegDevices","parameters":[{"name":"serialnumber","in":"path","description":"Device Serial number  (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes  (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/serialnumber/{serialnumber}/deletecustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Deletes multiple device custom attribute values for a registered device.","description":"Deletes device custom attributes for a regisered device. Device Serial number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_DeleteCustomAttributesForRegDevices","parameters":[{"name":"serialnumber","in":"path","description":"Device Serial number (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/assetnumber/{assetnumber}/createcustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Creates multiple new device custom attributes for a registered device.","description":"Creates new device custom attributes for regisered devices. Device Asset number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_CreateCustomAttributesForRegDevicesByAssetNr","parameters":[{"name":"assetnumber","in":"path","description":"Device Asset number (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/assetnumber/{assetnumber}/updatecustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Updates multiple device custom attribute values for a registered device.","description":"Updates device custom attributes for a regisered device. Device asset number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_UpdateCustomAttributesForRegDevicesByAssetNr","parameters":[{"name":"assetnumber","in":"path","description":"Device asset number (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/users/registereddevices/assetnumber/{assetnumber}/deletecustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Deletes multiple device custom attribute values for a registered device.","description":"Deletes device custom attributes for a regisered device. Device asset number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_DeleteCustomAttributesForRegDevicesByAssetNr","parameters":[{"name":"assetnumber","in":"path","description":"Device asset number (Required).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"An Entity for the custom attributes (Required).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CustomAttributeListModel"}}},"required":true,"x-bodyName":"customAttributes"},"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}},"400":{"description":"1.{6: Custom-Attributes list is empty} 2.{ 6: Registered device not found with identifier :{}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}},"409":{"description":"{41: Multiple registration token records found for {}}","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}},"application/xml;version=1":{"schema":{"$ref":"#/components/schemas/BaseExceptionModel"}}}}},"security":[{"BasicAuth":[ ]},{"CmsAuth":[ ]},{"ApiKeyAuth":[ ]}]}},"/groups/{organizationGroupUuid}/settings/enrollment/customization":{"get":{"tags":["EnrollmentCustomizationSettingsV1"],"summary":"New - Get Enrollment Customizations settings for the given Organization Group","description":"Get the Enrollment Customization settings for the given Organization Group","operationId":"EnrollmentCustomizationSettingsV1_GetEnrollmentCustomizationsSettingsForOGAsync","parameters":[{"name":"organizationGroupUuid","in":"path","description":"Identifier of an Organization Group(Required)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json;version=1":{"schema":{"$ref":"#/components/schemas/EnrollmentCustomizationSettingsResponseV1Model"}}}},"404":{"description":"NotFound 1. {6008: No organization group found for the given organization group UUID
[...]
